<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADMINISTRATOR</title>
    <link rel="stylesheet" href="/admin/css/general.css?v=1656408363">
    <link rel="stylesheet" href="/admin/css/jquery-ui.css">
    <script src="/admin/js/jquery-1.12.4.min.js"></script>
    <script src="/admin/js/jquery-ui.js"></script>
    <script src="/admin/js/layout.js"></script>
    <script src="/admin/js/common.js"></script>
</head>

<body>
<div id="wrap">
    <header th:replace="~{fragments/header :: header}"></header>
    <div id="container">
        <h2 class="blind"></h2>
        <section class="sub_section">
            <div class="content_wrap">
                <div class="content mycar">
                    <div class="content_head">
                        <th:block th:if="${requestValue.getRequestURI().startsWith('/admin/sale')}">
                            <h3>내 차 팔기</h3>
                        </th:block>
                        <th:block th:if="${requestValue.getRequestURI().startsWith('/admin/purchase')}">
                            <h3>내 차 구입</h3>
                            <div class="list_count">
                                <a th:href="@{/admin/purchase/inquiry(type = ${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).CONTACTABLE.code})}" class="tab_list01"
                                   th:classappend="${condition eq null or condition.type eq T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).CONTACTABLE.code} ? 'on'">
                                    <em th:text="${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).CONTACTABLE.detail}">연락 가능 문의</em>
                                    <span th:text="${purchaseInquiryCount.get(0)}">00</span>
                                </a>
                                <a th:href="@{/admin/purchase/inquiry(type = ${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).WITHOUT_CONTACT.code})}" class="tab_list02"
                                   th:classappend="${condition ne null and condition.type eq T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).WITHOUT_CONTACT.code} ? 'on'">
                                    <em th:text="${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).WITHOUT_CONTACT.detail}">연락처 없는 문의</em>
                                    <span th:text="${purchaseInquiryCount.get(1)}">00</span>
                                </a>
                                <a th:href="@{/admin/purchase/inquiry(type = ${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).VISIT_RESERVATION.code})}" class="tab_list03"
                                   th:classappend="${condition ne null and condition.type eq T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).VISIT_RESERVATION.code} ? 'on'">
                                    <em th:text="${T(com.cuv.admin.domain.purchaseinquiry.enumset.InquiryType).VISIT_RESERVATION.detail}">방문 예약</em>
                                    <span th:text="${purchaseInquiryCount.get(2)}">00</span>
                                </a>
                            </div>
                        </th:block>
                    </div>
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </section>
    </div>
</div>

<script layout:fragment="script"></script>
</body>
</html>
