<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADMINISTRATOR</title>
    <link rel="stylesheet" href="/admin/css/general.css?v=1656408363">
    <link rel="stylesheet" href="/admin/css/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="/admin/js/jquery-1.12.4.min.js"></script>
    <script src="/admin/js/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/admin/js/layout.js"></script>
    <script src="/admin/js/common.js"></script>
</head>

<body style="background-color:#fff">
<div class="pop_wrap">
    <div layout:fragment="pop_header" class="pop_header"></div>
    <div layout:fragment="pop_body" class="pop_body"></div>
</div>

<script layout:fragment="pop_script">
</script>
</body>
</html>
