<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="sell-wrap">
        <div class="member-wrap">
            <div class="w-set">
                <div class="tit-area">
                    <h2 class="tit hide-m">내 차 팔기</h2>
                </div>
                <div class="step-wrap">
                    <ul class="step-list">
                        <li class="on">
                            <i class="i-step01"></i>
                            <span class="txt">차량정보</span>
                        </li>
                        <li class="step-arrow on">다음단계</li>
                        <li class="on">
                            <i class="i-step02"></i>
                            <span class="txt">사진업로드</span>
                        </li>
                        <li class="step-arrow on">다음단계</li>
                        <li class="on">
                            <i class="i-step03"></i>
                            <span class="txt">약관동의</span>
                        </li>
                        <li class="step-arrow on">다음단계</li>
                        <li>
                            <i class="i-step04"></i>
                            <span class="txt">신청완료</span>
                        </li>
                    </ul>
                </div>
                <form>
                    <input type="hidden" name="jwtToken" th:value="${jwtToken}">
                    <div class="terms-wrap">
                        <p class="tit">개인정보 수집 및 이용에 동의해 주세요.</p>
                        <div class="terms-box">
                            <div class="terms-txt">
                                <th:block th:utext="${privacy}"></th:block>
                            </div>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="agreeUseYn" id="agreeUseYn">
                            <label for="agreeUseYn">개인정보 수집 및 이용에 동의합니다.</label>
                        </div>
                        <div class="btn-wrap">
                            <!-- 활성화시 is-disabled 클래스 삭제 -->
                            <a href="/sale/vehicle/first" class="btn color4">취소</a>
                            <button type="submit" id="checkBtn" class="btn is-disabled" disabled>내 차 팔기 신청</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "내 차 팔기";

    const checkButton = document.getElementById('checkBtn');
    let checkBox = document.getElementById('agreeUseYn');
    let isValid = true;

    checkBox.addEventListener('click', () => {
        if(checkBox.checked) {
            checkButton.classList.remove('is-disabled');
            checkButton.disabled = false;
            isValid = true;
        } else {
            checkButton.classList.add('is-disabled');
            checkButton.disabled = true;
            isValid = false;
        }
    });

    document.forms[0].addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(event.currentTarget);

        if (isValid) {
            fetch('/sale/vehicle/third', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    if (result.code !== 200) {
                        $popup.alert(result.message);
                    } else {
                        location.href = '/sale/vehicle/last';
                    }
                })
                .catch(error => {
                    console.error(error);
                    alert(error);
                });
        }
    });

    function fnBack() {
        location.href="/sale/vehicle/second";
    }
</script>
</html>
