<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_member}">

<th:block layout:fragment="content">
    <div class="member-wrap">
        <div class="login-wrap">
            <div class="w-set">
                <div class="tit-area">
                    <div class="logo">
                        <span class="is-blind">카통령</span>
                    </div>
                </div>
                <ul class="sns-list">
                    <li>
                        <a href="/oauth2/authorization/kakao" class="sns">
                            <i class="i-kakao"></i>
                            <span class="txt">카카오</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oauth2/authorization/naver" class="sns">
                            <i class="i-naver"></i>
                            <span class="txt">네이버</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oauth2/authorization/google" class="sns">
                            <i class="i-google"></i>
                            <span class="txt">Google</span>
                        </a>
                    </li>
                    <li class="hide-pc">
                        <a href="#" class="sns" target="_blank">
<!--                        <a th:href="@{|${appleUrl}|}" class="sns" target="_blank">-->
                            <i class="i-apple"></i>
                            <span class="txt">Apple</span>
                        </a>
                    </li>
                </ul>
                <p class="login-email">
                    <a href="/login/email">이메일로 시작하기</a>
                </p>
                <th:block th:if="${!loginBanner.isEmpty()}">
                    <div class="banner-wrap" th:each="login : ${loginBanner}">
                        <img th:src="@{/api/file/view/{uuid}(uuid = ${login.pcAttachment.uuid}, size = 160)}"
                             alt="로그인 배너" class="hide-m">
                        <img th:src="@{/api/file/view/{uuid}(uuid = ${login.mobileAttachment.uuid}, size = 160)}"
                             alt="로그인 배너" class="hide-pc">
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
</script>
</html>
