<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>통계/분석 > 상담 현황</title>
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div id="wrap">
    <div layout:fragment="lnb" th:replace="~{fragments/lnb_stat :: lnb}"></div>
    <div class="content" layout:fragment="content">
        <div class="content_head">
            <h3>상담 현황</h3>
            <div class="list_count">
                <a href="/admin/stats/consult/purchase" class="tab_list01">내차 구입</a>
                <a href="/admin/stats/consult/sale" class="tab_list02 on">내차 팔기</a>
            </div>
        </div>
        <div class="content_body">
            <div class="stats">

                <!-- Search Start -->
                <form action="/admin/stats/consult/sale" method="get">
                    <div class="search_wrap">
                        <table>
                            <caption>검색</caption>
                            <colgroup>
                                <col style="width:10%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">상태</th>
                                <td>
                                    <div class="checkbox">
                                        <input type="checkbox" id="state01" name="status" value="consultAll"
                                               th:checked="${condition.status ne null and condition.status.contains('consultAll')}">
                                        <label for="state01">상담 신청</label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="state02" name="status" value="reservation"
                                               th:checked="${condition.status ne null and condition.status.contains('reservation')}">
                                        <label for="state02">방문예약 신청</label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="state03" name="status" value="reject"
                                               th:checked="${condition.status ne null and condition.status.contains('reject')}">
                                        <label for="state03">승인불가</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">기간</th>
                                <td>
                                    <input type="text" id="datepicker1" class="ico_date" name="startDate" placeholder="시작일"
                                           th:value="${condition.startDate}">
                                    <span class="tilde">~</span>
                                    <input type="text" id="datepicker2" class="ico_date" name="endDate" placeholder="종료일"
                                           th:value="${condition.endDate}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn_area align_c mt20">
                            <button type="submit" class="btn">검색</button>
                        </div>
                    </div>
                </form>

                <!-- //Search End -->

                <!-- Chart Start -->
                <div class="chart_wrap">
                    <canvas id="consultPurchase" th:data-consult-data="${summary}"></canvas>
                </div>
                <!-- Chart End -->

                <!-- List Start -->
                <div class="list_wrap">
                    <div class="list_top">
                        <div class="txt_area">
                            <p th:text="${condition.startDate} + '부터 ' + ${condition.endDate} + '까지의 검색결과'"></p>
                        </div>
                        <div class="util_area">
                            <button type="button" class="btn btn_form1" id="btnExcelDownload">엑셀 다운로드</button>
                        </div>
                    </div>
                    <div class="list_table">
                        <table>
                            <caption>검색 결과</caption>
                            <thead>
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">상담 신청</th>
                                <th scope="col">방문예약 신청</th>
                                <th scope="col">승인불가</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${consultData.size()} == 0">
                                <td colspan="4">통계 결과가 없습니다.</td>
                            </tr>
                            <tr th:each="consult : ${consultData}">
                                <td th:text="${consult.date}"></td>
                                <td th:text="${consult.consultCountAll}"></td>
                                <td th:text="${consult.reservationConsultCount}"></td>
                                <td th:text="${consult.rejectedConsultCount}"></td>
                            </tr>
                            <tr class="total">
                                <td>합계</td>
                                <td th:text="${summary.totalConsultations}"></td>
                                <td th:text="${summary.totalVisitReservations}"></td>
                                <td th:text="${summary.totalRejections}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- //List Start -->
            </div>
        </div>
    </div>
    <!--//Content End-->
</div>

<script layout:fragment="script" th:inline="javascript">

    // //차트 데이터 설정

    // 데이터 파싱
    let consultSummary = /*[[${summary}]]*/ {};
    let consultData = /*[[${consultData}]]*/ [];

    // 라벨과 데이터 설정
    let labels = consultData.map(item => item.date);
    let purchaseData = consultData.map(item => item.consultCountAll);
    let visitData = consultData.map(item => item.reservationConsultCount);
    let rejectedData = consultData.map(item => item.rejectedConsultCount);

    // 차트 생성
    new Chart(document.getElementById("consultPurchase"), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: '상담 신청',
                    data: purchaseData,
                    borderColor: "rgba(230,35,43, 1)",
                    backgroundColor: "rgba(230,35,43, 0.5)",
                },
                {
                    label: '방문예약 신청',
                    data: visitData,
                    borderColor: "rgba(62,141,255, 1)",
                    backgroundColor: "rgba(62,141,255, 0.5)",
                },
                {
                    label: '승인불가',
                    data: rejectedData,
                    borderColor: "rgba(31,158,73, 1)",
                    backgroundColor: "rgba(31,158,73, 0.5)",
                },
            ],
        },
        options: {
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
            },
            maintainAspectRatio: false,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    title: {
                        display: false,
                    }
                },
                y: {
                    title: {
                        display: true,
                        align: 'end',
                        color: '#222',
                        font: {
                            size: 14,
                            weight: 400,
                        },
                        text: '건 수'
                    },
                }
            }
        }
    });

    // 엑셀 다운로드
    document.getElementById('btnExcelDownload').addEventListener('click', () => {

        const form = document.forms[0];
        form.append();
        form.action = '/admin/stats/consult/sale/excel';
        form.submit();
        form.action = '';
    });


</script>
</body>
</html>
