<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>통계/분석 > 회원 통계 > 일별</title>
</head>

<body>
<!-- 통계용 lnb 만들기-->
<div layout:fragment="lnb" th:replace="~{fragments/lnb_stat :: lnb}"></div>
<div class="content" layout:fragment="content">
    <div class="content_head">
        <h3>회원 통계</h3>
        <div class="list_count">
            <a href="/admin/stats/stats" class="tab_list01 on">일별</a>
            <a href="/admin/stats/stats/month" class="tab_list02">월별</a>
            <a href="/admin/stats/stats/year" class="tab_list03">년별</a>
        </div>
    </div>
    <div class="content_body">
        <div class="stats">
            <form>
                <!-- Search Start -->
                <div class="search_wrap">
                    <table>
                        <caption>검색</caption>
                        <colgroup>
                            <col style="width:10%;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">기간</th>
                            <td>
                                <input type="text" id="datepicker1" class="ico_date" name="startDate" placeholder="시작일"
                                       th:value="${condition.startDate}">
                                <span class="tilde">~</span>
                                <input type="text" id="datepicker2" class="ico_date" name="endDate" placeholder="종료일"
                                       th:value="${condition.endDate}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn_area align_c mt20">
                        <button type="submit" class="btn">검색</button>
                    </div>
                </div>
            </form>
            <!-- //Search End -->

            <!-- Chart Start -->
            <div class="chart_wrap">
                <canvas id="memberDay"></canvas>
            </div>
            <!-- Chart End -->

            <!-- List Start -->
            <div class="list_wrap">
                <div class="list_top">
                    <div class="txt_area">
                        <p th:with="today=${#temporals.createToday()},
            DaysAgo=${today.minusDays(30)} ">
                            [[${condition.startDate != null ? condition.startDate : #temporals.format(DaysAgo,
                            'yyyy-MM-dd')}]]부터
                            [[${condition.endDate != null ? condition.endDate : #temporals.format(today,
                            'yyyy-MM-dd')}]]까지의 검색결과
                        </p>
                    </div>
                    <div class="util_area">
                        <button type="button" class="btn btn_form1" id="btnExcelDownload">엑셀 다운로드</button>
                    </div>
                </div>
                <div class="list_table">
                    <table>
                        <caption>검색 결과</caption>
                        <colgroup>
                            <col style="width:50%;">
                            <col style="width:50%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">날짜</th>
                            <th scope="col">회원수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(memberStatDtoList)}">
                            <td colspan="2">통계 결과가 없습니다.</td>
                        </tr>
                        <tr th:each="stat : ${memberStatDtoList}">
                            <td th:text="${stat.date}"></td>
                            <td class="count" th:text="${stat.count}"></td>
                        </tr>
                        <tr class="total">
                            <td>합계</td>
                            <td id="totalCount">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //List Start -->
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // 모든 count 클래스를 가진 td 요소를 선택
        const countElements = document.querySelectorAll('.count');
        let total = 0;

        // 각 count 요소의 텍스트 값을 숫자로 변환하여 합산
        countElements.forEach(element => {
            total += parseInt(element.textContent, 10);
        });

        // 합계를 totalCount ID를 가진 td 요소에 설정
        document.getElementById('totalCount').textContent = total;
    });



    // 서버에서 받아온 데이터
    let memberStatDtoList = /*[[${memberStatDtoList}]]*/ [];

    let condition = /*[[${condition}]]*/[];

    if (condition.startDate === null && condition.endDate === null) {
        const today = new Date();
        const startDate = new Date();
        startDate.setDate(today.getDate() - 6);

        memberStatDtoList = Array.from({length: 7}, (_, i) => {
            const currentDate = new Date(startDate);
            currentDate.setDate(startDate.getDate() + i);
            const dateString = currentDate.toISOString().split('T')[0];

            const existingStat = memberStatDtoList.find(stat => stat.date === dateString);

            return {
                date: dateString,
                count: existingStat ? existingStat.count : 0
            };
        });
    }
    // 서버에서 받아온 데이터를 차트의 labels와 data에 맞게 변환
    const labels = memberStatDtoList.map(stat => stat.date);
    const datasetData = memberStatDtoList.map(stat => stat.count);
    console.log(datasetData)

    // 차트 초기화 및 그리기
    function renderChart(labels, datasetData) {
        // 날짜와 데이터를 객체 배열로 결합
        let combined = labels.map((label, index) => ({
            date: new Date(label),
            label: label,
            data: datasetData[index]
        }));

        // 날짜 기준으로 정렬 (오래된 날짜가 먼저 오도록)
        combined.sort((a, b) => a.date - b.date);

        // 정렬된 데이터에서 라벨과 데이터 추출
        let sortedLabels = combined.map(item => item.label);
        let sortedData = combined.map(item => item.data);

        new Chart(document.getElementById("memberDay"), {
            type: 'line',
            data: {
                labels: sortedLabels,
                datasets: [{
                    label: '회원 수',
                    data: sortedData,
                    borderColor: "rgba(185,37,43, 0.6)",
                    backgroundColor: "rgba(185,37,43)",
                    fill: false,
                    lineTension: 0
                }],
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                },
                maintainAspectRatio: false,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        title: {
                            display: false,
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            align: 'end',
                            color: '#222',
                            font: {
                                size: 14,
                                weight: 400,
                            },
                            text: '명 수'
                        },
                    }
                }
            }
        });
    }

    // 엑셀 다운로드
    document.getElementById('btnExcelDownload').addEventListener('click', () => {

        const form = document.forms[0];
        form.append();
        form.action = '/admin/stats/stats/excel';
        form.submit();
        form.action = '';
    });

    // 데이터가 존재하면 차트를 렌더링
    if (labels.length > 0 && datasetData.length > 0) {
        renderChart(labels, datasetData);
    }
</script>
</body>

</html>
