<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">이벤트</h2>
        </div>
        <div class="event-wrap">
            <div class="tab-list type-s">
                <a href="/event"
                   th:classappend="${requestValue.getRequestURI() == '/event' && requestValue.getQueryString() == null} ? 'on' : ''">전체이벤트</a>
                <a href="/event?status=ongoing"
                   th:classappend="${requestValue.getRequestURI() == '/event' && requestValue.getQueryString() == 'status=ongoing'} ? 'on' : ''">진행이벤트</a>
                <a href="/event?status=ended"
                   th:classappend="${requestValue.getRequestURI() == '/event' && requestValue.getQueryString() == 'status=ended'} ? 'on' : ''">종료이벤트</a>

            </div>
            <th:block th:if="${eventLists.isEmpty() && requestValue.getQueryString() == 'status=ended'}">
                <div class="empty">
                    <p>현재 종료된 이벤트가 없습니다.</p>
                </div>
            </th:block>
            <th:block th:if="${eventLists.isEmpty() && requestValue.getQueryString() != 'status=ended'}">
                <div class="empty">
                    <p>등록된 게시글이 없습니다.</p>
                </div>
            </th:block>
            <ul class="event-list">
                <li th:each="event : ${eventLists}" th:class="${event.getEventStatusClass(event.exhibitionEndDate)}">
                    <a th:href="@{/event/__${event.id}__}">
                        <div class="img">
                            <!-- pc용 이미지 -->
                            <img th:src="@{/api/file/view/__${event.pcAttachment.uuid}__?size=500}" alt="이벤트"
                                 class="hide-m">
                            <!-- 모바일용 이미지 -->
                            <img th:src="@{/api/file/view/__${event.mobileAttachment.uuid}__?size=300}" alt="이벤트"
                                 class="hide-pc">
                        </div>
                        <div class="txt-area">
                            <p class="tit" style="overflow: hidden;word-break: break-word;" th:text="${event.title}">
                                2024 여름을 준비하자! 휴가비 지원 이벤트</p>
                            <div class="txt-btm">
                                <p class="period"
                                   th:text="${#temporals.format(event.exhibitionStartDate, 'yyyy.MM.dd') + ' - ' + #temporals.format(event.exhibitionEndDate, 'yyyy.MM.dd')}">
                                    2024.02.07 - 2024.02.29</p>
                                <span class="views" th:text="${event.hits}">165</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "이벤트";

    function fnBack() {
        location.href = "/";
    }
</script>
</html>
