<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">자주하는 질문</h2>
        </div>
        <div class="faq-wrap">
            <div class="board-top">
                <p class="total"><strong th:text="${faqList.size()}">16</strong>건의 자주하는 질문</p>
            </div>
            <div class="faq-list">
                <dl th:each="faq : ${faqList}">
                    <dt>
                        <a href="javascript:;" th:text="${faq.title}" style="overflow: hidden;word-break: break-word;">
                            입력된 제목이 표시됩니다. 입력된 제목이 표시됩니다입력된 제목이 표시됩니다. 입력된 제목이 표시됩니다
                        </a>
                    </dt>
                    <dd>
                        <div class="answer" style="overflow: hidden;word-break: break-word;">
                            <th:block th:utext="${faq.content}"></th:block>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "자주하는 질문";

    function fnBack() {
        location.href = "/";
    }

    // 페이지에서만 사용하는 스크립트
    $(document).on('click', '.faq-list dt a', function () {
        if ($(this).hasClass('active')) {
            $('.faq-list dt a').removeClass('active');
            $('.faq-list dd').stop().slideUp(300);
        } else {
            $('.faq-list dt a').removeClass('active');
            $('.faq-list dd').stop().slideUp();
            $(this).addClass('active');
            $(this).parent('dt').siblings('dd').stop().slideDown(300);
        }
    });

</script>
</html>
