<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="boardView-wrap">
            <div class="view-top">
                <div class="tit-area type-column" style="overflow: hidden;word-break: break-word;">
                    <span class="state is-sort" th:text="${boardGuide.boardGuideType.detail}">분류명</span>
                    <p class="tit" th:text="${boardGuide.title}" style="max-width: 990px;">중고차를 현명하게 고르기 위해 구매전 확인해 봐야 할 9가지</p>
                </div>
                <div class="txt-area">
                    <span class="date" th:text="${#temporals.format(boardGuide.createdAt, 'yyyy.MM.dd')}">2024.05.13</span>
                </div>
            </div>
            <div class="view-cont ck-content" style="overflow: hidden;word-break: break-word;">
                <th:block th:utext="${boardGuide.content}"></th:block>
            </div>
            <div class="btn-wrap">
                <a href="/board/guide" class="btn color3">목록</a>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "중고차 가이드";

    function fnBack() {
        history.back();
    }
</script>
</html>
