<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="myinfo-wrap">
        <div class="member-wrap">
            <div class="w-set">
                <div class="tit-area hide-m">
                    <h2 class="tit">내 정보</h2>
                </div>
                <div class="cont">
                    <div class="myinfo-area">
                        <div class="input-wrap add-photo">
                            <input type="file" name="attachFile" id="attachFile">
                            <label for="attachFile" class="db">
                                <div class="photo" id="profileImage">
                                    <!-- <span class="btn-add">사진 찾기</span> -->
                                    <!-- 이미지 첨부했을때 -->
                                    <th:block th:if="${info.profileImage != null && info.profileImage.uuid != null}">
                                        <img th:src="@{/api/file/view/__${info.profileImage.uuid}__?size=1000}" alt="">
                                    </th:block>
                                    <th:block th:if="${info.profileImage == null}">
                                        <img src="/user/images/dummy/profile01.jpg" alt="">
                                    </th:block>
                                </div>
                            </label>
                        </div>
                        <span class="name" th:text="${info.realName}">홍길동</span>
                        <p class="email" th:text="${info.email}">aaaaaa@mail.com</p>
                    </div>
                </div>
                <div class="cont">
                    <ul class="sns-list">
                        <li th:class="${info.regCode == T(com.cuv.domain.member.enumset.RegType).KAKAO} ? 'on' : ''">
                            <i class="i-kakao">카카오</i>
                        </li>
                        <li th:class="${info.regCode == T(com.cuv.domain.member.enumset.RegType).NAVER} ? 'on' : ''">
                            <i class="i-naver">네이버</i>
                        </li>
                        <li th:class="${info.regCode == T(com.cuv.domain.member.enumset.RegType).GOOGLE} ? 'on' : ''">
                            <i class="i-google">구글</i>
                        </li>
                        <li th:class="${info.regCode == T(com.cuv.domain.member.enumset.RegType).APPLE} ? 'on' : ''">
                            <i class="i-apple">Apple</i>
                        </li>
                    </ul>
                </div>
                <div class="cont">
                    <form action="">
                        <div class="input-wrap">
                            <div class="input-item">
                                <p class="input-tit required">휴대폰 번호</p>
                                <div class="add-btn">
                                    <input type="text" name="prePhoneNumber" id="prePhoneNumber" th:value="${info.mobileNumber}" readonly>
                                    <label for="prePhoneNumber" class="is-blind">휴대폰 번호</label>
                                    <button type="button" class="btn" id="modifyBtn">수정</button>
                                    <!-- <button type="button" class="btn">취소</button> -->
                                </div>
                                <p class="note-txt" id="textTag" style="display: none">*휴대폰 인증을 하셔야 변경하실 수 있습니다.</p>
                                <div class="add-btn" id="addBtnTag" style="display: none">
                                    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="변경할 휴대폰 번호 입력"
                                           pattern="\d*" maxlength="11" oninput="validatePhoneNumber()">
                                    <label for="phoneNumber" class="is-blind">휴대폰 번호</label>
                                    <button type="button" class="btn" id="phoneCheckBtn">인증</button>
                                </div>
                                <div class="add-btn" id="checkBtnTag" style="display: none">
                                    <input type="text" name="" id="numberCheck" placeholder="인증번호">
                                    <label for="numberCheck" class="is-blind">인증번호</label>
                                    <button type="button" id="numberCheckBtn" class="btn is-disabled">확인</button>
                                </div>
                                <p class="error-txt" style="display: none">00:00</p>
                            </div>
                        </div>
                    </form>
                </div>
                <th:block th:if="${info.regCode == T(com.cuv.domain.member.enumset.RegType).EMAIL}">
                    <div class="cont">
                        <a href="/mypage/password/reset" class="link-area">비밀번호 재설정</a>
                    </div>
                </th:block>
            </div>
            <p class="withdrawal-link">카통령을 탈퇴하시려면 <a href="/mypage/withdrawal">여기</a>를 클릭해주세요.</p>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">

    //서브 페이지 제목
    var hdNm = "내 정보";

    function fnBack() {
        location.href = "/";
    }

    // 수정 버튼 클릭
    document.getElementById("modifyBtn").onclick = () => {
        let textTag = document.getElementById("textTag");
        let addBtnTag = document.getElementById("addBtnTag");
        let checkBtnTag = document.getElementById("checkBtnTag");

        textTag.style.display = "";
        addBtnTag.style.display = "";
        checkBtnTag.style.display = "";
    };

    // 인증 버튼 클릭 이벤트
    document.getElementById("phoneCheckBtn").onclick = async () => {
        let prePhoneNumber = document.getElementById("prePhoneNumber").value.trim();
        let phoneNumber = document.getElementById("phoneNumber").value.trim();

        if (prePhoneNumber === phoneNumber) {
            $popup.alert("동일한 휴대폰 번호 입니다.");
            return;
        }

        if (phoneNumber === "") {
            $popup.alert("휴대폰 번호를 입력해주세요");
            return;
        }

        fetch("/api/join/check/phone", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                phoneNumber: phoneNumber,
                type: "CR003"
            })
        })
            .then(res => res.json())
            .then(result => {
                if (result.code === 200) {
                    document.getElementById("phoneCheckBtn").style.display = "none";
                    document.getElementById("phoneNumber").disabled = true;
                    document.getElementById("numberCheckBtn").disabled = false;
                    $popup.alert("인증번호가 발송되었습니다.");
                    document.querySelector(".error-txt").style.display = "block"; // 타이머 표시
                    startTimer(3 * 60); // 3분 타이머 시작
                } else {
                    $popup.alert(result.message);
                }
            })
            .catch(error => {
                document.getElementById("phoneCheckBtn").style.display = "block";
                document.getElementById("phoneNumber").disabled = false;
                document.getElementById("numberCheckBtn").disabled = true;
                console.error("Error:", error);
                $popup.alert("인증번호 발송 중 오류가 발생했습니다. 다시 시도해주세요.");
            });
    };

    // 3분 타이머 함수
    function startTimer(duration) {
        let timer = duration, minutes, seconds;
        const display = document.querySelector(".error-txt");
        const interval = setInterval(() => {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                clearInterval(interval);
                display.textContent = "00:00";
                if (!document.getElementById("numberCheck").disabled) {
                    $popup.alert("인증 시간이 만료되었습니다. 다시 시도해주세요.");
                    document.getElementById("phoneCheckBtn").style.display = 'block';
                    document.getElementById("phoneNumber").disabled = false;
                    document.getElementById("numberCheckBtn").disabled = true;
                }
                document.getElementById("phoneCheckBtn").textContent = "인증 요청";
                document.getElementById("numberCheckBtn").classList.add("is-disabled");
                document.getElementById("numberCheckBtn").disabled = true; // 확인 버튼 비활성화
                display.style.display = "none"; // 타이머 숨기기
            }
        }, 1000);
    }

    // 인증번호 확인 버튼 클릭 이벤트
    document.getElementById("numberCheckBtn").onclick = () => {
        let numberCheck = document.getElementById("numberCheck").value.trim();
        let phoneNumber = document.getElementById("phoneNumber").value.trim();

        if (numberCheck === "") {
            $popup.alert("인증번호를 입력해주세요");
            return false;
        }

        fetch("/api/join/number/check/info", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                numberCheck: numberCheck,
                phoneNumber: phoneNumber
            })
        })
            .then(res => res.json())
            .then(result => {
                if (result.code === 200) {
                    document.getElementById("phoneNumber").disabled = true;
                    document.getElementById("numberCheck").disabled = true;
                    document.getElementById("phoneCheckBtn").style.display = "none";
                    document.getElementById("numberCheckBtn").style.display = "none";
                    document.querySelector(".error-txt").style.display = "none";

                    $popup.alert(result.message, {
                        confirm: () => {
                            location.reload();
                        },
                        close: function () {
                            location.reload();
                        }
                    });
                } else {
                    $popup.alert(result.message);
                }
            });
    };

    document.getElementById("attachFile").addEventListener("change", event => {
        const inputFile = event.currentTarget;
        uploadFiles(inputFile, "memberInfo");
        inputFile.value = "";
    });

    function uploadFiles(inputFile, source) {
        if (inputFile.files.length === 0) return;

        const formData = new FormData();
        if (source != null) formData.append("source", source);
        Array.prototype.forEach.call(inputFile.files, file => formData.append("files", file));

        fetch("/api/file/uploads/info", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                if (result.code !== 200)
                    throw new Error(result.message);

                uploadFilesAfterTrigger(inputFile, result.data);
            })
            .catch(error => {
                console.log(error);
                alert(error);
            });
    }

    function uploadFilesAfterTrigger(inputFile, data) {
        console.log(data);
        const profileImage = document.getElementById("profileImage");
        profileImage.innerHTML = "";
        data.forEach(file => {
            const img = document.createElement("img");
            img.src = "/api/file/view/" + file.uuid + "?size=160";
            img.alt = "프로필 이미지";
            profileImage.appendChild(img);
        });
    }

    function validatePhoneNumber() {
        let input = document.getElementById("phoneNumber");
        let validPhoneNumber = input.value.replace(/[^\d]/g, ""); // 숫자만 추출

        // 최대 11자리로 제한
        if (validPhoneNumber.length > 11) {
            validPhoneNumber = validPhoneNumber.substring(0, 11);
        }

        input.value = validPhoneNumber;
    }

    document.getElementById("numberCheck").addEventListener("input", () => {
        let numberCheck = document.getElementById("numberCheck").value.trim();
        let numberCheckBtn = document.getElementById("numberCheckBtn");

        if (numberCheck.length > 0) {
            numberCheckBtn.classList.remove("is-disabled");
            numberCheckBtn.disabled = false;  // 활성화: 클릭 가능
        } else {
            numberCheckBtn.classList.add("is-disabled");
            numberCheckBtn.disabled = true;  // 비활성화: 클릭 불가
        }
    });
</script>
</html>
