<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">알림</h2>
        </div>
        <div class="notification-wrap">
            <div class="notification-top">
                <button type="button" class="btn type-round not-common" id="editBtn" onclick="toggleEditMode(true)">편집</button>
                <button type="button" class="btn type-round not-common" id="closeBtn" style="display: none"
                        onclick="toggleEditMode(false)">닫기
                </button>
            </div>
            <th:block th:if="${notificationList.isEmpty()}">
                <div class="empty">
                    <p>알림이 없습니다.</p>
                </div>
            </th:block>
            <ul class="notification-list">
                <li th:each="notification, iterStat : ${notificationList}"
                    th:id="'notification-' + ${notification.notificationId}">
                    <!-- 내용 -->
                    <p class="txt" th:text="${notification.content}">알림 내용</p>
                    <!-- 날짜 -->
                    <span class="date" th:text="${notification.formattedCreatedAt}">24-04-11</span>
                    <!-- 삭제 버튼 -->
                    <button type="button" class="btn-del" style="display: none"
                            th:onclick="'deleteNotification(' + ${notification.notificationId} + ')'">
                        삭제
                    </button>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    var hdNm = "알림";

    function fnBack() {
        location.href = "/";
    }

    function getNotificationList() {
        fetch("/mypage/notification")
            .then(res => {
                if (!res) {
                    throw new Error('Network response was not res');
                }
                return res.json();
            })
            .catch(error => {
                console.error('Error fetching notificationList:', error);
            });
    }

    function deleteNotification(notificationId) {
        fetch("/api/sub/delete/notification", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({"notificationId": notificationId})
        })
            .then(res => res.json())
            .then(data => {
                if (data.code === 200) {
                    const notificationElement = document.getElementById(`notification-${notificationId}`);
                    if (notificationElement) {
                        notificationElement.remove();
                    }

                    const notificationList = document.querySelector('.notification-list');
                    if (!notificationList.querySelector('li')) {
                        const emptyDiv = document.createElement('div');
                        emptyDiv.className = 'empty';
                        emptyDiv.innerHTML = '<p>알림이 없습니다.</p>';
                        notificationList.parentElement.appendChild(emptyDiv);
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    function toggleEditMode(isEditing) {
        var editBtn = document.getElementById('editBtn');
        var closeBtn = document.getElementById('closeBtn');
        var deleteButtons = document.querySelectorAll('.btn-del');

        if (isEditing) {
            editBtn.style.display = 'none';
            closeBtn.style.display = '';
            deleteButtons.forEach(button => button.style.display = '');
        } else {
            editBtn.style.display = '';
            closeBtn.style.display = 'none';
            deleteButtons.forEach(button => button.style.display = 'none');
        }
    }
</script>

</html>
