<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="myinfo-wrap">
        <div class="member-wrap">
            <div class="w-set">
                <div class="tit-area hide-m">
                    <h2 class="tit">비밀번호 재설정</h2>
                </div>
                <form action="">
                    <div class="input-wrap">
                        <div class="input-item">
                            <div class="tit-area">
                                <p class="input-tit">비밀번호 변경</p>
                                <button type="button" class="btn type-round" id="cancelBtn">취소</button>
                            </div>
                            <div class="item">
                                <input type="password" id="newPassword" placeholder="새 비밀번호를 입력해주세요.">
                                <label for="newPassword" class="is-blind">새 비밀번호</label>
                            </div>
                            <div class="item">
                                <input type="password" id="confirmPassword" placeholder="새 비밀번호를 확인해주세요.">
                                <label for="confirmPassword" class="is-blind">새 비밀번호</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap type-fixed">
                        <button type="button" class="btn is-disabled" id="changeBtn">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    var hdNm = "비밀번호 재설정";

    let newPassword = document.getElementById('newPassword');
    let confirmPassword = document.getElementById('confirmPassword');
    let changeBtn = document.getElementById('changeBtn');

    function fnBack() {
        location.href = "/mypage/myinfo";
    }

    function validatePasswords() {
        if (newPassword.value && confirmPassword.value) {
            changeBtn.classList.remove('is-disabled');
        } else {
            changeBtn.classList.add('is-disabled');
        }
    }

    newPassword.addEventListener('input', validatePasswords);
    confirmPassword.addEventListener('input', validatePasswords);

    document.getElementById("changeBtn").onclick = () => {

        fetch("/mypage/password/reset", {
            method : "POST",
            headers : {"Content-Type" : "application/json"},
            body : JSON.stringify({
                newPassword : newPassword.value,
                confirmPassword : confirmPassword.value
            })
        })
            .then(res => res.json())
            .then(result => {
                if(result.code === 200) {
                    $popup.alert("비밀번호가 변경되었습니다.", {
                        close : () => {
                            location.href = "/logout";
                        }
                    });
                } else {
                    $popup.alert(result.message);
                }
            })

    }

    document.getElementById("cancelBtn").onclick = () => {
        location.href="/";
    }
</script>
</html>
