<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">최근 본 차량</h2>
        </div>
        <div class="recommend-wrap">
            <div class="board-top">
                <p class="total"><strong th:text="${#lists.size(myRecentCarLists)}">1,500</strong>개의 상품</p>
            </div>
            <ul class="result-list">
                <li th:each="car : ${myRecentCarLists}">
                    <!-- 선착순 특가 badge -->
                    <div class="prd-box" th:classappend="${car.shopName.contains('디에스 오토')} ? ' badge' : ''">
                        <div class="prd-thumb">
                            <label class="btn-like">
                                <input type="checkbox"
                                       th:attr="productId=${car.productId}"
                                       th:checked="${car.picked}"
                                       class="pick_check">
                                <span class="like-visual">좋아요</span>
                            </label>
                            <a th:href="'/product/' + ${car.productId}">
                                <img th:src="${car.carImageUrl[0].realUrl}" alt="">
                            </a>
                        </div>
                        <a th:href="'/product/' + ${car.productId}" class="prd-info">
                            <p class="prd-name" th:text="${car.makerName + ' ' + car.modelName + ' ' + car.detailGradeName}">KIA 더 뉴 쏘렌토 4세대(MQ4) 디젤 2.2 2WD 노블레스(5인승)아 더 뉴
                                쏘렌토 4세대(MQ4) 디젤 2.2 2WD 노블레스(5인승)</p>
                            <p class="price-info">
                                <span class="num-price" th:text="${car.getFormattedCarAmountSale()}">13,700만원</span>
                            </p>
                            <p class="detail-info">
                                <span th:text="${car.carRegYear}">2019/04(2019)</span>
                                <span th:text="${#numbers.formatInteger(car.carUseKm, 1, 'COMMA') + ' km'}">11,179 km</span>
                                <span th:text="${car.city}">서울</span>
                            </p>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "최근 본 차량";

    function fnBack() {
        location.href = "/";
    }

    // 서버에서 픽의 productId 가져오기
    async function getProductIdOfPick() {
        try {
            const response = await fetch("/api/sub/getProductIdOfPick");
            const data = await response.json();
            return data; // 서버에서 받은 데이터 반환
        } catch (error) {
            console.error('Error:', error);
            return []; // 에러 발생 시 빈 배열 반환
        }
    }

    // 서버에서 픽의 delYN 가져오기
    async function getDelYNOfPick(productId) {
        console.log("sadfas " + productId);
        try {
            const response = await fetch(`/api/sub/getDelYNOfPick/${productId}`);
            const data = await response.json();
            console.log(data);
            return data; // 서버에서 받은 데이터 반환
        } catch (error) {
            console.error('Error:', error);
            return []; // 에러 발생 시 빈 배열 반환
        }
    }

    // 픽하기 동적 반영
    async function handleInsertPickCheck() {
        // 서버에서 픽의 productId 가져오기
        let prodList = await getProductIdOfPick();

        if (prodList.length !== 0) {
            document.querySelectorAll(".pick_check").forEach(item => {
                // 서버에서 가져온 픽리스트 안에 productId가 있으면
                if (prodList.length !== 0) {
                    // productId의 데이터 타입 int로 변환해서 비교하기
                    if (prodList.includes(parseInt(item.getAttribute("productId")))) {
                        item.checked = true;
                        document.querySelector('.is-like').querySelector('.link').classList.add('on');
                    }
                }
            });
        }
    }

    // 픽 취소하기 동적 반영
    async function handleDeletePickCheck(productId) {
        // 서버에서 픽의 productId 가져오기
        let delList = await getDelYNOfPick(productId);

        if (delList.length !== 0) {
            document.querySelectorAll(".pick_check").forEach(item => {
                // 서버에서 가져온 픽리스트 안에 productId가 있으면
                if (delList.length !== 0) {
                    item.checked = false;

                }
            });
        }
    }

    // 좋아요 누르면 픽에 추가됨
    document.querySelectorAll(".pick_check").forEach(tag => {
        tag.addEventListener("click", function () {
            let productId = tag.getAttribute("productId");
            fetch("/api/sub/pick/v2", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId: productId,
                })
            })
                .then(res => res.json())
                .then(result => {
                    if (result.code !== 200) {
                        $popup.alert(result.message, {
                            modal: true,
                            confirm: () => {
                                location.reload();
                            },
                            close: () => {
                                location.reload();
                            }
                        })
                        // 픽이 이미 db에 들어간 상태
                    }

                        // 픽 제거하기
                    // 클릭하면 즉시 false됨 따라서 클릭한 거랑 같은 productId 지닌 것 불빛 x
                    else if (tag.checked === false) {
                        console.log("제거진입")
                        handleDeletePickCheck(productId);
                    }

                    // 픽하기
                    else if (tag.checked === true) {
                        console.log("진입")
                        handleInsertPickCheck();
                    }
                })
        })
    })
</script>

</html>
