<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">고객후기</h2>
        </div>
        <div class="review-wrap">
            <ul class="review-list">
                <!-- 리뷰 리스트 반복 -->
                <li th:data-href="@{/review/__${review.id}__}" th:each="review : ${reviewList}">
                    <div class="review-top">
                        <div class="img">
                            <img th:src="@{/api/file/view/__${review.attachment.uuid}__?size=500}" alt="리뷰 이미지">
                        </div>
                        <div class="txt-area">
                            <p class="tit" th:text="${review.title}">제목 1줄 출력 너무 길면 말 줄임 …</p>
                            <div class="txt" th:utext="${review.content}">상담부터 구매까지 엄청 친절하시고 </div>
                        </div>
                    </div>
                    <span class="date" th:text="${review.formattedCreatedAt}">2024.05.10 14:09:1</span>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="~{fragments/pagination :: pagination(${reviewList})}"></div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    var hdNm = "고객후기";

    function fnBack() {
        location.href = "/";
    }

	window.addEventListener('DOMContentLoaded', function() {
		// 모든 li 요소를 찾아서 처리
		var listItems = document.querySelectorAll('li[data-href]');

		listItems.forEach(function (li) {
			// li 요소에 클릭 이벤트 추가
			li.addEventListener('click', function () {
				// data-href 속성에서 URL을 가져와서 이동
				var url = li.getAttribute('data-href');
				if (url) {
					window.location.href = url;
				}
			});
		});

		var txtDivs = document.querySelectorAll('.review-list .txt');

		txtDivs.forEach(function(txtDiv) {
			// div 내부의 모든 텍스트를 하나로 합침
			var allText = txtDiv.textContent;

			// &nbsp;를 공백으로 대체
			allText = allText.replace(/\u00A0/g, ' ');

			// .txt 요소의 내용을 합친 텍스트로 대체
			txtDiv.textContent = allText;
		});
	});
</script>
</html>
