<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="CUV">
    <link rel="icon" href="/user/images/favicon/favicon_48x48.svg" sizes="48x48">
    <link rel="icon" href="/user/images/favicon/favicon_96x96.svg" sizes="96x96">
    <link rel="icon" href="/user/images/favicon/favicon_144x144.svg" sizes="144x144">
    <link rel="icon" href="/user/images/favicon/favicon_196x196.svg" sizes="196x196">
    <meta property="og:image" content="/user/images/favicon/ogi.png"/>
    <meta property="og:image:width" content="270"/>
    <meta property="og:image:height" content="270"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <title>카통령 소모품 교체</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/user/css/general.css(ver=${#temporals.createNow()})}"/>
    <link rel="stylesheet" th:href="@{/user/css/swiper-bundle.min.css(ver=${#temporals.createNow()})}"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <!-- js -->
    <script src="/user/js/jquery-1.12.4.min.js"></script>
    <script src="/user/js/jquery-ui.js"></script>
    <script th:src="@{/user/js/mobile-layout.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/layout.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/swiper-bundle.min.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/wbz-popup.v1.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/datepicker-ko.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/aside.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/common.js(ver=${#temporals.createNow()})}"></script>
    <script th:src="@{/user/js/common-quick.js(ver=${#temporals.createNow()})}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
<!-- 본문 바로가기 -->
<div id="skipNav">
    <a href="#contents" onclick="document.getElementById('contents').tabIndex = -1;
    document.getElementById('contents').focus(); return false;">본문 바로가기</a>
</div>
<div id="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <main id="contents">
        <div class="sub-content">
            <div class="w-set">
                <div class="tit-area">
                    <h2 class="tit hide-m">평생책임서비스</h2>
                </div>
                <div class="service-wrap">
                    <div class="tab-list type-s">
                        <a href="/service01">무상점검</a>
                        <a href="/service02" class="on">소모품 교체</a>
                        <a href="/service03">공임비 무료</a>
                    </div>
                    <div class="cont-top" data-aos="fade-up" data-aos-duration="1500">
                        <div class="txt-area">
                            <p class="txt">평생 <span class="c-primary">프리미엄 서비스</span>로<br> 구매하신 차량을 집중 관리해 드립니다.</p>
                            <p class="add-txt">* 가입비 별도 문의</p>
                        </div>
                        <div class="img hide-m">
                            <img src="/user/images/common/img/service_top.svg" alt="">
                        </div>
                    </div>
                    <div class="cont" data-aos="fade-up" data-aos-duration="1500">
                        <h3 class="tit"><span class="num">01</span>소모품 무상 교체</h3>
                        <p class="info-txt">오일류는 기본에 일반 소모품까지 약정 주행거리 무제한 킬로수를 보장하며, 무상으로 교체 가능한 전국 어디에서도 찾아볼 수 없는 서비스를
                            제공합니다.</p>
                    </div>
                    <div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000">
                        <h3 class="tit"><span class="num">02</span>보장 범위</h3>
                        <ul class="coverage-list">
                            <li>
                                <i class="coverage1"></i>
                                <span class="txt">엔진오일</span>
                            </li>
                            <li>
                                <i class="coverage2"></i>
                                <span class="txt">부동액</span>
                            </li>
                            <li>
                                <i class="coverage3"></i>
                                <span class="txt">와이퍼</span>
                            </li>
                            <li>
                                <i class="coverage4"></i>
                                <span class="txt">브레이크 오일</span>
                            </li>
                            <li>
                                <i class="coverage5"></i>
                                <span class="txt">에어컨 필터</span>
                            </li>
                            <li>
                                <i class="coverage6"></i>
                                <span class="txt">워셔액</span>
                            </li>
                        </ul>
                    </div>
                    <div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
                        <h3 class="tit"><span class="num">03</span>소모품 교체 이용 방법 및 절차</h3>
                        <ul class="process-list">
                            <li>
                                <i class="process1"></i>
                                <span class="txt">예약</span>
                            </li>
                            <li class="process-arrow"></li>
                            <li>
                                <i class="process2"></i>
                                <span class="txt">방문</span>
                            </li>
                            <li class="process-arrow"></li>
                            <li>
                                <i class="process3"></i>
                                <span class="txt">교체</span>
                            </li>
                            <li class="process-arrow"></li>
                            <li>
                                <i class="process4"></i>
                                <span class="txt">출고</span>
                            </li>
                        </ul>
                        <div class="how-wrap">
                            <div class="how-cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
                                <div class="how-list">
                                    <h4 class="tit">이용 방법</h4>
                                    <ul>
                                        <li>
                                            <p class="tit"><span class="num">01</span>서비스센터 방문 예약하기</p>
                                            <p class="txt">서비스센터 이용이 필요할 때, 카카오톡 플러스 친구 (카통령)로 방문 예약을 신청해 주세요.</p>
                                        </li>
                                        <li>
                                            <p class="tit"><span class="num">02</span>서비스센터 방문</p>
                                            <p class="txt">전문 정비사가 교체를 할 부품이 보장 범위 부품인지 확인합니다.</p>
                                        </li>
                                        <li>
                                            <p class="tit"><span class="num">03</span>무상 교체 진행</p>
                                            <p class="txt">보장 범위에 해당하면 무료로 교체가 진행됩니다.</p>
                                            <p class="txt"><em>*보장 범위에 해당하지 않을 경우</em>공임비는 무료로 진행되며 부품비만 청구됩니다.</p>
                                        </li>
                                        <li>
                                            <p class="tit"><span class="num">04</span>무상 교체 완료</p>
                                            <p class="txt">교체가 완료되면 비용 결제 없이 바로 출고됩니다.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="img hide-m">
                                    <img src="/user/images/common/img/service_kakao.png" alt="">
                                </div>
                            </div>
                            <div class="note-wrap" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="200">
                                <p class="tit">꼭! 확인하세요.</p>
                                <div class="txt-area">
                                    <p class="txt">카통령에서 구매 시에 가입 가능한 상품입니다.</p>
                                    <p class="txt">소모품 무료 교체는 소모품별 1회 한도로 진행됩니다.</p>
                                    <p class="txt">차량 구매시 모든 소모품 교체를 원칙으로 하나 해당 소모품의 마모 정도 등 상황에 따라 추후 기간 제한 없이 필요할 때
                                        교체할 수
                                        있습니다.</p>
                                    <p class="txt">가입 철회 및 환불 규정은 카통령 보증 약관에 따릅니다.</p>
                                    <p class="txt">문의 및 서비스 가입: 카통령(1800-0892)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn" onclick="$popup.template('#termsPopup')">서비스 약관 확인하기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 이용약관 팝업 -->
        <div class="wbz-popup-cont is-template" id="termsPopup">
            <div class="popup-header">
                <strong class="popup-title">이용약관</strong>
                <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
            </div>
            <div class="popup-cont">
                <div class="popup-text" th:utext="${service}">
                    약관 내용입니다
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

<script>
    //서브 페이지 제목
    var hdNm = "평생책임서비스";

    AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
</script>
</body>
</html>
