<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->
<html lang="ko"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div class="w-set">
        <div class="setting-wrap">
            <div class="setting-list">
                <ul>
                    <li class="is-total">
                        <span class="tit">시스템 알림 설정</span>
                        <div class="toggle">
                            <div class="button">
                                <input type="checkbox" name="agreeAllYn" class="checkbox" value="Y" th:checked="${memberDto.agreeMarketingYn.yn eq 'Y' and memberDto.agreeNoticeYn.yn eq 'Y' and memberDto.agreePushYn.yn eq 'Y'}">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="tit">광고성 정보</span>
                        <div class="toggle">
                            <div class="button">
                                <input type="checkbox" name="agreeMarketingYn" class="checkbox" value="Y" th:checked="${memberDto.agreeMarketingYn.yn eq 'Y'}">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="tit">알림톡</span>
                        <div class="toggle">
                            <div class="button">
                                <input type="checkbox" name="agreeNoticeYn" class="checkbox" value="Y" th:checked="${memberDto.agreeNoticeYn.yn eq 'Y'}">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="tit">푸쉬설정</span>
                        <div class="toggle">
                            <div class="button">
                                <input type="checkbox" name="agreePushYn" class="checkbox" value="Y" th:checked="${memberDto.agreePushYn.yn eq 'Y'}">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- toast alert -->
    <div class="toast" id="toast" style="display: none;">
        <div class="toast-content">
            <p id="toast-message">상품이 삭제되었습니다.</p>
        </div>
    </div>
    <button class="btn btn-toast" style="display: none" id="btn-toast">내용</button>
    <!-- // toast alert -->
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "알림 설정";

    const agreeAllYn = document.querySelector('input[name="agreeAllYn"]');
    const agreeMarketingYn = document.querySelector('input[name="agreeMarketingYn"]');
    const agreeNoticeYn = document.querySelector('input[name="agreeNoticeYn"]');
    const agreePushYn = document.querySelector('input[name="agreePushYn"]');

    agreeAllYn.addEventListener('click', event => {
        if (event.target.checked) {
            agreeMarketingYn.checked = true;
            agreeNoticeYn.checked = true;
            agreePushYn.checked = true;
        } else {
            agreeMarketingYn.checked = false;
            agreeNoticeYn.checked = false;
            agreePushYn.checked = false;
        }
        updateNotification();
    });
    agreeMarketingYn.addEventListener('click', updateNotification);
    agreeNoticeYn.addEventListener('click', updateNotification);
    agreePushYn.addEventListener('click', updateNotification);

    function updateNotification() {
        const agreeMarketingYnValue = agreeMarketingYn.checked ? 'Y' : 'N';
        const agreeNoticeYnValue = agreeNoticeYn.checked ? 'Y' : 'N';
        const agreePushYnValue = agreePushYn.checked ? 'Y' : 'N';
        if (agreeMarketingYnValue === 'Y' && agreeNoticeYnValue === 'Y' && agreePushYnValue === 'Y') {
            agreeAllYn.checked = true;
        } else {
            agreeAllYn.checked = false;
        }

        const data = {
            agreeMarketingYn: agreeMarketingYnValue,
            agreeNoticeYn: agreeNoticeYnValue,
            agreePushYn: agreePushYnValue
        };

        fetch('/api/setting/notification', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.code !== 200)
                throw new Error(result.message);

            if (result.data === true) {
                document.getElementById('toast').style.display = 'block';
                document.getElementById('toast-message').innerText =
                    `광고성 정보 수신에 ${agreeMarketingYnValue === 'Y' ? '동의' : '비동의'} 하셨습니다.`;
                document.getElementById('btn-toast').click();
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            $popup.alert({
                modal: true,
                content: error.message,
                close: () => location.reload()
            });
        });
    }

    function fnBack() {
        location.href = "/";
    }
</script>
</html>
