<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="description" content="CUV">
		<link rel="icon" href="/user/images/favicon/favicon_48x48.svg" sizes="48x48">
		<link rel="icon" href="/user/images/favicon/favicon_96x96.svg" sizes="96x96">
		<link rel="icon" href="/user/images/favicon/favicon_144x144.svg" sizes="144x144">
		<link rel="icon" href="/user/images/favicon/favicon_196x196.svg" sizes="196x196">
		<meta property="og:image" content="/user/images/favicon/ogi.png"/>
		<meta property="og:image:width" content="270"/>
		<meta property="og:image:height" content="270"/>
		<meta property="og:title" content=""/>
		<meta property="og:description" content=""/>
		<title>카통령 워런티</title>
		<!-- css -->
		<link rel="stylesheet" th:href="@{/user/css/general.css(ver=${#temporals.createNow()})}"/>
		<link rel="stylesheet" th:href="@{/user/css/swiper-bundle.min.css(ver=${#temporals.createNow()})}"/>
		<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
		<!-- js -->
		<script src="/user/js/jquery-1.12.4.min.js"></script>
		<script src="/user/js/jquery-ui.js"></script>
		<script th:src="@{/user/js/mobile-layout.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/layout.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/swiper-bundle.min.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/wbz-popup.v1.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/datepicker-ko.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/aside.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/common.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/common-quick.js(ver=${#temporals.createNow()})}"></script>
		<script th:src="@{/user/js/appCheck.js(ver=${#temporals.createNow()})}"></script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<style>
			@media(max-width: 434px){
				.sub-warranty .cont-mid .txt-area .txt.mt-5 {
					text-align: center;
				}
				.sub-warranty .hide-pc.carIco img{
					padding-left: 15%;
				}
			}
		</style>
	</head>
	<body>
	<!-- 본문 바로가기 -->
	<div id="skipNav">
		<a href="#contents" onclick="document.getElementById('contents').tabIndex = -1;
		document.getElementById('contents').focus(); return false;">본문 바로가기</a>
	</div>
	<div id="container">
		<header th:replace="~{fragments/header :: header}"></header>
		<aside th:replace="~{fragments/aside :: aside}"></aside>
		<main id="contents">
			<div class="sub-content">
				<div class="w-set">

					<div class="sub-warranty">
						<div>
							<div class="cont-mid" data-aos="fade-up" data-aos-duration="1500">
								<div class="txt-area hide-m">
									<p class="txt">부족한 30일&#47;2&#44;000km A&#47;S보증<br />
										해결책은
										<!--<img src="/user/images/dummy/cuv_160_40.png" alt="">-->
										<img src="/user/images/common/img/top_logo_short_156_55.png" alt="">
										<b class="bold-txt"><span class="c-primary">Warranty</span></b><br />
										중고차 이제 걱정없이 타세요!
									</p>
								</div>
								<!--모바일 때 -->
								<div class="txt-area hide-pc mt-30">
									<p class="txt fs-28">
										부족한 30일&#47;2&#44;000km<br />
										A&#47;S보증 해결책은
									</p>
									<p class="txt mt-5">
										<!--<img src="/user/images/dummy/cuv_150_40.png" alt="">-->
										<img src="/user/images/common/img/top_logo_short_142_50.png" alt="">
										<b class="bold-txt"><span class="c-primary">Warranty</span></b><br />
									</p>
									<p class="txt fs-28">
										중고차 이제 걱정없이 타세요!
									</p>
								</div>
								<div class="img hide-m">
									<img src="/user/images/common/img/car_res_search.svg" alt="">
								</div>
								<!--모바일 때 -->
							</div>
							<div class="img hide-pc carIco">
								<img src="/user/images/common/img/car_res_search.svg" alt="">
							</div>
						</div>
					</div>
					<div class="service-wrap">
						<!-- tab별 warranty import start -->
						<div class="tab-list type-s">
							<a href="#" id="tab1" class="on">상품특징</a>
							<a href="#" id="tab2">보증내용</a>
							<a href="#" id="tab3">보증절차</a>
							<a href="#" id="tab4">보증제외</a>
						</div>
						<!-- tab별 warranty import end -->
						<div id="tab1-cont" name="tab-cont" class="tab-cont">
							<div class="cont first-cont" data-aos="fade-up" data-aos-duration="1500">
								<h3 class="tit">
									<span class="num">01</span>다양한 상품의 선택지
								</h3>
								<ul id = "prd-list" class="service-list">
									<li>
										<p class="txt">- CUV Basic : 엔진, 미션 보증</p>
									</li>
									<li>
										<p class="txt">- CUV Standard : CUV Basic 및 일반 부품</p>
									</li>
									<li>
										<p class="txt">- CUV All : CUV Standard 및 국내 최고 추가 보증</p>
									</li>
								</ul>
							</div>
							<div class="cont">
								<h3 class="tit" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
									<span class="num">02</span>합리적인 가격
								</h3>
								<ul class="service-list" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
									<li>
										<p class="txt">다른 보증 상품들과 대비되는 가성비</p>
									</li>
								</ul>
							</div>
							<div class="cont" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="450">
								<h3 class="tit">
									<span class="num">03</span>최상급 A&#47;S
								</h3>
								<ul class="service-list" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="450">
									<li>
										<p class="txt">전국으로 지정된 정비점 250곳에서 최고 서비스 제공</p>
									</li>
								</ul>
							</div>
						</div>
						<div id="tab2-cont" name="tab-cont" class="tab-cont" style="display:none;">
							<div class="cont first-cont" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000">
								<h3 class="tit">
									<span class="num">01</span>가입대상 차량
								</h3>
								<ul class="service-list">
									<li>
										<p class="txt">(사)한국자동차진단보증협회 소속의 성능·상태점검장에서 성능·상태점검을 받고, 성능·상태점검책임보험에 가입된 차량.</p>
									</li>
								</ul>
							</div>
							<div class="cont">
								<h3 class="tit" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
									<span class="num">02</span>가입조건
								</h3>
								<ul class="service-list" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
									<li>
										<p class="txt">연식 10년 이하 및 주행거리 16만km 이하 차량에 한함</p>
									</li>
									<li>
										<p class="txt">단, 수입차의 경우 3,000CC 이하 차량만 가입 가능</p>
									</li>
									<li>
										<p class="add-txt">※ 가입 불가차종: 특수차량(튜닝, 특수장비 차량), 신차가격 2억 이상의 고가차량, 16인승 이상 승합차, 1톤 이상 화물차, 순수전기차.</p>
										<p class="add-txt">※ 차량인도일(매매계약서상)까지만 가입 가능합니다.</p>
									</li>
								</ul>
							</div>
							<div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
								<h3 class="tit">
									<span class="num">03</span>보증기간
								</h3>
								<ul class="service-list">
									<li>
										<table>
											<colgroup>
												<col style="width:25%;"/>
												<col style="width:25%;"/>
												<col style="width:25%;"/>
												<col style="width:25%;"/>
											</colgroup>
											<thead>
											<tr>
												<th>구분</th>
												<th>3개월</th>
												<th>6개월</th>
												<th>12개월</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>보증기간</th>
												<td>90일</td>
												<td>180일</td>
												<td>360일</td>
											</tr>
											<tr>
												<th>주행거리</th>
												<td>5,000km</td>
												<td>10,000km</td>
												<td>20,000km</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<p class="add-txt">※ 보증기간: 중고차 성능상태점검책임보험 개시일부터 시작됩니다.</p>
									</li>
									<li>
										<p class="add-txt">※ 기간 혹은 주행거리 중에서 먼저 도래한 것을 기준으로 보증기간이 만료됩니다.</p>
									</li>
								</ul>
							</div>
							<div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
								<h3 class="tit">
									<span class="num">04</span>보증내용
								</h3>
								<ul class="service-list">
									<li>
										<table>
											<thead>
											<tr>
												<th>구분</th>
												<th>3개월</th>
												<th>6개월</th>
												<th>12개월</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>A&#47;S 총 보증한도</th>
												<td>500만원</td>
												<td>700만원</td>
												<td>1,000만원</td>
											</tr>
											<tr>
												<th>입고 1회당 한도</th>
												<td colspan="3">국산 100 만원, 수입 200 만원</td>
											</tr>
											<tr>
												<th>고객자기부담금</th>
												<td colspan="3">국산 5 만원, 수입 10 만원</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<p class="add-txt">※ A&#47;S보증한도 초과 혹은 입고 1회당 한도를 초과한 수리비용은 고객님께서 부담합니다.</p>
									</li>
									<li>
										<p class="add-txt">※ 보증기간 내 수리 횟수는 무제한입니다.</p>
									</li>
									<li>
										<p class="add-txt">※ 보증기간에는 성능상태점검책임보험 기간이 포함되어 있으며, 해당 기간에 성능상태점검책임보험 적용됩니다.</p>
									</li>
								</ul>
							</div>
							<!--<div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
								<h3 class="tit">
									<span class="num">05</span>상품가격
								</h3>
								<ul class="service-list">
									<li>
										<p class="txt">상품</p>
									</li>
									<li>
										<div class="service-btn">
											<p class="warrantyPrdType" id="BASIC" style="background-color: #e3d5b8">Basic</p>
											<p class="warrantyPrdType" id="STANDARD">Standard</p>
											<p class="warrantyPrdType" id="ALL">All</p>
										</div>
									</li>
									<li>
										<p class="txt">보장기간</p>
									</li>
									<li>
										<div class="service-btn">
											<p class="warrantyPeriod" id="QUARTER" style="background-color: #e3d5b8">3개월</p>
											<p class="warrantyPeriod" id="HALF">6개월</p>
											<p class="warrantyPeriod" id="YEAR">12개월</p>
										</div>
									</li>
									<li>
										<p class="txt">국산|수입 구분</p>
									</li>
									<li>
										<div class="service-btn">
											<p class="warrantyLocation" id="LOCAL" style="background-color: #e3d5b8">국산</p>
											<p class="warrantyLocation" id="IMPORT">수입</p>
										</div>
									</li>
									<li>
										<p class="txt">차량구분</p>
									</li>
									<li>
										<select id="warrantyCarType" name="warrantyCarType" th:onchange="searchWarranty()">
											<option value="PV16">승용차 1,600CC 이하</option>
											<option value="PV20">승용차 1,600CC~2,000CC 이하</option>
											<option value="PV30">승용차 2,000CC~3,000CC 이하</option>
											<option value="PV31">승용차 3,000CC 초과</option>
											<option value="RVNT">승합차, 화물차</option>
										</select>
									</li>
									<li>
										<table>
											<thead>
											<tr>
												<th>구분</th>
												<th>가격(VAT포함,원)</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>가격(VAT포함,원)</th>
												<td>
													<span id="warrantyPrdCost" th:text="${warrantyCostVal}">84,700</span>
												</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<p class="txt">※ 가입 불가차종: 특수차량(튜닝, 특수장비 차량), 신차가격 2억이상의 고가차량, 16인승 이상 승합차, 1톤이상 화물차, 순수전기차.</p>
									</li>
									<li>
										<p class="add-txt">※ 수입 및 6개월 상품은 성능상태점검장 및 고객센터(1800-0892)으로 문의 바랍니다.</p>
									</li>
								</ul>
							</div>-->
							<div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
								<h3 class="tit">
									<span class="num">05</span>보증범위
								</h3>
								<ul class="service-list">
									<li>
										<table class="range-table">
											<caption>CUV Basic 보증표</caption>
											<colgroup>
												<col style="width:35%;" />
												<col style="width:65%;" />
											</colgroup>
											<thead>
											<tr>
												<th colspan="2">CUV Basic 보증</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>엔진</th>
												<td>
													흡입공기유량센서, 공전속도제어장치[엔진온도센서(ETS)제외], 냉각수온도센서, 스로틀위치센서(TPS), 산소센서, 크랭크위치센서, 흡기온도센서, 실린더 헤드 및 그 내부 부품(실린더 헤드, 캠축, 흡/배기밸브, 밸브스프링, 밸브스템씰, HLA) / 개스킷, 실린더 커버(로커암 커버), 실린더 블록 및 그 내부 부품(실린더 블록, 피스톤, 피스톤링, 커넥팅 로드, 크랭크샤프트, 크랭크축 베어링, 크랭크케이스) / 개스킷, 오일팬, 워터펌프, 엔진룸 라디에이터, 커먼레일, 고압연료파이프(고압펌프,인젝터 제외), 연료압력조절밸브, EGR밸브
												</td>
											</tr>
											<tr>
												<th>미션</th>
												<td>
													인히비터스위치, 입력축속도센서A, 출력축속도센서B, 자동변속기 관련 솔레노이드밸브, 토크컨버터, 변속기케이스, 유성기어, 디퍼렌셜기어, 유온센서, 콘트롤밸브바디(내부클러치, 브레이크 제외), 수동변속기어셈블리(수동변속기케이스, 싱크로나이저링, 쉬프트포크, 쉬프트레일 어셈블리, 각단 출력축)
												</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<table class="range-table">
											<caption>CUV Standard 보증표</caption>
											<colgroup>
												<col style="width:35%;" />
												<col style="width:65%;" />
											</colgroup>
											<thead>
											<tr>
												<th colspan="2">
													CUV Standard 보증<br />
													(CUV Basic 보증범위 포함)
												</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>일반</th>
												<td>
													클러치 어셈블리(클러치판 제외), 추진축 및 베어링, 등속조인트, 드라이브샤프트, 디퍼렌셜기어, 스티어링펌프, 스티어링기어(MDPS포함), 스티어링조인트, 파워고압호스, 타이로드엔드 및 볼조인트, 마스터실린더, 휠실린더(캘리퍼), 브레이크 호스 및 파이프, 배력장치, 진공펌프, 브레이크압력센서, 발전기, 와이퍼모터, 송풍모터, 라디에이터팬모터, 시동모터, 윈도우모터, 연료호스 및 파이프, 믹서, 기화기(베이퍼라이저), 솔레노이드밸브, 연료게이지센서
												</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<table class="range-table">
											<caption>CUV All 보증표</caption>
											<colgroup>
												<col style="width:35%;" />
												<col style="width:65%;" />
											</colgroup>
											<thead>
											<tr>
												<th colspan="2">
													CUV All 보증<br />
													(CUV Standard 보증범위 포함)
												</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th>엔진</th>
												<td>
													흡/배기 매니폴드, 스로틀바디, 바이패스밸브, EGR쿨러, 과급기(터보), PCV밸브, 오일필터 하우징, 오일스트레이너, 엔진오일쿨러, 오일펌프 및 프레셔 릴리프밸브, 오일레벨게이지, 오일압력스위치, 익스팬션 플러그, 프런트케이스, 타이밍체인 및 스프로킷, 엔진 아이들 및 텐션베어링, 밸런스샤프트, 플라이 휠, 크랭크 샤프트풀리, 예열프러그, 점화코일, 캠각센서, 써모스탯 및 하우징, 라디에이터 호스, 인젝터, 엔진마운트
												</td>
											</tr>
											<tr>
												<th>미션</th>
												<td>
													파우더 클러치, 내부디스크(오토),드라이브 플레이트(오토),드럼 기어세트,메인샤프트 및 기어세트, 오일 레벨게이지 및 튜브, 오일펌프, 미션오일쿨러, 미션오일호스, 미션오일팬, CVT금속밸트, CVT구동풀리, CVT피동풀리, DCT 어셈블리, 클러치 액추에이터 어셈블리, 기어 액추에이터 어셈블리, 트렌스퍼 케이스, 커플링 어셈블리, 미션 마운트, 시프트 케이블 어셈블리, 시프트레버 어셈블리
												</td>
											</tr>
											<tr>
												<th>일반</th>
												<td>
													ECU, ETACS, BCM, TCU, 와이어링하네스, ABS모듈, 에어백 시스템 컨트롤 모듈, 공조기 엑츄에이터, 에바포레이터, 에어컨콤프레셔, 에어컨콤프레셔 클러치, 에어컨 파이프/호스, 에어컨콘덴서, 에어컨 리시버탱크, 에어컨 익스팬션밸브, 히터코어, 히터콘트롤유닛, 히터모터, 히터 호스, 에어백 충돌감지센서, 에어백, 클럭스프링, 어퍼암, 로어암, 쇽업쇼바, 쇼바스프링, 쇼바마운팅, 스테빌라이저, 트레일링암, 하부암컴플리트, 스트러트브라켓, 크로스맴버, 볼조인트, 허브베어링, 휠 허브 너클, 인터쿨러, 부스터압력센서, 액슬하우징, 차동제한장치(LSD), 카단샤프트, 컬럼샤프트, 도어엑츄에이터, EPB(전자식주차브레이크), 브레이크디스크(드럼), 휠속도센서, 주차브레이크케이블, 트렁크쇼바, 본넷 쇼바, 유리기어, 스티어링 리저버탱크, 워셔펌프, PCSV, CCV
												</td>
											</tr>
											</tbody>
										</table>
									</li>
									<li>
										<p class="add-txt">※ 보증수리 부품은 일부분을 제외한 재상품을 원칙으로 하며 고객님이 신품으로 교환을 원하실 경우, 신품과 재생품의 차액은 고객님이 부담합니다.</p>
									</li>
									<li>
										<p class="add-txt">※ 성능·상태점검기록부상 문제가 있다고 고지된 사항(성늠상태점검 기록부상에 '양호','적정','없음'으로 표시되지 않은 사항)에 대하여는 보증범위에 포함 되더라도 보증수리가 되지 않습니다.</p>
									</li>
								</ul>
							</div>
							<div class="cont" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="400">
								<h3 class="tit">
									<span class="num">06</span>제조사 보증사항관의 관계
								</h3>
								<ul class="service-list">
									<li>
										<p class="txt">사고 접수 시 가입하신 차량의 제조사 보증사에 따라 다음과 같이 보증 개시시점을 변경하여 드립니다.</p>
									</li>
									<li>
										<p class="txt"> - 제조사 보증이 남은 차량 : 제조사 보증이 종료된 시점의 다음 날로 합니다.</p>
									</li>
									<li>
										<p class="txt"> - 제조사 보증이 종료된 차량 : 제조사 보증이 종료된 시점을 합당한 증빙자료와 함께 알려주시면 해당 시점의 다음 날로 합니다.</p>
									</li>
									<li>
										<p class="txt"> - 제조사 보증이 언제 종료되었는지 모르는 경우 : 당사의 기준에 따 제조사 보증 만료시점을 산정하여 해당 시점의 다음 날로 합니다.</p>
									</li>
									<li>
										<p class="txt"> - 단, CUV All은 성능상태점검책임보험이 종료되면 제조사 보증과 관계없이 CUV Warranty 보장이 시작됩니다.</p>
									</li>
								</ul>
							</div>
						</div>
						<div id="tab3-cont" name="tab-cont" class="tab-cont" style="display:none;">
							<div class="cont first-cont" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000">
								<h3 class="tit">
									모든 WARRANTY 접수 방법
								</h3>
								<ul class="service-list">
								<!--<ul class="service-list">
									<li>
										<div id="warranty-course">
											<div class="display-flex border-black-solid">
												<div class="flex-flow-wrap">
													<p>step1</p>
													<p>콜센터 접수</p>
												</div>
												<p>
													&lt;!&ndash;<img class="img" src="/user/images/dummy/sub_banner.png"/>&ndash;&gt;
												</p>
											</div>
											<div class="display-flex border-black-solid">
												<div class="flex-flow-wrap">
													<p>step2</p>
													<p>수리완료 및 차량출고</p>
												</div>
												<p>
													&lt;!&ndash;<img class="img" src="/user/images/dummy/sub_banner.png"/>&ndash;&gt;
												</p>
											</div>
											<div class="display-flex border-black-solid">
												<div class="flex-flow-wrap">
													<p>step3</p>
													<p>고장진단 및 수리</p>
												</div>
												<p>
													&lt;!&ndash;<img class="img" src="/user/images/dummy/sub_banner.png"/>&ndash;&gt;
												</p>
											</div>
											<div class="display-flex border-black-solid">
												<div class="flex-flow-wrap">
													<p>step4</p>
													<p>수리완료 및 차량출고</p>
												</div>
												<p>
													&lt;!&ndash;<img class="img" src="/user/images/dummy/sub_banner.png"/>&ndash;&gt;
												</p>
											</div>
										</div>
									</li>
								</ul>
								<h3 class="tit mt-40">
									모든 WARRANTY 지정 정비센터
								</h3>
								<ul class="service-list">
								-->
									<!--<li>
										<div class="txt-area">
											<p class="txt">
												250여 개의 지정 정비센터에서 신속하고 편리하게 보증수리 서비스를 만나보실 수 있습니다.
											</p>
										</div>
									</li>-->
									<li>
										<div class="txt-area">
											<div class="img">
												<img src="/user/images/dummy/service.svg" alt="">
											</div>
										</div>
									</li>
								</ul>
								<ul class="service-list">
									<li>
										<p class="add-txt text-align-center" style="font-size: 22px;">보증수리 위한 정비 장소</p>
										<p class="add-txt p-25 border-black-solid">
											※ 매수인이 A&#47;S보증수리를 하고자 하는 경우에는 콜센터에서 지정한 정비센터 이용하되, 정비센터가 원거리에 소재하는 경우에는 매수인의 주민등록상 기초자치단의 행정구역 내에 소재하는 정비센터를 이용하여 보증수리를 받을 수 있습니다.
											<br /><br />
											※ A&#47;S보증수리시 해당 부품의 수급이 원할하지 않을 경우 수리 시간이 다소 지연될 수 있습니다.
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div id="tab4-cont" name="tab-cont" class="tab-cont" style="display: none;">
							<div class="cont first-cont" data-aos="fade-up" data-aos-offset="0" data-aos-delay="1000">
								<h3 class="tit">
									보증제외
								</h3>
								<ul class="service-list border-black-solid ptb-10 pr-5" data-aos="fade-up">
									<li>
										<p class="txt">
											<span class="txt">아래의 사유로 생긴 사고(손해)는 보증하지 않습니다.</span><br />
											<span class="add-txt">※ 사고(손해) : A&#47;S보증범위에 해당하는 부품의 고장으로 A&#47;S접수시 안내된 정비 업체에서 보장차량의 수리가 이루어진 경우를 의미.</span>
										</p>
									</li>
									<li style="margin-left: 33px;">
										<div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
											<ol  class="list-decimal-outside" start="1">
												<li><p>서비스 이용자(보장차량 운행자 포함)의 고의로 생긴 사고(손해)로 인한 수리비용</p></li>
												<li><p>보장차량의 소유주가 가입 후 변경된 경우</p></li>
												<li><p>법률상 배상책임이 있는 제3자의 고의 또는 과실로 인한 사고로 발생한 수리비용</p></li>
												<li><p>자동차제작회사(제조사)의 보증(수리보장) 프로그램(해당 보증은 리콜을 포함합니다)이나 그 이외의 보증 또는 수리보장 프로그램(자동차 매매업자 등 제3자의 보증 또는 보장을 포함합니다)에서 보상받은사고(손해)</p></li>
												<li><p>일상점검의 소홀로 인한 냉각수 부족, 엔진·변속기(트랜스미션) 오일 부족등으로 인한 고장 및 마모</p></li>
												<li><p>차량의 변형 및 개조에 의한 고장</p></li>
												<li><p>도난으로 인한 수리사항이 발생한 경우</p></li>
												<li><p>유상 운송 혹은 영리를 목적으로 요금이나 대가를 받고 운행 중 발생한 사고(손해)</p></li>
												<li><p>소모품 손해. 다만, 부품의 수리시 소모품 교체 또는 교환이 필수적으로 발생하는 경우에는 회사의 사전 동의를 받은 경우에 한하여 해당 소모품 사고(손해)를 보상하여 드립니다.</p></li>
												<li><p>품질 및 기능상 영향이 없는 감각적 손해(소음, 진동, 냄새, 외관, 작동감각 등)</p></li>
												<li><p>다른 차량 또는 다른 물체와의 충돌, 접촉, 추락, 전복으로 인한 사고 및 자동차보험(공제계약을 포함합니다)의 보장대상이 되는 사고(보험·공제계약의 가입여부 및 실제 보험금 지급 여부와는 관계가 없습니다)</p></li>
												<li><p>차량 제작사의 운행능력한계를 초과한 무리한 운행, 적재량 초과, 수리지연에 의한 고장</p></li>
												<li><p>차량 제작사에서 지정한 연료 이외에 유사연료 또는 첨가제 등을 사용하여 발생한 고장</p></li>
												<li><p>차량 제작사에 의하지 않은 차량의 LPG기관으로의 변경으로 인한 사고(손해)</p></li>
												<li><p>보장차량의 고장으로 인한 견인비용, 차량대체비용(렌트비용 등), 휴업손해 등 간접비용</p></li>
												<li><p>차량 출고 시 장착사양과 다르게 임의로 교체 장착한 부품의 고장 및 그 부품으로 연관되어 발생한 사고(손해)</p></li>
												<li><p>자동차보험의 보험금 지급기록이 있는 침수 사고(손해)</p></li>
												<li><p>회사가 지정하지 않은 수리정비업체에 의한 수리비용</p></li>
												<li><p>주행거리계의 고장, 임의변조 또는 교체로 정확한 주행거리를 확인할 수 없는 경우</p></li>
												<li><p>보장차량의 고장이 발생한 날 당시 주행거리가 보험증권상 기재된 주행거리 조건을 초과한 경우</p></li>
												<li><p>수리비용의 합계액이 보험증권에 기재된 보상한도액을 초과하는 경우 그 초과금액</p></li>
												<li><p>보장차량이 차량본래의 용도 이외로 사용되거나 경찰차량 또는 응급차량(구급차, 견인차, 구난차, 장의차 등)으로 사용되어 발생한 사고(손해)</p></li>
												<li><p>핵연료물질 또는 핵연료물질에 의하여 오염된 물질의 방사성, 폭팔성 또는 그 밖의 유해한 특성에 의한 사고로 생긴 사고(손해)</p></li>
												<li><p>위 제23호 이외의 방사선을 쬐는 것 또는 방사는 오염으로 인한 사고(손해)</p></li>
												<li><p>전쟁, 혁명, 내란, 사변, 테러, 폭동, 소요, 노동쟁의 기타 이들과 유사한 사태로 생긴 사고(손해)</p></li>
												<li><p>지진, 분화, 홍수, 해일 또는 이와 비슷한 천재지변으로 생긴 사고(손해)</p></li>
												<li><p>화재, 폭발, 날아온 물체, 떨어지는 물체에 의한 사고(손해)</p></li>
												<li><p>각종 오일이나 연료의 침전, 오염 및 부식 또는 기후와 관련된 변형으로 인한 고장</p></li>
												<li><p>서비스 안내서 에서 담보하는 부품외의 부품 사고(손해)</p></li>
												<li><p>지정정비업체의 수리과정상의 하자(부주의나 교체한 부품의 결함)로 야기된 사고(손해)</p></li>
												<li><p>정상적인 차량관리, 즉 전차륜 정렬, 휠발란스, 휠얼라인먼트, 엔진튠업, 브레이크 점검 및 조정 등기타 제조사 매뉴얼 등에서 권장하는 작업</p></li>
												<li><p>국가나 공공단체의 공권력 행사에 의한 압류, 징발, 몰수, 파괴 등으로 인한 고장</p></li>
												<li><p>차량의 일부 부분품, 부속품, 부속기계장치만의 도난으로 인한 고장</p></li>
												<li><p>경주, 등판능력, 속도 및 내구시험동안 발생한 사고(손해)</p></li>
												<li><p>성능점검기록부에 기재된 하자 불량 및 이로 인한 고장</p></li>
												<li><p>벌과금 및 징벌적 손해</p></li>
												<li><p>보장차량을 해외에서 수리하는 경우</p></li>
												<li><p>보증수리가 완료된 보증부품에 대한 재수리</p></li>
												<li><p>서비스 보장개시 이전에 이미 발생한 결함으로 인한 고장</p></li>
												<li><p>사고 당 보상한도를 초과한 범위의 동일사고ㆍ동일부품으로 분할수리 및 중복청구하는 경우</p></li>
											</ol>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{fragments/footer :: footer}"></footer>
	</div>
		<script>
			//서브 페이지 제목
			let hdNm = "워런티";

			document.addEventListener("DOMContentLoaded", () => { // 찜 혹은 알람에 대한 기능 설정
				fetch("/api/pick/check", {
					method: "POST"
				})
						.then(res => {
							if (!res.ok) {
								throw new Error(`HTTP error! status: ${res.status}`);
							}
							return res.text().then(text => {
								return text ? JSON.parse(text) : {};
							});
						})
						.then(result => {
							if(result > 0) {
								document.getElementById("picksCheck").classList.add('on');
							}
						})
						.catch(error => {
							console.error("Error :", error);
						});



				fetch("/api/notification/check", {
					method : "POST"
				})
						.then(res => {
							if (!res.ok) {
								throw new Error(`HTTP error! status: ${res.status}`);
							}
							return res.text().then(text => {
								return text ? JSON.parse(text) : {};
							});
						})
						.then(result => {
							console.log(result);
							if(result > 0) {
								console.log(document.getElementById("notificationCheck"));
								document.getElementById("notificationCheck").classList.add('on');
							}
						})
						.catch(error => {
							console.error("Error : ", error);
						});

			});

			// 탭버튼
			document.querySelectorAll('.tab-list.type-s').forEach(function (btn, idx) {
				btn.addEventListener('click', function (e) {
					let targetBtn = e.target;
					let targetBtnId = e.target.id;

					if(targetBtnId === ''){
						return;
					}

					document.querySelectorAll('.tab-list.type-s a').forEach(function (btn, idx) {
						btn.classList.remove('on');
					});
					targetBtn.classList.add('on');
					fn_tab(targetBtnId);
				});
			});

			const fn_tab = (tabID) => {
				tabID = tabID + "-cont";
				let tabCont = document.querySelectorAll("div[name='tab-cont']");

				tabCont.forEach(function (tabElement, idx) {
					let tabContID = tabElement.id;
					document.getElementById(tabContID).style.display = "none";
				});
				document.getElementById(tabID).style.display = "block";
				AOS.refresh();
			}

			AOS.init(); // 자바스크립트로 init()을 해야 동작한다.


			// 상품가격 클릭 시(select 제외)
			document.querySelectorAll('.warrantyLocation, .warrantyPrdType, .warrantyPeriod').forEach(function (pElement) {
				pElement.addEventListener('click', function (e) { // 만드는 중
					validWarranty(e);

					searchWarranty();
				});
			});

			const validWarranty = (e) => {// 클릭한 요소의ID 및 요소의 class를 가지고 css 조작
				let targetClass = e.target.className;
				let targetId = e.target.id;

				if(targetClass === '' || targetId === ''){
					return false;
				}

				let resetElements = document.getElementsByClassName(targetClass); // 선택한 요소의 그룹

				// 선택한 요소 배경 변경
				Array.prototype.forEach.call(resetElements,(resetElement) => { // 배경 전부 투명화
					resetElement.style["background-color"] = "transparent";
				});
				document.getElementById(targetId).style["background-color"] ="#e3d5b8"; // 클릭한 선택지 배경 변경
			}

			const searchWarranty = () => { // costID 생성 함수
				let warrantyLocation = document.getElementsByClassName("warrantyLocation");
				let warrantyPrdType = document.getElementsByClassName("warrantyPrdType");
				let warrantyPeriod = document.getElementsByClassName("warrantyPeriod");
				let wcLocation = "";
				let wcPrdType = "";
				let wcPeriod = "";

				Array.prototype.forEach.call(warrantyLocation,(e) => {
					let chkElement = colorCode(e.style.backgroundColor);
					console.log(e);
					console.log(chkElement);

					if(chkElement === "#e3d5b8"){
						wcLocation = e.id.toUpperCase();
					}
				});
				Array.prototype.forEach.call(warrantyPrdType,(e) => {
					let chkElement = colorCode(e.style.backgroundColor);

					if(chkElement === "#e3d5b8"){
						wcPrdType = e.id.toUpperCase();
					}
				});
				Array.prototype.forEach.call(warrantyPeriod,(e) => {
					let chkElement = colorCode(e.style.backgroundColor);

					if(chkElement === "#e3d5b8"){
						wcPeriod = e.id.toUpperCase();
					}
				});

				let wcCarType = document.querySelector("select[id=warrantyCarType] option:checked").value;
				if(wcCarType === ""){
					return;
				}
				wcCarType.toUpperCase();

				let costID = wcLocation + "_" + wcPrdType + "_" + wcPeriod + "_" + wcCarType;
				fn_searchWarranty(costID);
			}

			const fn_searchWarranty = async (costID) => { // 가격 가져오는 함수
				try {
					await fetch("/api/sub/warranty/" + costID)
							.then((response) => response.text())
							.then((result) => document.getElementById("warrantyPrdCost").innerHTML = result)
				} catch (error) {
					console.error('Error:', error);
					return []; // 에러 발생 시 빈 배열 반환
				}
			}
		</script>
	</body>
</html>
