<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/popup_layout}">

<div layout:fragment="pop_header" class="pop_header">
    <h1>사유 등록</h1>
    <button class="pop_close" onclick="closeTabClick()">닫기</button>
</div>
<div layout:fragment="pop_body" class="pop_body">
    <form>
        <div style="height:400px;">
            <div class="con_box">
                <label for="reason">
                    <textarea name="reason" id="reason" th:text="${reason}" class="text_box scroll_y" placeholder="사유를 입력해주세요."></textarea>
                </label>
                <th:block th:if="${reason eq null}">
                    <div class="btn_area">
                        <button type="submit" class="btn">저장</button>
                    </div>
                </th:block>
            </div>
        </div>
        <input type="hidden" name="productId" th:value="${productId}">
    </form>
</div>

<script layout:fragment="pop_script" th:inline="javascript">
    function closeTabClick() {
        window.close();
    }

    document.forms[0].addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(event.currentTarget);

        const reason = document.getElementById('reason');
        if (reason.value.trim().length < 1) {
            alert('내용을 입력해주세요.');
            reason.focus();
            return false;
        }

        if (!confirm('저장하시겠습니까?')) return false;

        fetch('/admin/management/product/reason/save', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                if (result.code !== 200)
                    throw new Error(result.message);

                window.opener.location.reload();
                alert('저장되었습니다.');
                window.close();
            })
            .catch(error => {
                console.error(error);
                alert(error);
            });
    });

</script>
</html>
