<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>게시판 &gt; 자주 묻는 질문 &gt; 등록 </title>
    <style>
        .ck-editor__editable { min-height: 300px; }
    </style>
    <script src="/admin/js/ckeditor-webbizz.js"></script>
</head>

<div layout:fragment="lnb" th:replace="~{fragments/lnb_board :: lnb}"></div>
<div class="content" layout:fragment="content">
    <div class="content_head">
        <h3>자주 묻는 질문</h3>
    </div>
    <div class="content_body">
        <div class="board">

            <!-- View Start -->
            <div class="view_wrap">
                <p class="align_r"><span class="asta">*</span>필수 입력</p>
                <div class="view_table mt10">
                    <form action="">
                        <table>
                            <caption>상세/수정</caption>
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:80%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">질문 <span class="asta">*</span></th>
                                    <td>
                                        <input type="text" name="title" id="title" placeholder="" th:value="${faqDetail.title}">
                                        <label for="title" class="blind">질문</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">노출상태 <span class="asta">*</span></th>
                                    <td>
                                        <div class="radiobox">
                                            <input type="radio" id="show" value="N" name="show" th:checked="${faqDetail.viewYn.yn eq 'N'}">
                                            <label for="show">미노출</label>
                                        </div>
                                        <div class="radiobox">
                                            <input type="radio" id="hide" value="Y" name="show" th:checked="${faqDetail.viewYn.yn eq 'Y'}">
                                            <label for="hide">노출</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">답변 <span class="asta">*</span></th>
                                    <td>
                                        <textarea name="content" id="content" th:utext="${faqDetail.content}" cols="30" rows="10"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일</th>
                                    <td th:text="${#temporals.format(faqDetail.createdAt, 'yyyy-MM-dd')}">YYYY-MM-DD</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_area align_c mt20">
                            <button type="button" class="btn" id="saveBtn">저장</button>
                            <button type="button" class="btn btn_form5" id="delBtn">삭제</button>
                            <a href="/admin/board/faq" class="btn btn_form4">취소</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- //View End -->
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    let editorInstance;

    ClassicEditor
        .create(document.getElementById('content'))
        .then(editor => {
            editorInstance = editor; // 에디터 인스턴스 저장
        })
        .catch(error => {
            console.error('에디터 초기화 실패:', error);
        });


    // 삭제 버튼 클릭했을때
    document.getElementById("delBtn").onclick = () => {
        let faqId = [[${faqDetail.id}]];

        fetch("/admin/board/faq/delete", {
            method : "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify({
                id : faqId
            })
        })
            .then(res => res.json())
            .then(result => {
                if(result.code === 200) {
                    alert("삭제되었습니다.");
                    location.href = "/admin/board/faq";
                } else {
                    alert("삭제에 실패했습니다.");
                }
            })
    }

    // 저장 버튼 클릭했을때
    document.getElementById("saveBtn").onclick = () => {
        let title = document.getElementById("title");

        if(title.value.trim() === "") {
            alert("질문을 입력해주세요.");
            title.focus();
            return false;
        }

        let content = editorInstance.getData();

        if(content.trim() === "") {
            alert("답변을 입력해주세요.");
            editorInstance.focus();
            return false;
        }

        fetch("/admin/board/faq/update", {
            method : "POST",
            headers : {"Content-Type" : "application/json"},
            body : JSON.stringify({
                id : [[${faqDetail.id}]],
                title : title.value,
                show : document.querySelector("input[name='show']:checked").value,
                content : content
            })
        })
            .then(res => res.json())
            .then(result => {
                if(result.code === 200) {
                    alert("저장되었습니다.");
                    location.href = "/admin/board/faq";
                }
            })
    }
</script>
</html>
