<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>게시판 &gt; 리뷰 &gt; 목록 </title>
</head>

<div layout:fragment="lnb" th:replace="~{fragments/lnb_board :: lnb}"></div>
<div class="content" layout:fragment="content">
    <div class="content_head">
        <h3>리뷰</h3>
    </div>
    <div class="content_body">
        <div class="board">
            <form>
                <div class="search_wrap">
                    <table>
                        <caption>검색</caption>
                        <colgroup>
                            <col style="width:10%;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">키워드</th>
                            <td>
                                <input type="text" title="키워드" name="keyWord" th:value="${condition.keyWord}"
                                       style="width: 60%;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn_area align_c mt20">
                        <button type="submit" class="btn">검색</button>
                    </div>
                </div>
            </form>
            <div class="list_wrap">
                <div class="list_top">
                    <div class="txt_area">
                        <p>총 <em
                            th:text="${#numbers.formatInteger(reviewList.totalElements, 1, 'COMMA')}">0,000</em>건
                        </p>
                    </div>
                    <div class="util_area">
                        <a href="/admin/board/review/write" class="btn btn_form2">등록</a>
                    </div>
                </div>
                <div class="list_table">
                    <table>
                        <caption>검색 결과</caption>
                        <colgroup>
                            <col style="width:10%;">
                            <col style="width:auto;">
                            <col style="width:16%;">
                            <col style="width:10%;">
                            <col style="width:10%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">차량명</th>
                            <th scope="col">등록일</th>
                            <th scope="col">노출상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${reviewList.isEmpty()}">
                            <td colspan="5">등록된 게시물이 없습니다.</td>
                        </tr>
                        <tr th:each="review, iterStat : ${reviewList}">
                            <td class="num">
                                <span
                                    th:text="${#numbers.formatInteger(reviewList.totalElements - reviewList.number * reviewList.size - iterStat.index, 1, 'COMMA')}">1</span>
                            </td>
                            <td>
                                <a th:href="@{/admin/board/review/__${review.id}__}" class="btn_link align_l txt_over"
                                   th:text="${review.title}">입력한 제목을 노출합니다. 길면 한 줄로 처리됩니다.입력한 제목을 노출합니다. 길면 한 줄로
                                    처리됩니다.</a>
                            </td>
                            <td th:text="${review.makerName != null && review.modelName != null && review.detailGradeName != null ?
                                review.makerName + ' ' + review.modelName + ' ' + review.detailGradeName : ''}">
                                현대 아반떼 (CN7) 2.0N
                            </td>
                            <td th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}">YYYY-MM-DD</td>
                            <td th:text="${review.viewYn == T(com.cuv.admin.common.YN).Y ? '노출' : '미노출'}">노출</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{fragments/pagination :: pagination (${reviewList})}"></div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
</html>
