<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div id="pc-installmentsWrap" class="hide-m install-wrap" th:fragment="pcContents">
		<div id="visual">
			<div class="copy">
				<div class="cp1">
					<h2>할부</h2>
				</div>
				<div class="cp2">
					<h1>중고차 할부도 역시</h1>
				</div>
				<div class="cp3">
					<p>쉽고 편하게 카통령에서!</p>
				</div>
				<div class="object">
					<img src="/user/images/common/img/installments/visual_car.png" alt="중고차 할부도 역시 쉽고 편하게 카통령에서!">
				</div>
			</div>
		</div><!-- END visual -->

		<div class="w-set">
			<div id="mct_01">
				<div class="area">
					<div class="title">
						<h1>카통령에서 <span>할부</span>를 이용해야 하는 이유</h1>
					</div>
					<div class="box">
						<div class="sop">
							<div class="cp1"><img src="/user/images/common/img/installments/mask1.jpg" alt=""/></div>
							<div class="cp2">
								<h2>신용 점수에 영향 없는 한도 조회</h2>
								<p>여러 금융기관을 대상으로 대출 한도 조회 시</p>
								<p>신용 점수에 영향이 갈 수 밖에 없습니다.</p>
								<p>카통령은 믿을 수 있는 제휴 금융사를 통해 신용 점수 영향 없이</p>
								<p>한도 조회가 가능합니다.</p>
							</div>
						</div>
						<div class="sop">
							<div class="cp2">
								<h2>전문 상담원들의 고객 서비스</h2>
								<p>중고차 업계에서 오랜 경력과 다양한 경험을 갖춘</p>
								<p>전문 상담원들이 복잡하고 어려운 대출을 쉽고 빠르고 간편하게</p>
								<p>처리할 수 있도록 도와드립니다.</p>
							</div>
							<div class="cp1"><img src="/user/images/common/img/installments/mask2.jpg" alt=""/></div>
						</div>
						<div class="sop">
							<div class="cp1"><img src="/user/images/common/img/installments/mask3.jpg" alt=""/></div>
							<div class="cp2">
								<h2>신용 점수에 영향 없는 한도 조회</h2>
								<p>여러 금융기관을 대상으로 대출 한도 조회 시</p>
								<p>신용 점수에 영향이 갈 수 밖에 없습니다.</p>
								<p>카통령은 믿을 수 있는 제휴 금융사를 통해 신용 점수 영향 없이</p>
								<p>한도 조회가 가능합니다.</p>
							</div>
						</div>
					</div>
				</div><!-- END area -->
			</div><!-- END mct_01 -->

			<div id="mct_02">
				<div class="area">
					<div class="title">
						<h1>진행 절차 안내</h1>
					</div>
					<div class="box">
						<ul class="ulct">
							<li>
								<div class="icon">
									<img src="/user/images/common/img/icon_step1.png" alt=""/>
								</div>
								<div class="stitle">
									<h2>Step 01</h2>
									<p>구매 희망 차량 선택</p>
								</div>
							</li>
							<li><img src="/user/images/common/ico/icon_arrow.svg" alt=""/></li>
							<li>
								<div class="icon">
									<img src="/user/images/common/img/icon_step2.png" alt=""/>
								</div>
								<div class="stitle">
									<h2>Step 02</h2>
									<p>전문 상담원과 통화</p>
								</div>
							</li>
							<li><img src="/user/images/common/ico/icon_arrow.svg" alt=""/></li>
							<li>
								<div class="icon">
									<img src="/user/images/common/img/icon_step3.png" alt=""/>
								</div>
								<div class="stitle">
									<h2>Step 03</h2>
									<p>본인 확인 및 한도조회</p>
								</div>
							</li>
							<li><img src="/user/images/common/ico/icon_arrow.svg" alt=""/></li>
							<li>
								<div class="icon">
									<img src="/user/images/common/img/icon_step4.png" alt=""/>
								</div>
								<div class="stitle">
									<h2>Step 04</h2>
									<p>승인 결과 안내 및</p>
									<p>서류 제출</p>
								</div>
							</li>
							<li><img src="/user/images/common/ico/icon_arrow.svg" alt=""/></li>
							<li>
								<div class="icon">
									<img src="/user/images/common/img/icon_step5.png" alt=""/>
								</div>
								<div class="stitle">
									<h2>Step 05</h2>
									<p>차량 구매 완료</p>
								</div>
							</li>
						</ul>
					</div>
				</div><!-- END area -->
			</div><!-- END mct_02 -->
		</div>


		<div id="mct_03">
			<div class="title">
				<h1>지금 바로 상담 받아 보세요!</h1>
			</div>
			<div class="box">
				<a href="tel:1800-0892">
					<h2>1800-0892</h2>
					<h2>전화상담</h2>
				</a>
				<a href="#" id="contact-btn" onclick="$popup.template('#quickAskPopup')">
					<h2>연락처 남기기</h2>
				</a>
			</div>
		</div><!-- END mct_03 -->

		<div class="w-set">
			<div id="mct_04">
				<div class="title">
					<h1>아직 어떤 차량을 구매하실지 결정하지 못하셨나요?</h1>
				</div>
				<div class="btn not-common">
					<a href="#">할부 차량 목록 바로가기</a>
				</div>
			</div><!-- END mct_04 -->
		</div>

		<div id="mct_05">
			<div class="w-set">

				<div class="area">
					<div class="title">
						<h1>제휴 금융사</h1>
						<p>방문, 서류 제출 없이 전화상담만으로 금융상품을 비교하고 차량 구입을 진행해 드려요</p>
					</div>
					<div class="box">
						<ul>
							<li><img src="/user/images/common/img/capital/partner_logo1.png" alt="KB캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo2.png" alt="im캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo3.png" alt="현대캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo4.png" alt="하나캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo5.png" alt="우리금융캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo6.png" alt="JB우리캐피탈"></li>
							<li><img src="/user/images/common/img/capital/partner_logo7.png" alt="BNK캐피탈"></li>
						</ul>
						<ul>
							<li><img src="/user/images/common/img/capital/partner_logo8.png" alt="Renault Capital"></li>
							<li><img src="/user/images/common/img/capital/partner_logo9.png" alt="ORIX"></li>
							<li><img src="/user/images/common/img/capital/partner_logo10.png" alt="한국캐피탈"></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- END mct_05 -->
	</div>
</html>