HELP.md
.DS_Store
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/generated/**/com/

### VS Code ###
.vscode/

# Gradle 관련 파일
.gradle/
*.lock
*.bin
gc.properties
outputFiles.bin
resourceHashesCache.bin
/src/main/generated/
/src/main/generated/com/