<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="mobile-personalWrap" class="hide-pc personal-wrap" th:fragment="personalMobileContents">
    <div id="mct_01">
        <div class="area">
            <div class="nav">
                <ul>
                    <li><a href="#" id="tx1" class="on">개인차량</a></li>
                    <li><a href="#" id="tx2">법인/사업자 차량</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="tx1">
                    <div class="title">
                        <div class="cp1">
                            <h1>저렴한 렌트비로 비용부담은 Down!</h1>
                            <h1>카통령에서 이용 만족도는 Up!</h1>
                        </div>
                        <div class="cp2">
                            <p>보험가입은 카통령에서, 개인 보험료할증 No!</p>
                        </div>
                    </div>
                    <div class="object">
                        <img src="/user/images/common/img/rent/object_car.png" alt="" />
                    </div>
                </div><!-- END tx1 -->
                <div class="tx2">
                    <div class="title">
                        <div class="cp1">
                            <h1>신차 구매 대비 비용 절감 Good!</h1>
                        </div>
                    </div>
                    <div class="object">
                        <img src="/user/images/common/img/rent/object_sop_m.png" class="brs" alt="" />
                        <div class="hide-text">
                            <h2>장기렌터카와 신차 구매 비교</h2>
                            <h3>1. 초기비용</h3>
                            <p>신차 구매 시 초기비용은 약 330만원입니다. 그러나 <strong>장기렌터카</strong>를 선택하면 초기비용이 <strong>0원</strong>입니다. 취득세, 등록세, 공채, 할부수수료, 이자 등 모든 비용이 면제됩니다.</p>
                            <h3>2. 유지보수</h3>
                            <p>신차 구매 후 유지보수에 약 330만원 + 150만원의 추가 비용이 발생합니다. 그러나 <strong>장기렌터카</strong>는 <strong>0원</strong>입니다. 보험료, 자동차세(SM5 PE 36개월 기준), 만 35세 이상 사용자 대상이며, 가족보험 없이 모두가 운행 가능하며, 사고 이력에도 보험 할증이 없습니다.</p>
                            <h3>3. 유류비</h3>
                            <p>신차 구매 시 유류비는 약 949만원(LPG 사용 시)입니다. 하지만 <strong>장기렌터카</strong>를 이용하면 유류비가 687원입니다. 뉴 SM5 PE 기준, 6만 km 주행 시 2013.2월 한국석유공사 유가 기준으로 계산되었습니다.</p>
                            <h3>4. 각종 세금</h3>
                            <p>신차 구매 시 약 230만원의 세금이 발생합니다. 그러나 <strong>장기렌터카</strong>는 세금 부담이 <strong>0원</strong>입니다. 취득세, 등록세, 토탈케어, 유지관리 대행, 엔진오일, 타이어 관리, 순회 정비 차량 서비스 등 총 20종의 차량 관리 서비스가 제공됩니다.</p>
                            <h3>결론: 장기렌터카의 장점</h3>
                            <p>신차 구매와 비교하여 장기렌터카는 초기 비용, 유지보수, 유류비, 각종 세금에서 큰 절감 효과를 볼 수 있습니다. 특히 <strong>취득세, 등록세</strong>와 같은 세금 부담이 없고, 유지보수 비용도 모두 포함되어 있어 경제적으로 매우 유리한 선택입니다.</p>
                        </div>
                    </div>
                </div><!-- END tx2 -->
            </div><!-- END content -->
        </div><!-- END area -->
    </div><!-- END mct_01 -->

    <div id="mct_02">
        <div class="area">
            <div class="title">
                <h1>렌터카 특징과 장점</h1>
            </div>
            <div class="box">
                <table class="comparison-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="highlight">장기렌터카</th>
                        <th>리스</th>
                        <th>할부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>등록명의</td>
                        <td class="highlight">렌트사</td>
                        <td>리스사</td>
                        <td>고객</td>
                    </tr>
                    <tr>
                        <td>취득세</td>
                        <td class="highlight">4%</td>
                        <td>7%</td>
                        <td>7%</td>
                    </tr>
                    <tr>
                        <td>자동차세<br/>(cc/원)</td>
                        <td class="highlight">18~24원</td>
                        <td>104~260원</td>
                        <td>104~260원</td>
                    </tr>
                    <tr>
                        <td>보험</td>
                        <td class="highlight">렌트사 <br/>영업용요율</td>
                        <td>개인 <br/>자가용요율</td>
                        <td>개인 <br/>자가용요율</td>
                    </tr>
                    <tr>
                        <td>신용정보 <br/>공유</td>
                        <td class="highlight bx">대출정보 <br/>미 공유</td>
                        <td>대출정보 <br/>공유</td>
                        <td>대출정보 <br/>공유</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- END area -->
    </div><!-- END mct_02 -->

    <div id="mct_03">
        <div class="area">
            <div class="title">
                <h1>왜 카통령에서 해야될까요?</h1>
            </div>
            <div class="box">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop1.svg" alt="" />
                        </div>
                        <div class="stitle">
                            <h2>신용 심사 無</h2>
                        </div>
                        <div class="txts">
                            <p>본인 계좌 또는신용카드만</p>
                            <p>있다면 저신용자도 OK</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop2.svg"  alt=""/>
                        </div>
                        <div class="stitle">
                            <h2>대출 영향 無</h2>
                        </div>
                        <div class="txts">
                            <p>대출한도가 꽉찼어도 OK</p>
                            <p>신용 등급, 대출한도 영향 無</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop3.svg" alt=""/>
                        </div>
                        <div class="stitle">
                            <h2>선납금 無</h2>
                        </div>
                        <div class="txts">
                            <p>선납금 없이 목돈 부담 無</p>
                            <p>월 이용료만 부담</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop4.svg" alt=""/>
                        </div>
                        <div class="stitle">
                            <h2>정해진 기간 無</h2>
                        </div>
                        <div class="txts">
                            <p>내가 원하는 만큼만 자유롭게</p>
                            <p>12개월 이후 자유롭게 연장 가능</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop5.svg" alt=""/>
                        </div>
                        <div class="stitle">
                            <h2>철저한 사후 관리</h2>
                        </div>
                        <div class="txts">
                            <p>엔진 변속기 보증 소모품 무상교환</p>
                            <p>순회정비 및 대차 서비스</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="/user/images/common/img/rent/icon_sop6.svg" alt=""/>
                        </div>
                        <div class="stitle">
                            <h2>다양한 차량</h2>
                        </div>
                        <div class="txts">
                            <p>내가 원하는 차량대기 없이</p>
                            <p>빠른 출고!</p>
                        </div>
                    </li>
                </ul>
            </div><!-- END box -->
            <div class="btns">
                <a href="#">상담 신청</a>
            </div>
        </div><!-- END area -->
    </div><!-- END mct_03 -->

    <div id="mct_04">
        <div class="w-set">
            <div class="title">
                <h1>자주 묻는 질문</h1>
            </div>
            <div class="box">
                <div class="dos" th:each="faq : ${faqList}">
                    <div class="dos_q">
                        <ul>
                            <li><h2>Q</h2></li>
                            <li><h3 th:text="${faq.title}">중고차 장기렌터카란 무엇인가요?</h3></li>
                        </ul>
                    </div>
                    <div class="dos_a">
                        <ul>
                            <li><h2>A</h2></li>
                            <li>
                                <p th:utext="${faq.content}">알맞는 답변을 넣어주세요.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END mct_04 -->

    <div id="m-rent-footer">
        <div id="quick">
            <div class="area">
                <div class="dos">
                    <div class="sop">
                        <h1>내가 원하는 차량 자유롭게 문의하세요!</h1>
                    </div>
                    <div class="ref">
                        <ul>
                            <li><a href="#">1644-5567</a></li>
                            <li><a href="#" class="contact-btn" onclick="$popup.template('#quickAskPopup')">상담 신청</a></li>
                        </ul>
                    </div>
                </div><!-- END dos -->
            </div><!-- END area -->
        </div><!-- END quick -->
    </div>

</div>
</html>