<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="recommend-top">
        <div class="header-mobile hide-pc">
            <button type="button" class="btn-back" onclick="fnBack()">뒤로가기</button>
            <div class="hd-center">
                <span class="title">추천 차량</span>
            </div>
        </div>
        <div class="w-set">
            <div class="txt-area">
                <p class="txt01">
                    카통령이 자신있게<br />
                    <strong>100만원을 쏩니다!!</strong>
                </p>
                <p class="txt02">유통 과정을 다이어트 하여 엄선한 차량을<br />할인 특가로 제공합니다.</p>
            </div>
        </div>
    </div>
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit">특가 할인 대상 차량</h2>
        </div>
        <div class="recommend-wrap">
            <th:block th:if="${recommendList.isEmpty()}">
                <div class="empty">
                    <p>등록된 특가 할인 대상 차량이 없습니다.</p>
                </div>
            </th:block>
            <ul class="result-list col-4" id="recommend_list">
                <li th:each="list : ${recommendList}">
                    <!-- 선착순 특가 badge -->
                    <div class="prd-box" th:classappend="${list.shopName.contains('디에스 오토')} ? ' badge' : ''">
                        <div class="prd-thumb">
                            <label class="btn-like">
                                <input type="checkbox"
                                       th:attr="data-product-id=${list.productId}"
                                       th:checked="${list.picked}"
                                       class="pick_check">
                                <span class="like-visual">좋아요</span>
                            </label>
                            <a th:href="@{/product/__${list.productId}__}" class="imgbox">
                                <img th:src="${list.carImageUrl}" alt="이미지">
                            </a>
                        </div>
                        <a href="javascript:;" class="prd-info">
                            <p class="prd-name"
                               th:text="${list.makerName + ' ' + list.modelName + ' ' + list.detailGradeName}">
                                KIA 더 뉴 쏘렌토 4세대(MQ4) 디젤 2.2 2WD 노블레스(5인승)아 더 뉴
                                쏘렌토 4세대(MQ4) 디젤 2.2 2WD 노블레스(5인승)</p>
                            <p class="price-info">
                                <span class="num-sale" th:text="${list.getFormattedCarComma()}">13,800만원</span>
                                <span class="num-price" th:text="${list.getFormattedCarAmountSale()}">13,700만원</span>
                            </p>
                            <p class="detail-info">
                                <span th:text="${list.carRegYear}">2019/04(2019)</span>
                                <span th:text="${#numbers.formatInteger(list.carUseKm, 1, 'COMMA') + ' km'}">11,179 km</span>
                                <span th:text="${list.city}">서울</span>
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="load-wrap" id="loadingBar" style="display: none">
            <div class="spinner-svg"></div>
        </div>
        <div class="empty" style="display: none">
            <p>차량이 없습니다.</p>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
    var hdNm = "추천차량";

    let isLoading = false;
    let currentPage = 1;
    const itemsPerPage = 20;

    function fnBack() {
        location.href = "/";
    }

    document.addEventListener('DOMContentLoaded', function() {
        attachPickCheckEventListeners();
    });

    // 스크롤 이벤트
    window.addEventListener('scroll', () => {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 100 && !isLoading) {
            if (isLoading) return;
            isLoading = true;

            let loadingWrap = document.querySelector("#loadingBar");
            loadingWrap.style.display = '';

            fetch('/api/recommend/list', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    page : currentPage,
                    size : itemsPerPage
                })
            })
                .then(response => response.json())
                .then(result => {
                    if (result.code === 200) {
                        loadingWrap.style.display = 'none';
                        if(result.data.length === 0){
                            isLoading = true;
                            const emptyDiv = document.querySelector('.empty');
                            emptyDiv.style.display = 'block';
                            emptyDiv.querySelector('p').textContent = '마지막 페이지입니다.';
                            return;
                        }
                        renderRecommendList(result);
                        currentPage++;
                    }
                    isLoading = false;
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                    alert('서버 오류가 발생했습니다.');
                    loadingWrap.style.display = 'none';
                    isLoading = false;
                });
        }
    });

    // 추천 차량 데이터 받아오기
    function renderRecommendList(result) {
        let data = result.data;
        const recommendListElement = document.querySelector('#recommend_list');

        if (currentPage === 1) {
            recommendListElement.innerHTML = '';
        }

        data.forEach(product => {
            const listItem = createRecommendListItem(product);
            recommendListElement.appendChild(listItem);
        });

        // 목록이 렌더링된 후 이벤트 리스너 재등록
        attachPickCheckEventListeners();

    }

    // 추천 차량 데이터값 생성
    function createRecommendListItem(product) {
        const listItem = document.createElement('li');
        const badgeClass = product.shopName.includes('디에스 오토') ? ' badge' : '';

        listItem.innerHTML =
            `<div class="prd-box${badgeClass}">
            <div class="prd-thumb">
                <label class="btn-like">
                    <input type="checkbox"
                           data-product-id="${product.productId}"
                            ${product.picked ? 'checked' : ''}
                           class="pick_check">
                        <span class="like-visual">좋아요</span>
                </label>
                <a href="/product/${product.productId}" class="imgbox">
                    <img src="${product.carImageUrl}" alt="이미지">
                </a>
            </div>
            <a href="javascript:;" class="prd-info">
                <p class="prd-name">${product.makerName} ${product.modelName} ${product.detailGradeName}</p>
                <p class="price-info">
                    ${product.shopName.includes('디에스 오토') ?
                `<span class="num-sale" th:text="${product.formattedCarComma}">${product.formattedCarComma}</span>` :
                ''}
                    <span class="num-price">${product.formattedCarAmountSale}</span>
                </p>
                <p class="detail-info">
                    <span>${product.carRegYear}</span>
                    <span>${new Intl.NumberFormat().format(product.carUseKm)} km</span>
                    <span>${product.city}</span>
                </p>
            </a>
        </div>`;

        return listItem;
    }

    function attachPickCheckEventListeners() {
        document.querySelectorAll(".pick_check").forEach(tag => {
            tag.addEventListener("click", function () {
                let productId = tag.getAttribute("data-product-id");
                let originalChecked = tag.checked;

                fetch("/api/sub/pick/v2", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        productId: productId,
                    })
                })
                    .then(res => res.json())
                    .then(result => {
                        if (result.code !== 200) {
                            tag.checked = !originalChecked;

                            if (!originalChecked) {
                                tag.nextElementSibling.style.backgroundImage = "url('../user/images/common/ico/like_on.svg')";
                            } else {
                                tag.nextElementSibling.style.backgroundImage = "url('../user/images/common/ico/like.svg')";
                            }

                            $popup.alert(result.message, {
                                modal: true,
                                confirm: () => {
                                    location.href = '/login';
                                }
                            });
                        } else if (tag.checked === false) {
                            console.log("제거진입");
                            handleDeletePickCheck(productId);
                        } else if (tag.checked === true) {
                            console.log("진입");
                            handleInsertPickCheck();
                        }
                    });
            });
        });
    }

    // 픽 취소하기 동적 반영
    async function handleDeletePickCheck(productId) {
        // 서버에서 픽의 productId 가져오기
        let delList = await getDelYNOfPick(productId);

        if (delList.length !== 0) {
            document.querySelectorAll(".pick_check").forEach(item => {
                // picksCheck 요소의 클래스에서 'on'을 제거
                document.getElementById("picksCheck").classList.remove("on");
                // 서버에서 가져온 픽리스트 안에 productId가 있으면
                if (delList.includes(productId)) {
                    item.checked = false;
                }
            });
        }
    }

    async function getDelYNOfPick(productId) {
        console.log("sadfas " + productId);
        try {
            const response = await fetch(`/api/sub/getDelYNOfPick/${productId}`);
            const data = await response.json();
            console.log(data);
            return data; // 서버에서 받은 데이터 반환
        } catch (error) {
            console.error('Error:', error);
            return []; // 에러 발생 시 빈 배열 반환
        }
    }

    // 픽하기 동적 반영
    async function handleInsertPickCheck() {
        // 서버에서 픽의 productId 가져오기
        let prodList = await getProductIdOfPick();

        if (prodList.length !== 0) {
            document.querySelectorAll(".pick_check").forEach(item => {
                // 서버에서 가져온 픽리스트 안에 productId가 있으면
                if (prodList.length !== 0) {
                    // productId의 데이터 타입 int로 변환해서 비교하기
                    if (prodList.includes(parseInt(item.getAttribute("data-product-id")))) {
                        item.checked = true;
                        document.querySelector('.is-like').querySelector('.link').classList.add('on');
                    }
                }
            });
        }
    }

    // 서버에서 픽의 productId 가져오기
    async function getProductIdOfPick() {
        try {
            const response = await fetch("/api/sub/getProductIdOfPick");
            const data = await response.json();
            return data; // 서버에서 받은 데이터 반환
        } catch (error) {
            console.error('Error:', error);
            return []; // 에러 발생 시 빈 배열 반환
        }
    }

</script>
</html>
