<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" id="header">
    <div class="header_top">
        <div class="header_info">
            <h1 class="admin_title">ADMINISTRATOR</h1>
        </div>
        <div class="header_util">
            <div class="user_info">
                <i class="ico_profile"></i>
                <span class="user_name"><span sec:authentication="principal.username">OOO</span> 님 로그인 하였습니다.</span>
            </div>
            <span class="btn_u"></span>
            <a href="/admin/logout" class="btn_u"><i class="ico_logout"></i>LOGOUT</a>
        </div>
    </div>
    <div class="header_btm">
        <nav id="gnb" class="gnb">
            <ul th:with="checker = ${T(com.cuv.admin.web.security.auth.AdminAuthorizationChecker)}">
                <li th:if="${checker.hasUrlPermission('/admin/main')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/main')} ? 'on'">
                    <a href="/admin/main">홈</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/member')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/member')} ? 'on'">
                    <a href="/admin/member/member">회원</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/purchase')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/purchase')} ? 'on'">
                    <a href="/admin/purchase/inquiry">내 차 구입</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/sale')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/sale')} ? 'on'">
                    <a href="/admin/sale/inquiry">내 차 팔기</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/management')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/management')} ? 'on'">
                    <a href="/admin/management/product">차량관리</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/board')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/board')} ? 'on'">
                    <a href="/admin/board/notice">게시판</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/promotion')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/promotion')} ? 'on'">
                    <a href="/admin/promotion/exhibition">프로모션</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/stats')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/stats')} ? 'on'">
                    <a href="/admin/stats/stats">통계/분석</a></li>
                <li th:if="${checker.hasUrlPermission('/admin/etc')}"
                    th:classappend="${requestValue.getRequestURI().startsWith('/admin/etc')} ? 'on'">
                    <a href="/admin/etc/management">기타</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>
