<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="lnb" th:fragment="lnb">
    <button type="button" class="openBtn">&lt;</button>
    <h2 class="tit">
        <span>회원</span>
    </h2>
    <ul class="menu">
        <li class="btn_sub">
            <a href="/admin/member/member" th:classappend="${requestValue.getRequestURI().startsWith('/admin/member/member')} ? 'skin_bg'">활동 회원</a>
        </li>
        <li class="btn_sub">
            <a href="/admin/member/withdraw" th:classappend="${requestValue.getRequestURI().startsWith('/admin/member/withdraw')} ? 'skin_bg'">탈퇴 회원</a>
        </li>
        <li class="btn_sub">
            <a href="/admin/member/push" th:classappend="${requestValue.getRequestURI().startsWith('/admin/member/push')} ? 'skin_bg'">푸시 관리</a>
        </li>
    </ul>

</div>
</html>
