<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="lnb" th:fragment="lnb">

    <button type="button" class="openBtn">&lt;</button>
    <h2 class="tit">
        <span>통계/분석</span>
    </h2>
    <ul class="menu">
        <li class="btn_sub">
            <a href="/admin/stats/stats" th:classappend="${requestValue.getRequestURI().startsWith('/admin/stats/stats')} ? 'skin_bg'">회원 통계</a>
        </li>
        <li class="btn_sub">
            <a href="/admin/stats/counselor/purchase" th:classappend="${requestValue.getRequestURI().startsWith('/admin/stats/counselor/')} ? 'skin_bg'">상담원 통계</a>
        </li>
        <li class="btn_sub">
            <a href="/admin/stats/dealer/purchase" th:classappend="${requestValue.getRequestURI().startsWith('/admin/stats/dealer/')} ? 'skin_bg'">딜러 통계</a>
        </li>
        <li class="btn_sub">
            <a href="/admin/stats/consult/purchase" th:classappend="${requestValue.getRequestURI().startsWith('/admin/stats/consult/')} ? 'skin_bg'">상담 현황</a>
        </li>
        <li class="btn_sub">
            <a target="_blank" href="https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fanalytics%2F#/p452142945/reports/intelligenthome">구글애널리틱스</a>
        </li>
    </ul>
</div>
</html>