<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="aside">
    <div class="aside-bg"></div>
    <aside id="aside-menu">
        <div class="aside-header">
            <div class="aside-center hide-pc">
                <span class="title">더보기</span>
            </div>
            <button type="button" class="aside-close">닫기</button>
            <div class="member-info">
                <!-- 로그인 전 -->
                <th:block sec:authorize="isAnonymous()">
                    <p class="txt">로그인하고, 나를 위한<br>카통령 서비스를 만나보세요.</p>
                </th:block>
                <!-- 로그인 후 -->
                <!-- 로그인 타입 kakao, naver, google, apple -->
                <th:block sec:authorize="!isAnonymous()">
                    <div class="is-login"
                         th:classappend="${#authentication.principal.regCode == T(com.cuv.domain.member.enumset.RegType).APPLE ? 'apple' : ''} + ' ' +
                                         ${#authentication.principal.regCode == T(com.cuv.domain.member.enumset.RegType).NAVER ? 'naver' : ''} + ' ' +
                                         ${#authentication.principal.regCode == T(com.cuv.domain.member.enumset.RegType).KAKAO ? 'kakao' : ''} + ' ' +
                                         ${#authentication.principal.regCode == T(com.cuv.domain.member.enumset.RegType).GOOGLE ? 'google' : ''}">
                        <th:block th:if="${#authentication.principal.profileImageJson != null}">
                            <div class="profile">
                                <img th:src="@{/api/file/view/{uuid}(uuid=${#authentication.principal.profileImageJson.uuid}, size=150)}" alt="">
                            </div>
                        </th:block>
                        <th:block th:if="${#authentication.principal.profileImageJson == null}">
                            <div class="profile">
                                <img src="/user/images/dummy/profile01.jpg" alt="">
                            </div>
                        </th:block>
                        <p class="txt"><strong class="name" th:text="${#authentication.principal.realName}">홍길동</strong>님<br>우리 함께 차 보러 갈래요?</p>
                        <a href="/setting/notify" class="btn-setting hide-pc">설정</a>
                    </div>
                </th:block>
            </div>
            <div class="aside-login">
                <!-- 로그인 전 -->
                <th:block sec:authorize="isAnonymous()">
                    <a href="/login">로그인</a>
                    <a href="/join">회원가입</a>
                </th:block>
                <!-- 로그인 후 -->
                <th:block sec:authorize="!isAnonymous()">
                    <a href="/mypage/myinfo" class="is-login" th:text="${#authentication.principal.email}">aaaa@daum.net</a>
                </th:block>
            </div>
        </div>
        <div class="aside-body">
            <ul class="aside-menu">
                <th:block sec:authorize="!isAnonymous()">
                    <li>
                        <div class="num-list">
                            <a href="/mypage/pick" class="asidePhone">
                                <i class="i-like"></i>
                                <p class="txt">찜<span class="num" id="pickCount">0</span></p>
                            </a>
                            <a href="/mypage/recent" class="asidePhone">
                                <i class="i-recent"></i>
                                <p class="txt">최근<span class="num" id="recentCount">0</span></p>
                            </a>
                            <a href="/mypage/inquiry" class="asidePhone">
                                <i class="i-consult"></i>
                                <p class="txt">상담<span class="num" id="inquiryCount">0</span></p>
                            </a>
                            <a href="/mypage/purchase" class="asidePhone">
                                <i class="i-visit"></i>
                                <p class="txt">방문<span class="num" id="visitCount">0</span></p>
                            </a>
                        </div>
                    </li>
                </th:block>
                <th:block sec:authorize="!isAnonymous()">
                    <li>
                        <a href="/sale/vehicle" class="tit">내 차 목록 (<em id="vehicleCount">0</em>)</a>
                    </li>
                </th:block>
                <li>
                    <span class="tit">
                        <a href="/installments">금융</a>
                    </span>
                    <ul class="depth2">
                        <li>
                            <a href="/installments">할부</a>
                        </li>
                        <li>
                            <a href="/lease">리스</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="tit">안내</span>
                    <ul class="depth2">
                        <li>
                            <a href="/board/notice" class="asidePhone">공지사항</a>
                        </li>
                        <li>
                            <a href="/board/faq" class="asidePhone">자주하는 질문</a>
                        </li>
                        <li>
                            <a href="/board/guide" class="asidePhone">중고차 가이드</a>
                        </li>
                        <li>
                            <a href="/review" class="asidePhone">고객후기</a>
                        </li>
                        <li>
                            <a href="/event" class="asidePhone">이벤트</a>
                        </li>
                    </ul>
                </li>
                <th:block sec:authorize="!isAnonymous()">
                    <li class="is-logout">
                        <a href="/logout" class="tit">로그아웃</a>
                    </li>
                </th:block>
            </ul>
        </div>
        <script type="text/javascript">
            // const asideMenuItems = document.querySelectorAll('.asidePhone');
            //
            // asideMenuItems.forEach(item => {
            //     item.addEventListener('click', function () {
            //         console.log("저장완려")
            //         // localStorage에 상태 저장
            //         localStorage.setItem('asideMenuOpen', 'true');
            //     });
            // });
            //
            //
            // window.onpageshow = function (event) {
            //     if (event.persisted || (performance.getEntriesByType("navigation")[0] && performance.getEntriesByType("navigation")[0].type === "back_forward")) {
            //         // 뒤로가기로 온 경우: localStorage 검사해 'on' 상태 확인
            //         if (localStorage.getItem('asideMenuOpen') === 'true') {
            //             document.getElementById('aside-menu').classList.add('on');
            //             localStorage.removeItem("asideMenuOpen");
            //         }
            //     }
            // };
        </script>
    </aside>
</div>
</html>
