<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 모바일 분류 main: nav O | sub: nav X | member: footer X -->
<footer id="footer" th:fragment="footer" class="main">
    <div class="w-set">
        <ul class="sns-list">
            <li>
                <button type="button" class="sns" onclick="window.open('https://pf.kakao.com/_WzfbC')">
                    <i class="i-kakao">카카오톡</i>
                </button>
            </li>
            <li>
                <button type="button" class="sns" onclick="window.open('https://www.youtube.com/channel/UCMGa9iRCmboIJvjH9jMR2fg')">
                    <i class="i-youtube">유튜브</i>
                </button>
            </li>
            <li>
                <button type="button" class="sns" onclick="window.open('https://www.facebook.com/p/%EC%B9%B4%ED%86%B5%EB%A0%B9-61556610691725/')">
                    <i class="i-facebook">페이스북</i>
                </button>
            </li>
            <li>
                <button type="button" class="sns" onclick="window.open('https://blog.naver.com/cartongryung1')">
                    <i class="i-naver">네이버</i>
                </button>
            </li>
        </ul>
        <div class="link-list">
            <a href="/board/faq">안내</a>
            <a href="javascript:" onclick="getTermsService();$popup.template('#termsPopup')">이용약관</a>
            <a href="javascript:" onclick="getTermsPrivacy();$popup.template('#policyPopup')"><b>개인정보처리방침</b></a>
        </div>
        <div class="cs-wrap">
            <p class="tit on"><span style="color:#FFFFFF;">카통령</span>은 전국적으로 서비스합니다.</p>
            <div class="cs-area on">
                <span class="cs-tit">고객센터</span>
                <strong class="number">1800 - 0892</strong>
                <p class="txt">24시간 상담 가능</p>
                <p class="txt">H.P : 010-9477-5526</p>
                <ul class="btn-list">
                    <li>
                        <a href="#" target="_blank" class="btn">App store</a>
                    </li>
                    <li class="is-google">
                        <a href="#" target="_blank" class="btn">Google Play</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-area">
            <p class="address1">
                <span>(주)CTRM</span>
                <span>대표이사 : 전성범</span>
                <span>사업자등록번호 : 174-81-03063</span>
            </p>
            <p class="address2">
                <span>주소 : 경기도 수원시 권선구 평동로 79번길 45. SK V1 Motors /216, 217호</span>
            </p>
        </div>
        <p class="copyright">copyright © 카통령</p>
    </div>
    <nav class="footer-nav hide-pc">
        <div class="inner">
            <a href="/search/product" th:classappend="${requestValue.getRequestURI() == '/search/product'} ? 'on' : ''"
               class="phone" id="purchase">
                <i class="ico-nav1"></i>
                <span class="txt">내차구입</span>
            </a>
            <a href="/sale/intro" th:classappend="${requestValue.getRequestURI() == '/sale/intro'} ? 'on' : ''"
               class="phone" id="sale">
                <i class="ico-nav2"></i>
                <span class="txt">내차팔기</span>
            </a>
            <a href="javascript:" id="m-quick-ask-btn" class="quick-ask-btn" onclick="openMobileQuick();">
<!--                <div>-->
<!--                    <span class="txt">간편 상담 신청</span>-->
<!--                </div>-->
            </a>
            <a href="/" class="is-home">
                <i class="ico-home"></i>
            </a>
            <a href="/product/recommend"
               th:classappend="${requestValue.getRequestURI() == '/product/recommend'} ? 'on' : ''" class="phone"
               id="recommend">
                <i class="ico-nav3"></i>
                <span class="txt">추천차량</span>
            </a>
            <a href="javascript:" class="btn-menu" id="moreButton" data-target="more">
                <i class="ico-nav4"></i>
                <span class="txt">더보기</span>
            </a>
        </div>
    </nav>
    <div class="quick-wrap">
        <div class="quick-menu">
            <th:block th:if="${!productViewsHistory.isEmpty()}">
                <div class="quick-slide ptb-10">
                    <span class="tit">최근 본 차량</span>
                    <div class="info-wrap">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="car : ${productViewsHistory}">
                                    <a th:href="@{/product/__${car.productId}__}" target="_blank">
                                        <div class="img">
                                            <img th:src="${car.carImageUrl[0].realUrl}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-navi">
                        <button type="button" class="swiper-button prev">이전</button>
                        <button type="button" class="swiper-button next">다음</button>
                    </div>
                    <div class="swiper-count"></div>
                </div>
            </th:block>
            <a href="tel:1800-0892" class="contact contact-mt" onclick="sendCallInquiry();">
                <span class="txt">24시간<br>상담</span>
                <strong class="number">1800-0892</strong>
            </a>
            <div class="quick-apply mtb-10 hide-m hide-t">
                <h1 class="mb-10 fc-FFF fs-13">간편 상담 신청</h1>
                <div class="quick-input prl-15">
                    <input type="text" class="h-35 mtb-5 bdr-5px prl-10 fs-12" id="pc-costumerName" placeholder="이름" maxlength="30"/>
                    <input type="text" class="h-35 bdr-5px prl-10 fs-12" id="pc-costumerNumber" placeholder="연락처(-없이 입력)" maxlength="11"/>
                    <input type="text" class="h-35 mtb-5 bdr-5px prl-10 fs-12" id="pc-costumerAsk" placeholder="문의 내용" maxlength="300"/>
                    <div class="display-flex mt-5 justify-content-start">
                        <input type="checkbox" id="pc-terms01" class="fn_quick-apply-checkbox" value="N"/>
                        <label for="pc-terms01" class="mr-7 fs-10 fc-FFF"><span class="checkbox-on"></span>개인정보 수집 및 동의</label>
                        <a href="javascript:" class="fs-10 fc-FFF" onclick="getTermsPrivacy();$popup.template('#policyPopup')">&gt;</a>
                    </div>
                </div>
                <input type="button" class="quick-apply-btn fs-13 fn_quick-apply-btn" name="web" id="pc-quick-apply-btn" value="상담 신청" />
            </div>
            <a href="tel:1800-0892" class="contact-pc" onclick="sendCallInquiry();">
                <div class="text-align-center prl-20 ptb-15" style="border:1px solid #DDD; border-radius: 8px; background-color: #FFF">
                    <span class="txt fs-10 fw-bold">24시간 빠른 상담</span><br />
                    <strong class="number fw-bold fs-20" style="color: #B82927;">1800-0892</strong>
                </div>
            </a>
        </div>
        <button id="chat" class="btn-chat" onclick="sendChatInquiry();"></button>
        <!-- 해피톡에 사용자 정보 담기 위한 히든필드 -->
        <input type="hidden" id="username" th:value="${username}">
        <input type="hidden" id="phone" th:value="${phone}">
        <input type="hidden" id="email" th:value="${email}">
        <!-- //해피톡에 사용자 정보 담기 위한 히든필드 -->
        <button class="go-top">상단으로 가기</button>
    </div>
    <!-- 이용약관 팝업 -->
    <div class="wbz-popup-cont is-template" id="termsPopup">
        <div class="popup-header">
            <strong class="popup-title">사용자 이용약관</strong>
            <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
        </div>
        <div class="popup-cont">
            <div class="popup-text">
                약관 내용입니다
            </div>
        </div>
    </div>
    <!-- //이용약관 팝업 -->
    <!-- 개인정보처리방침 팝업 -->
    <div class="wbz-popup-cont is-template" id="policyPopup">
        <div class="popup-header">
            <strong class="popup-title">개인정보처리방침</strong>
            <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
        </div>
        <div class="popup-cont">
            <div class="popup-text">
                약관 내용입니다
            </div>
        </div>
    </div>
    <!-- //개인정보처리방침 팝업 -->

    <!-- 모바일 간편 상담 신청 팝업 -->
    <div class="wbz-popup-cont is-template m-bottom-half" id="m-quickPopup">
        <div class="popup-header">
            <strong class="popup-title">간편 상담 신청</strong>
            <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
        </div>
        <div class="popup-cont">
            <div class="popup-text">
                <div class="quick-input">
                    <input type="text" class="h-40 mtb-5 bdr-5px prl-12 fs-14" id="m-costumerName" placeholder="이름" maxlength="30" />
                    <input type="text" class="h-40 bdr-5px prl-12 fs-14" id="m-costumerNumber" placeholder="연락처(-없이 입력)" maxlength="30" />
                    <input type="text" class="h-40 mtb-5 bdr-5px prl-12 fs-14" id="m-costumerAsk" placeholder="문의 내용" maxlength="300" />
                    <div class="display-flex mtb-20 justify-content-start">
                        <input type="checkbox" id="m-terms01" value="N"  />
                        <label for="m-terms01" class="mr-10 fs-14 fc-222"><span class="checkbox-on"></span>개인정보 수집 및 동의</label>
                        <a href="javascript:" class="fs-14 fc-222" onclick="getTermsPrivacy();$popup.template('#policyPopup')">&gt;</a>
                    </div>
                    <div>
                        <input type="button" id="m-quick-apply-btn" class="fn_quick-apply-btn" name="mobile" value="상담 신청" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //모바일 간편 상품 신청 팝업 -->
    <!-- 금융 간편 상담 신청 팝업 -->
    <div class="wbz-popup-cont is-template" id="quickAskPopup">
        <div class="popup-header">
            <strong class="popup-title">간편 상담 신청</strong>
            <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
        </div>
        <div class="popup-cont">
            <div class="popup-text">
                <div class="quick-input">
                    <input type="text" class="h-40 mtb-5 bdr-5px prl-12 fs-14" id="fin-costumerName" placeholder="이름" maxlength="30">
                    <input type="text" class="h-40 bdr-5px prl-12 fs-14" id="fin-costumerNumber" placeholder="연락처(-없이 입력)" maxlength="11">
                    <textarea class="mtb-5 bdr-5px prl-12 fs-14" id="fin-costumerAsk" placeholder="문의 내용"></textarea>
                    <div class="display-flex mtb-20 justify-content-start">
                        <input type="checkbox" id="fin-terms01" class="fn_quick-apply-checkbox" value="N" />
                        <label for="fin-terms01" class="mr-10 fs-14 fc-222"><span class="checkbox-on"></span>개인정보 수집 및 동의</label>
                        <a href="javascript:" class="fs-14 fc-222" onclick="getTermsPrivacy();$popup.template('#policyPopup')">&gt;</a>
                    </div>
                    <div>
                        <input type="button" id="fin-quick-apply-btn" class="fn_quick-apply-btn" value="상담 신청" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //금융 간편 상품 신청 팝업 -->
    <script id="happytalkSDK" src="https://design.happytalkio.com/sdk/happytalk.chat.v2.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var username = document.getElementById('username').value || '';
            var phone = document.getElementById('phone').value || '';
            var email = document.getElementById('email').value || '';

            var params = `cus_extra_username=${encodeURIComponent(username)},
            cus_extra_phone=${encodeURIComponent(phone)},
            cus_extra_email=${encodeURIComponent(email)}`;

            var ht = new Happytalk({
                siteId: '4000003435',
                siteName: '카통령',
                categoryId: '180223',
                divisionId: '180224',
                params: params
            });

            window.sendCallInquiry = function () {
                var productIdElement = document.getElementById("productId");
                var productId = productIdElement ? productIdElement.value : null;
                var requestDto = {
                    productId: productId
                };

                fetch('/purchase/inquiry/call', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestDto),
                })
                    .then(response => response.json())
                    .catch(error => console.error('Error:', error));
            };

            window.sendChatInquiry = function () {
                var productIdElement = document.getElementById("productId");
                var productId = productIdElement ? productIdElement.value : null;
                var requestDto = {
                    productId: productId
                };

                ht.open();

                fetch('/purchase/inquiry/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestDto),
                })
                    .then(response => response.json())
                    .catch(error => console.error('Error:', error));
            };

            quickIconSet(36.5); // 간편 상담 신청
            AOS.init();
        });

        /**
         * 브라우저 크기 별로 간편 상담 신청 말풍선 위치 조정 이벤트 대기
         * */
        window.addEventListener("resize", function(){
            quickIconSet(36.5);
        });

        /**
         * 간편 상담 신청 말풍선 위치 조절 이벤트 함수
         * */
        const quickIconSet = (size) => {
            let leftHomeIcon = $('.is-home').offset().left;
            let leftQuickAskIcon = document.getElementsByClassName('quick-ask-btn');

            leftQuickAskIcon[0].style.left = (leftHomeIcon - size) + "px";
        }

        /**
         * 간편 상담 신청 모바일 팝업창 열기
         * */
        const openMobileQuick = () =>{
            $popup.template("#m-quickPopup");
        }

        /**
         * (모바일, 금융) 간편 상담 신청 버튼 활성화
         * */
        document.querySelectorAll('input').forEach((element) => {
            element.addEventListener('input', function () {
                fn_activateQuickAskBtn(element);
            });
        });

        /**
         * 간편 상담 신청 구분 로직
         * */
        document.querySelectorAll(".fn_quick-apply-btn").forEach(($el) => {
            $el.addEventListener('click', function () {
                fn_applyQuickAsk($el);
            });
        });

        /**
         * 푸터의 버튼 관련 함수
         */
        // 더보기 클릭했을때
        const moreButton = document.getElementById('moreButton');
        const menuItems = document.querySelectorAll('.phone');
        let aideClose = document.querySelector(".aside-close");
        const currentMobileMenu = window.location.pathname;
        moreButton.addEventListener('click', function () {
            menuItems.forEach(tag => {
                if (tag.classList.contains('on')) {
                    tag.classList.remove('on');
                }
            })
        });
        // 더보기 닫기 이벤트
        aideClose.addEventListener("click", () => {
            if (currentMobileMenu === '/search/product') {
                document.getElementById('purchase').classList.add('on');
            } else if (currentMobileMenu === '/sale/intro') {
                document.getElementById('sale').classList.add('on');
            } else if (currentMobileMenu === '/product/recommend') {
                document.getElementById('recommend').classList.add('on');
            }
        })

        // 앱일 때 가리기
        if (userAgent.indexOf('android-app') > -1 || userAgent.indexOf("ios-app") > -1) {
            document.querySelector('.btn-list').style.display = 'none';
        }
    </script>
</footer>
</html>
