/* 공통 */
.flex {
    display: flex;
    gap: 10px;
}
.input_wrap {
    display: inline-block;
}
select {
    option[value=""][disabled] {
        display: none;
    }
}
.radiobox, .checkbox {
    display: inline-block;
    input[type=checkbox], input[type=radio] {
        margin-right: 2px;
    }
    label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        
    }
}
.list_top .util_area.right {
    margin-left: auto;
}
.ico_date {
    cursor: pointer;
}
#datepicker5, #datepicker6, #datepicker7, #datepicker8, #datepicker9, #datepicker10, #datepicker11, #datepicker12, #datepicker13, #datepicker14{
    width: 180px;
    background-image:url(../images/common/calendar.png);
    background-repeat:no-repeat;
    background-position:92% center;
    border:1px solid #d5d5d5;
}
textarea {
    resize: none;
}
.btn_m {
    display: inline-block;min-width: 80px;max-width: 100px; height: 30px;line-height: 28px;font-size: 13px;color: #fff;background-color: #5B6286;border: 1px solid #5B6286;padding: 0 5px;text-align: center;border-radius: 3px;
}
.btn_form10 {
    background-color: #f24048;
    border-color: #f24048;
    color: #fff;
}
.btn_form10_r {
    background-color: #fff;
    border-color: #f24048;
    color: #f24048;
}
.btn_form2{
    background-color: #F68A53;
    border-color: #F68A53;
    color: #fff;
}
.btn_form4{
    background-color: #fff;
    color: #222;
}
.btn .arrow{
    display: inline-block;
    width: 12px; height: 12px;
    background-image: url('../images/common/arrow_w.png');
    background-repeat: no-repeat;
    background-position: left center ;
    background-size: 120%;
}
.btn_link.none {
    cursor: auto;
    color: #333 !important;
    text-decoration: none;
}
.content_wrap {
    .view_wrap {
        > .flex {
            gap: 20px;
            .left_wrap, .right_wrap {
                flex: 1;
            }
        }
    }
    table {
        tr td.state {
            color: #f24048;
        }
    }
}
.content_head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .list_count {
        border: 1px solid #222222;
        font-size: 0;
        > a {
            display: inline-block;
            width: 200px;
            height: 30px;
            line-height: 28px;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            &.on {
                background-color: #222222;
                color: #fff;
                span {
                    color: #F68A53;
                }
            }
            &.tab_list01 {
            border-right: 1px solid #333;
            }
            &.tab_list03 {
            border-left: 1px solid #333;
            }
        }
    }
}
.list_table {
    table {
        tr {
            &.link:hover {
                cursor: pointer;
                td {
                    text-decoration: underline;
                }
            }
        }
    }
}
.view_table {
    .files {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 10px;
        .file {
            position: relative;
            margin-top: 10px;
            text-align: center;
        }
    }
}
.imgbox {
    display: block;
    border: 1px solid #d9d9d9;
    & ~ .btn_del {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.vehicle_img {
    width: 100%;
    position: relative;
    padding: 0 20px;
    .sliderMain {
        position: relative;
        .swiper-container {
            overflow: hidden;
        }
        .swiper-slide {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            &::after {
                content: "";
                display: block;
                padding-bottom: 77%;
            }
            img {
                position: absolute;
                object-fit: cover;
                object-position: center 80%;
                width: 100%;
                height: 100%;
            }
        }
        .swiper-count {
            position: absolute;
            z-index: 2;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            width: auto;
            height: 28px;
            padding: 0 16px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 16px;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #f24048;
            em {
                color: #ffff;
                margin: 0 2px;
            }
            .swiper-pagination-total {
                color: #fff;
            }
        }
    }
    .sliderPaging {
        position: relative;
        margin-top: 40px;
        .swiper-container {
            overflow: hidden;
        }
        .swiper-slide {
            height: 110px;
            .img {
                cursor: pointer;
                border: 1px solid #ededed;
                border-radius: 6px;
                height: 0;
                padding-bottom: 110px;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: center 80%;
                background-size: cover;
                font-size: 0;
            }
        }
    }
    .swiper_navi {
        .swiper_button {
            font-size: 0;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0px 3px 6px #00000029;
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            &.swiper_next {
                background-image: url("../images/sub/sub_ico_swiper_next_arr.svg");
                right: -25px;
                &.swiper-button-disabled {
                    background-image: url("../images/sub/sub_ico_swiper_next_arr_off.svg");
                }
            }
            &.swiper_prev {
                background-image: url("../images/sub/sub_ico_swiper_prev_arr.svg");
                left: -25px;
                &.swiper-button-disabled {
                    background-image: url("../images/sub/sub_ico_swiper_prev_arr_off.svg");
                }
            }
        }
        .swiper-button-disabled {
            opacity: 1;
            visibility: initial;
        }
    }
}

.vehicle_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 10px;
    .vehicle_num {
        margin-top: 10px;
    }
}



/* === header === */
#header {
    .header_top {
        .header_info {
            .admin_title {
                background-size: contain;
            }
        }
    }
}

/* === login === */
.login_box {
    padding: 30px 30px 40px;
    .logo {
        padding-bottom: 20px;
        h2 {
            margin-top: 10px;
            font-size: 30px;
            font-weight: 600;
            color: #555555;
        }
    }
    .login {
        .txt:last-child {
            padding: 20px 0 0;
        }
    }
}

/* === 회원 === */
.member {
    .list_table {
        table {
            tr {
                td {
                    &.reserve::after {
                        content: '예약 발송';
                        color: #ed1c24;
                    }
                    &.right::after {
                        content: '즉시 발송';
                        color: #2578e9;
                    }
                    .btn_s {
                        width: auto;
                    }
                }
            }
        }
    }
    .view_wrap {
        .account_wrap {
            gap: 30px;
            align-items: center;
            .imgbox {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
            }
            .account {
                .cate {
                    width: 90px;
                    height: 28px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 28px;
                    background-color: #F68A53;
                    color: #fff;
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .view_table {
        .empty {
            text-align: center;
            padding: 30px 0;
            background-color: #fff;
            border-radius: 5px;
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 30px;
                margin-top: -6px;
                margin-right: 10px;
                background-image: url(../images/common/ico_empty02.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .table_top {
            .input_wrap {
                flex: 1;
            }
        }
        table {
            tr {
                td {
                    &.target {
                        padding: 10px;
                        .placeholder {
                            color: #999;
                        }
                        .target_wrap {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
        .files {
            .file {
                .imgbox {
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}

/* === 내차 구입 / 내차 팔기 === */
.mycar {
    padding: 0;
    .vehicle_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p {
            display: flex;
            align-items: center;
            span {
                position: relative;
                font-size: 20px;
                font-weight: 600;
                &:first-child {
                    padding-right: 16px;
                    margin-right: 16px;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0; bottom: 0;
                        margin: auto 0;
                        right: 0;
                        width: 2px;
                        height: 16px;
                        background-color: #555555;
                    }
                }
            }
        }
        .date {
            font-size: 16px;
        }
    }
    .list_table {
        table {
            .sort {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                .sort_wrap {
                    button {
                        display: block;
                        font-size: 0;
                        width: 16px;
                        height: auto;
                        &::after {
                            font-size: 10px;
                        }
                        &:first-child {
                            margin-bottom: 2px;
                            &::after {
                                content: '▲';
                            }
                        }
                        &:last-child {
                            margin-top: 2px;
                            &::after {
                                content: '▼';
                            }
                        }
                    }
                }
            }
            .imgbox {
                width: 100px;
                height: 70px;
            }
        }
    }
    .view_wrap {
        &.flex {
            .vehicle_img {
                width: 40%;
            }
            .view_table {
                flex: 1;
            }
        }
        .left_wrap {
            .table_top {
                .search_wrap {
                    .input_wrap {
                        flex: 1;
                    }
                }
                & + .table_btm {
                    tr td {
                        text-align: center;
                    }
                }
            }
        }
        .right_wrap {
            .view_table + .view_table {
                .table_top.flex {
                    justify-content: space-between;
                }
            }
            .table_btm {
                .input_wrap {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

/* === 차량관리 === */
.management {
    .list_wrap {
        .note_area {
            width: 100%;
            padding: 10px 0;
            .note {
                padding-left: 40px;
                background-image: url(../images/common/ico_empty.png);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 30px;
            }
        }
        .list_table {
            table {
                tr {
                    &.completed {
                        td {
                            background-color: rgba(204, 228, 255, 0.49);
                        }
                    }
                    .imgbox {
                        width: 100px;
                        height: 70px;
                        margin: 0 auto;
                    }
                    .state {
                        color: #2578e9;
                    }
                }
            }
        }
    }
    .code_box {
        min-width: 400px;
        width: 400px;
        &.company_box {
            min-width: 500px;
        }
        .imgbox {
            width: 100px;
            height: 70px;
        }
        .btn_up {
            font-size:0; 
            max-width:32px; 
            background-color: white; 
            vertical-align: middle; 
            background-image: url(../images/common/menu_arrow_up.png);
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: 13px 8px;
        }
        .btn_down {
            font-size:0; 
            max-width:32px; 
            background-color: white; 
            vertical-align: middle; 
            background-image: url(../images/common/menu_arrow_down.png);
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: 13px 8px;
        }
    }
}

/* === 게시판 === */
.board {
    .list_wrap {
        .list_table {
            tr.notice {
                .num {
                    font-size: 0;
                    &::before {
                        content: '공지';
                        display: inline-block;
                        padding: 4px 10px;
                        border-radius: 5px;
                        background-color: #c12626;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
            .attach_ico {
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url('../images/common/clip.png') no-repeat center;
            }
        }
    }
    .view_wrap {
        .view_table {
            .files {
                .file {
                    .imgbox {
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
}

/* === 프로모션 === */
.promotion {
    .list_wrap {
        .list_table table tr {
            &.working .e_state {
                color: #f24048;
            }
            .imgbox {
                height: 100px;
            }
            .e_state {
                color: #333;
            }
            td.align_r {
                text-align: right;
            }
        }
    }
    .view_wrap {
        .view_table table tr {
            &.background {
                .radiobox {
                    &.color01 .color_box {
                        background-color: #4472C4;
                    }
                    &.color02 .color_box {
                        background-color: #44546A;
                    }
                    &.color03 .color_box {
                        background-color: #FFC000;
                    }
                    &.color04 .color_box {
                        background-color: #B9252B;
                    }
                    .color_box {
                        width: 100px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

/* === 통계/분석 === */
.stats {
    .chart_wrap {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%;
        height: 400px;
    }
}

/* === 기타 === */
.admin {
    .tab_menu {
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #d9d9d9;
        a {
            flex: 1;
            height: 50px;
            line-height: 48px;
            cursor: pointer;
            background-color: #fff;
            &.on {
                background-color: #333;
                color: #fff;
            }
        }
    }

    .view_table {
        .imgbox {
            width: 160px;
            height: 160px;
        }
        .term_wrap {
            height: 500px;
            textarea {
                height: 100%;
                word-break: keep-all;
            }
        }
    }
}

/* === 로딩바 === */
.list_table {
    position: relative;
    .load_wrap {
        display: none;
        position: absolute;
    }
}

/* === popup === */
.pop_wrap {
    input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], select {
        width: 100%;
        border: 1px solid #d5d5d5;
        box-sizing: border-box;
        padding: 0 15px 0 5px;
    }
    textarea {
        display: block;
        border: 1px solid #d5d5d5;
        width: 100%;
        height: 150px;
        padding: 15px;
    }
    input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    select {
        background-image: url(../images/common/arrow_down.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .radiobox, .checkbox {
        input[type=radio], input[type=checkbox] {
            display:inline-block; 
            margin:0; 
            vertical-align:middle; 
            margin-right:5px;
        }
    }
    .pop_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pop_close {
            font-size: 0;
            width: 20px;
            height: 20px;
            background-image: url('../images/common/modal_close.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }
    .pop_body {
        .con_top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 20px;
            p {
                display: flex;
                align-items: center;
                span {
                    position: relative;
                    font-size: 20px;
                    font-weight: 600;
                    &:first-child {
                        padding-right: 16px;
                        margin-right: 16px;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0; bottom: 0;
                            margin: auto 0;
                            right: 0;
                            width: 2px;
                            height: 16px;
                            background-color: #555555;
                        }
                    }
                }
            }
            .date {
                font-size: 16px;
            }
        }
        .con_box {
            .info_wrap {
                .flex {
                    align-items: flex-start;
                }
                table tr td {
                    text-align: right;
                }
            }
            .date {
                padding-right: 10px;
                padding-bottom: 6px;
                color: #666;
                text-align: right;
            }
            .text_box {
                width: 100%;
                height: 400px;
                padding: 12px;
                border: 1px solid #d5d5d5;
            }
            .search_wrap {
                .search {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0 15px;
                    .input_wrap {
                        flex: 1;
                    }
                    .btn {
                        flex: 0 0 auto;
                    }
                }
            }
            .note_area {
                width: 100%;
                padding: 10px 0;
                .note {
                    padding-left: 30px;
                    background-image: url(../images/common/ico_empty.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 20px;
                }
            }
            .view_table {
                .file_area {
                    input[type=file] {
                        display: none;
                    }
                }
                .files {
                    .file {
                        .imgbox {
                            width: 160px;
                        }
                    }
                }
            }
            .promotion {
                .list_wrap {
                    max-height: 560px;
                    padding: 25px 15px 20px 0;
                    &::-webkit-scrollbar {
                        width: 10px;
                        border-radius: 5px;
                        background: #eaeaea;
                    }
                    &::-webkit-scrollbar-thumb {
                        width: 10px;
                        border-radius: 5px;
                        background: #d9d9d9;
                    }
                    .list_table {
                        margin-top: 0;
                    }
                    & + .btn_area {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        &.on {
            display: block;
        }
        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 60vw;
            height: 70vh;
            background-color: #fff;
            border-radius: 6px;
            padding: 30px;
            .title_wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn_del {
                    width: 30px;
                    height: 30px;
                    background-size: 30px;
                }
            }
            .search_wrap{
                .search {
                    padding: 15px 0 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .input_area {
                        width: 100%;
                        input[type=text] {
                            width: 100%;
                            height: 30px;
                            border: 1px solid #d5d5d5;
                            box-sizing: border-box;
                            padding: 0 15px 0 5px;
                        }
                    }
                }
                .list_wrap{
                    padding: 0;
                }
            }
        }
    }
}