@charset "UTF-8";
/* 공통 */
.flex {
  display: flex;
  gap: 10px;
}

.input_wrap {
  display: inline-block;
}

select option[value=""][disabled] {
  display: none;
}

.radiobox, .checkbox {
  display: inline-block;
}
.radiobox input[type=checkbox], .radiobox input[type=radio], .checkbox input[type=checkbox], .checkbox input[type=radio] {
  margin-right: 2px;
}
.radiobox label, .checkbox label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.list_top .util_area.right {
  margin-left: auto;
}

.ico_date {
  cursor: pointer;
}

#datepicker5, #datepicker6, #datepicker7, #datepicker8, #datepicker9, #datepicker10, #datepicker11, #datepicker12, #datepicker13, #datepicker14 {
  width: 180px;
  background-image: url(../images/common/calendar.png);
  background-repeat: no-repeat;
  background-position: 92% center;
  border: 1px solid #d5d5d5;
}

textarea {
  resize: none;
}

.btn_m {
  display: inline-block;
  min-width: 80px;
  max-width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 13px;
  color: #fff;
  background-color: #5B6286;
  border: 1px solid #5B6286;
  padding: 0 5px;
  text-align: center;
  border-radius: 3px;
}

.btn_form10 {
  background-color: #f24048;
  border-color: #f24048;
  color: #fff;
}

.btn_form10_r {
  background-color: #fff;
  border-color: #f24048;
  color: #f24048;
}

.btn_form2 {
  background-color: #F68A53;
  border-color: #F68A53;
  color: #fff;
}

.btn_form4 {
  background-color: #fff;
  color: #222;
}

.btn .arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/common/arrow_w.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 120%;
}

.btn_link.none {
  cursor: auto;
  color: #333 !important;
  text-decoration: none;
}

.content_wrap .view_wrap > .flex {
  gap: 20px;
}
.content_wrap .view_wrap > .flex .left_wrap, .content_wrap .view_wrap > .flex .right_wrap {
  flex: 1;
}
.content_wrap table tr td.state {
  color: #f24048;
}

.content_head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.content_head .list_count {
  border: 1px solid #222222;
  font-size: 0;
}
.content_head .list_count > a {
  display: inline-block;
  width: 200px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.content_head .list_count > a.on {
  background-color: #222222;
  color: #fff;
}
.content_head .list_count > a.on span {
  color: #F68A53;
}
.content_head .list_count > a.tab_list01 {
  border-right: 1px solid #333;
}
.content_head .list_count > a.tab_list03 {
  border-left: 1px solid #333;
}

.list_table table tr.link:hover {
  cursor: pointer;
}
.list_table table tr.link:hover td {
  text-decoration: underline;
}

.view_table .files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}
.view_table .files .file {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.imgbox {
  display: block;
  border: 1px solid #d9d9d9;
}
.imgbox ~ .btn_del {
  position: absolute;
  top: 10px;
  right: 10px;
}
.imgbox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vehicle_img {
  width: 100%;
  position: relative;
  padding: 0 20px;
}
.vehicle_img .sliderMain {
  position: relative;
}
.vehicle_img .sliderMain .swiper-container {
  overflow: hidden;
}
.vehicle_img .sliderMain .swiper-slide {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.vehicle_img .sliderMain .swiper-slide::after {
  content: "";
  display: block;
  padding-bottom: 77%;
}
.vehicle_img .sliderMain .swiper-slide img {
  position: absolute;
  object-fit: cover;
  object-position: center 80%;
  width: 100%;
  height: 100%;
}
.vehicle_img .sliderMain .swiper-count {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: auto;
  height: 28px;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #f24048;
}
.vehicle_img .sliderMain .swiper-count em {
  color: white;
  margin: 0 2px;
}
.vehicle_img .sliderMain .swiper-count .swiper-pagination-total {
  color: #fff;
}
.vehicle_img .sliderPaging {
  position: relative;
  margin-top: 40px;
}
.vehicle_img .sliderPaging .swiper-container {
  overflow: hidden;
}
.vehicle_img .sliderPaging .swiper-slide {
  height: 110px;
}
.vehicle_img .sliderPaging .swiper-slide .img {
  cursor: pointer;
  border: 1px solid #ededed;
  border-radius: 6px;
  height: 0;
  padding-bottom: 110px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
  font-size: 0;
}
.vehicle_img .swiper_navi .swiper_button {
  font-size: 0;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
.vehicle_img .swiper_navi .swiper_button.swiper_next {
  background-image: url("../images/sub/sub_ico_swiper_next_arr.svg");
  right: -25px;
}
.vehicle_img .swiper_navi .swiper_button.swiper_next.swiper-button-disabled {
  background-image: url("../images/sub/sub_ico_swiper_next_arr_off.svg");
}
.vehicle_img .swiper_navi .swiper_button.swiper_prev {
  background-image: url("../images/sub/sub_ico_swiper_prev_arr.svg");
  left: -25px;
}
.vehicle_img .swiper_navi .swiper_button.swiper_prev.swiper-button-disabled {
  background-image: url("../images/sub/sub_ico_swiper_prev_arr_off.svg");
}
.vehicle_img .swiper_navi .swiper-button-disabled {
  opacity: 1;
  visibility: initial;
}

.vehicle_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}
.vehicle_list .vehicle_num {
  margin-top: 10px;
}

/* === header === */
#header .header_top .header_info .admin_title {
  background-size: contain;
}

/* === login === */
.login_box {
  padding: 30px 30px 40px;
}
.login_box .logo {
  padding-bottom: 20px;
}
.login_box .logo h2 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
.login_box .login .txt:last-child {
  padding: 20px 0 0;
}

/* === 회원 === */
.member .list_table table tr td.reserve::after {
  content: "예약 발송";
  color: #ed1c24;
}
.member .list_table table tr td.right::after {
  content: "즉시 발송";
  color: #2578e9;
}
.member .list_table table tr td .btn_s {
  width: auto;
}
.member .view_wrap .account_wrap {
  gap: 30px;
  align-items: center;
}
.member .view_wrap .account_wrap .imgbox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.member .view_wrap .account_wrap .account .cate {
  width: 90px;
  height: 28px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  background-color: #F68A53;
  color: #fff;
  font-weight: 500;
}
.member .view_wrap .account_wrap .account p {
  font-size: 16px;
}
.member .view_table .empty {
  text-align: center;
  padding: 30px 0;
  background-color: #fff;
  border-radius: 5px;
}
.member .view_table .empty::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-top: -6px;
  margin-right: 10px;
  background-image: url(../images/common/ico_empty02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.member .view_table .table_top .input_wrap {
  flex: 1;
}
.member .view_table table tr td.target {
  padding: 10px;
}
.member .view_table table tr td.target .placeholder {
  color: #999;
}
.member .view_table table tr td.target .target_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.member .view_table .files .file .imgbox {
  width: 250px;
  height: 200px;
}

/* === 내차 구입 / 내차 팔기 === */
.mycar {
  padding: 0;
}
.mycar .vehicle_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mycar .vehicle_top p {
  display: flex;
  align-items: center;
}
.mycar .vehicle_top p span {
  position: relative;
  font-size: 20px;
  font-weight: 600;
}
.mycar .vehicle_top p span:first-child {
  padding-right: 16px;
  margin-right: 16px;
}
.mycar .vehicle_top p span:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  width: 2px;
  height: 16px;
  background-color: #555555;
}
.mycar .vehicle_top .date {
  font-size: 16px;
}
.mycar .list_table table .sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.mycar .list_table table .sort .sort_wrap button {
  display: block;
  font-size: 0;
  width: 16px;
  height: auto;
}
.mycar .list_table table .sort .sort_wrap button::after {
  font-size: 10px;
}
.mycar .list_table table .sort .sort_wrap button:first-child {
  margin-bottom: 2px;
}
.mycar .list_table table .sort .sort_wrap button:first-child::after {
  content: "▲";
}
.mycar .list_table table .sort .sort_wrap button:last-child {
  margin-top: 2px;
}
.mycar .list_table table .sort .sort_wrap button:last-child::after {
  content: "▼";
}
.mycar .list_table table .imgbox {
  width: 100px;
  height: 70px;
}
.mycar .view_wrap.flex .vehicle_img {
  width: 40%;
}
.mycar .view_wrap.flex .view_table {
  flex: 1;
}
.mycar .view_wrap .left_wrap .table_top .search_wrap .input_wrap {
  flex: 1;
}
.mycar .view_wrap .left_wrap .table_top + .table_btm tr td {
  text-align: center;
}
.mycar .view_wrap .right_wrap .view_table + .view_table .table_top.flex {
  justify-content: space-between;
}
.mycar .view_wrap .right_wrap .table_btm .input_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* === 차량관리 === */
.management .list_wrap .note_area {
  width: 100%;
  padding: 10px 0;
}
.management .list_wrap .note_area .note {
  padding-left: 40px;
  background-image: url(../images/common/ico_empty.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
}
.management .list_wrap .list_table table tr.completed td {
  background-color: rgba(204, 228, 255, 0.49);
}
.management .list_wrap .list_table table tr .imgbox {
  width: 100px;
  height: 70px;
  margin: 0 auto;
}
.management .list_wrap .list_table table tr .state {
  color: #2578e9;
}
.management .code_box {
  min-width: 400px;
  width: 400px;
}
.management .code_box.company_box {
  min-width: 500px;
}
.management .code_box .imgbox {
  width: 100px;
  height: 70px;
}
.management .code_box .btn_up {
  font-size: 0;
  max-width: 32px;
  background-color: white;
  vertical-align: middle;
  background-image: url(../images/common/menu_arrow_up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 8px;
}
.management .code_box .btn_down {
  font-size: 0;
  max-width: 32px;
  background-color: white;
  vertical-align: middle;
  background-image: url(../images/common/menu_arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 8px;
}

/* === 게시판 === */
.board .list_wrap .list_table tr.notice .num {
  font-size: 0;
}
.board .list_wrap .list_table tr.notice .num::before {
  content: "공지";
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #c12626;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.board .list_wrap .list_table .attach_ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/common/clip.png") no-repeat center;
}
.board .view_wrap .view_table .files .file .imgbox {
  width: 250px;
  height: 200px;
}

/* === 프로모션 === */
.promotion .list_wrap .list_table table tr.working .e_state {
  color: #f24048;
}
.promotion .list_wrap .list_table table tr .imgbox {
  height: 100px;
}
.promotion .list_wrap .list_table table tr .e_state {
  color: #333;
}
.promotion .list_wrap .list_table table tr td.align_r {
  text-align: right;
}
.promotion .view_wrap .view_table table tr.background .radiobox.color01 .color_box {
  background-color: #4472C4;
}
.promotion .view_wrap .view_table table tr.background .radiobox.color02 .color_box {
  background-color: #44546A;
}
.promotion .view_wrap .view_table table tr.background .radiobox.color03 .color_box {
  background-color: #FFC000;
}
.promotion .view_wrap .view_table table tr.background .radiobox.color04 .color_box {
  background-color: #B9252B;
}
.promotion .view_wrap .view_table table tr.background .radiobox .color_box {
  width: 100px;
  height: 40px;
}

/* === 통계/분석 === */
.stats .chart_wrap {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}

/* === 기타 === */
.admin .tab_menu {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #d9d9d9;
}
.admin .tab_menu a {
  flex: 1;
  height: 50px;
  line-height: 48px;
  cursor: pointer;
  background-color: #fff;
}
.admin .tab_menu a.on {
  background-color: #333;
  color: #fff;
}
.admin .view_table .imgbox {
  width: 160px;
  height: 160px;
}
.admin .view_table .term_wrap {
  height: 500px;
}
.admin .view_table .term_wrap textarea {
  height: 100%;
  word-break: keep-all;
}

/* === 로딩바 === */
.list_table {
  position: relative;
}
.list_table .load_wrap {
  display: none;
  position: absolute;
}

/* === popup === */
.pop_wrap input[type=text], .pop_wrap input[type=password], .pop_wrap input[type=email], .pop_wrap input[type=tel], .pop_wrap input[type=number], .pop_wrap select {
  width: 100%;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  padding: 0 15px 0 5px;
}
.pop_wrap textarea {
  display: block;
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 150px;
  padding: 15px;
}
.pop_wrap input[type=number]::-webkit-outer-spin-button, .pop_wrap input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pop_wrap select {
  background-image: url(../images/common/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pop_wrap .radiobox input[type=radio], .pop_wrap .radiobox input[type=checkbox], .pop_wrap .checkbox input[type=radio], .pop_wrap .checkbox input[type=checkbox] {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-right: 5px;
}
.pop_wrap .pop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pop_wrap .pop_header .pop_close {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/common/modal_close.png");
  background-repeat: no-repeat;
  background-position: center;
}
.pop_wrap .pop_body .con_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}
.pop_wrap .pop_body .con_top p {
  display: flex;
  align-items: center;
}
.pop_wrap .pop_body .con_top p span {
  position: relative;
  font-size: 20px;
  font-weight: 600;
}
.pop_wrap .pop_body .con_top p span:first-child {
  padding-right: 16px;
  margin-right: 16px;
}
.pop_wrap .pop_body .con_top p span:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  width: 2px;
  height: 16px;
  background-color: #555555;
}
.pop_wrap .pop_body .con_top .date {
  font-size: 16px;
}
.pop_wrap .pop_body .con_box .info_wrap .flex {
  align-items: flex-start;
}
.pop_wrap .pop_body .con_box .info_wrap table tr td {
  text-align: right;
}
.pop_wrap .pop_body .con_box .date {
  padding-right: 10px;
  padding-bottom: 6px;
  color: #666;
  text-align: right;
}
.pop_wrap .pop_body .con_box .text_box {
  width: 100%;
  height: 400px;
  padding: 12px;
  border: 1px solid #d5d5d5;
}
.pop_wrap .pop_body .con_box .search_wrap .search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}
.pop_wrap .pop_body .con_box .search_wrap .search .input_wrap {
  flex: 1;
}
.pop_wrap .pop_body .con_box .search_wrap .search .btn {
  flex: 0 0 auto;
}
.pop_wrap .pop_body .con_box .note_area {
  width: 100%;
  padding: 10px 0;
}
.pop_wrap .pop_body .con_box .note_area .note {
  padding-left: 30px;
  background-image: url(../images/common/ico_empty.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.pop_wrap .pop_body .con_box .view_table .file_area input[type=file] {
  display: none;
}
.pop_wrap .pop_body .con_box .view_table .files .file .imgbox {
  width: 160px;
}
.pop_wrap .pop_body .con_box .promotion .list_wrap {
  max-height: 560px;
  padding: 25px 15px 20px 0;
}
.pop_wrap .pop_body .con_box .promotion .list_wrap::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background: #eaeaea;
}
.pop_wrap .pop_body .con_box .promotion .list_wrap::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background: #d9d9d9;
}
.pop_wrap .pop_body .con_box .promotion .list_wrap .list_table {
  margin-top: 0;
}
.pop_wrap .pop_body .con_box .promotion .list_wrap + .btn_area {
  padding-bottom: 0;
}
.pop_wrap .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.pop_wrap .modal.on {
  display: block;
}
.pop_wrap .modal > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
}
.pop_wrap .modal > div .title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pop_wrap .modal > div .title_wrap .btn_del {
  width: 30px;
  height: 30px;
  background-size: 30px;
}
.pop_wrap .modal > div .search_wrap .search {
  padding: 15px 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pop_wrap .modal > div .search_wrap .search .input_area {
  width: 100%;
}
.pop_wrap .modal > div .search_wrap .search .input_area input[type=text] {
  width: 100%;
  height: 30px;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  padding: 0 15px 0 5px;
}
.pop_wrap .modal > div .search_wrap .list_wrap {
  padding: 0;
}