#header {
  position: relative;
  background: #fff;
  box-shadow: -6px 0px 18px rgba(0, 0, 0, 0.0784313725);
}
#header.main {
  box-shadow: none;
}
#header .banner-top {
  display: block;
  position: relative;
  padding: 15px 0 16px;
  background: #993236;
  transition: all 0.35s ease;
}
#header .banner-top.color01 {
  background: #4472c4;
}
#header .banner-top.color02 {
  background: #44546a;
}
#header .banner-top.color03 {
  background: #ffc000;
}
#header .banner-top.color04 {
  background: #b9252b;
}
#header .banner-top p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}
#header .banner-top p strong {
  font-weight: 900;
}
#header .banner-top .btn-close {
  z-index: 100;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  display: block;
  width: 24px;
  height: 100%;
  background: url("../images/common/ico/btn_close.svg") no-repeat center/20px;
}
#header .inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}
/*#header .hd-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}*/
#header .hd-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#header .hd-top .hd-logo {
  width: 11.6%;
  height: 45px;
}
#header .hd-top .hd-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/new_logo.png") no-repeat center;
  background-size: 100% auto;
}
#header .hd-top .gnb-wrap {
  width: 65.3%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#header .hd-top .gnb-wrap ul:not(.gnb-depth) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#header .hd-top .gnb-wrap .gnb{
  width: 60%
}
#header .hd-top .gnb-wrap .gnb-sub{
  width: 40%
}
#header .hd-top .gnb-wrap .gnb-sub:after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #c6c9cf;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#header .hd-top .gnb-wrap ul li{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#header .hd-top .gnb-wrap ul.gnb li{
  justify-content: end;
}
#header .hd-top .gnb-wrap ul.gnb li:first-child{
  padding-left: 14.5%;
}
#header .hd-top .gnb-wrap ul:not(.gnb-depth).gnb li:nth-child(n+3){
  justify-content: center;
  flex-shrink: 1;
}
#header .hd-top .gnb-wrap ul:not(.gnb-depth).gnb li:nth-child(3){
  margin-right: -10%;
}
#header .hd-top .gnb-wrap .gnb:not(.gnb-depth) li a:hover {
  text-shadow: 0.1px 0.1px 0 #B82927, -0.1px -0.1px 0 #B82927;
  color: #B82927;
}
#header .hd-top .gnb-wrap > ul.gnb:not(.gnb-depth) > li > a {
  font-weight: 700;
  font-size: 18px;
  transition: all 0.2s;
}
#header .hd-top .gnb-wrap ul.gnb-sub li{
  justify-content: center;
}
#header .hd-top .gnb-wrap > ul.gnb-sub:not(.gnb-depth) > li:nth-child(n+2){
  justify-content: start;
  margin-left:-5%;
  flex-shrink: 1;
}
#header .hd-top .gnb-wrap > ul.gnb-sub:not(.gnb-depth) > li:last-child{
  margin-left:-15%;
}
#header .hd-top .gnb-wrap .gnb-sub li a {
  font-size: 16px;
  color: #636569;
  transition: all 0.2s;
}
#header .hd-top .gnb-wrap .gnb-sub li a:hover {
  text-shadow: 0.01px 0.01px 0 #222, -0.01px -0.01px 0 #B82927;
  color: #B82927;
}
#header .hd-top .gnb-wrap ul.gnb-depth li a {
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s;
  line-height: 1.8;
  color: #555555;
  word-wrap: break-word;
}
#header .hd-top .gnb-wrap .gnb li:hover .gnb-depth2,
#header .hd-top .gnb-wrap .gnb-sub li:hover .gnb-sub-depth2 {
  display: block !important;
  z-index: 5;
  margin-top: 138px;
  border-radius: 6px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
}
#header .hd-top .gnb-wrap .gnb-sub li:hover .gnb-sub-depth2 {
  margin-left:-5%;
  flex-shrink: 1;
}
#header .hd-top .gnb-wrap ul.gnb-depth {
  display:none;
  position: absolute;
}
#header .hd-top .gnb-wrap .gnb li:hover .gnb-depth2 li,
#header .hd-top .gnb-wrap .gnb-sub li:hover .gnb-sub-depth2 li{
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
#header .hd-top .gnb-wrap .gnb li:hover .gnb-depth2 li:first-child,
#header .hd-top .gnb-wrap .gnb-sub li:hover .gnb-sub-depth2 li:first-child{
  padding-top: 16px;
  padding-bottom: 4px;
}
#header .hd-top .gnb-wrap .gnb li:hover .gnb-depth2 li:last-child,
#header .hd-top .gnb-wrap .gnb-sub li:hover .gnb-sub-depth2 li:last-child{
  padding-top: 4px;
  padding-bottom: 16px;
}








#header .hd-top .hd-utils {
  width: 23.1%;
}
#header .hd-top .hd-utils ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#header .hd-top .hd-utils ul.justify-content-end li{
  margin-right: 3.7535% !important;
}
#header .hd-top .hd-utils .btn-login {
  display: block;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  padding: 0 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  background: #B82927;
  color: #fff;
}
#header .hd-top .hd-utils .my-ask {
  font-weight: 500;
  font-size: 13px;
  color: #E6232B;
}
#header .hd-top .hd-utils .my-ask .count {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #E6232B;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
#header .hd-top .hd-utils .link {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#header .hd-top .hd-utils .link.on::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff857b;
  position: absolute;
  top: 6px;
  right: 4px;
}
#header .hd-top .hd-utils .is-search .link {
  background-image: url("../images/common/ico/hd_search.svg");
}
#header .hd-top .hd-utils .is-like .link {
  background-image: url("../images/common/ico/hd_like.svg");
}
#header .hd-top .hd-utils .is-notification .link {
  background-image: url("../images/common/ico/hd_notification.svg");
}
#header .hd-top .hd-utils .is-notification .link.on::after {
  right: 9px;
}
#header .hd-top .hd-utils .is-menu .link {
  background-image: url("../images/common/ico/hd_menu.svg");
}
#header .header-mobile {
  display: none;
}
@keyframes jump {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.aside-bg {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.46;
}
.aside-bg.on {
  display: block;
}

#aside-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -300px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  background: #fff;
  transition: 0.3s;
}
#aside-menu.on {
  right: 0;
}
#aside-menu .aside-header .aside-center {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aside-menu .aside-header .aside-center .title {
  font-weight: 600;
  font-size: 18px;
}
#aside-menu .aside-header .aside-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico/aside_close.svg") no-repeat center/12px;
  font-size: 0;
}
#aside-menu .aside-header .member-info {
  padding: 30px 16px 20px;
}
#aside-menu .aside-header .member-info .txt {
  font-size: 14px;
}
#aside-menu .aside-header .member-info .txt .name {
  word-break: break-all;
}
#aside-menu .aside-header .member-info .is-login {
  display: flex;
  align-items: center;
  gap: 10px;
}
#aside-menu .aside-header .member-info .is-login .profile {
  flex: 0 0 auto;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #eff2f7;
  position: relative;
}
#aside-menu .aside-header .member-info .is-login .profile::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
#aside-menu .aside-header .member-info .is-login .profile img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#aside-menu .aside-header .member-info .is-login.kakao .profile::after {
  background-color: #fae100;
  background-image: url("../images/common/ico/login_kakao.svg");
}
#aside-menu .aside-header .member-info .is-login.naver .profile::after {
  background-color: #03c75a;
  background-image: url("../images/common/ico/login_naver.svg");
}
#aside-menu .aside-header .member-info .is-login.google .profile::after {
  background-color: #f8f8f8;
  background-image: url("../images/common/ico/login_google.svg");
  background-size: 14px;
}
#aside-menu .aside-header .member-info .is-login.apple .profile::after {
  background-color: #222;
  background-image: url("../images/common/ico/login_apple.svg");
  background-size: 14px;
}
#aside-menu .aside-header .member-info .btn-setting {
  flex: 0 0 auto;
  margin-left: auto;
  display: block;
  font-size: 0;
  width: 26px;
  height: 26px;
  background: url("../images/common/ico/aside_setting.svg");
}
#aside-menu .aside-header .aside-login {
  display: flex;
}
#aside-menu .aside-header .aside-login a {
  flex: 1;
  background: #f8f9fd;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  color: #636569;
  position: relative;
}
#aside-menu .aside-header .aside-login a + a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #636569;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#aside-menu .aside-header .aside-login a.is-login {
  text-align: left;
  padding: 0 30px 0 16px;
  position: relative;
}
#aside-menu .aside-header .aside-login a.is-login::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico/aside_login.svg");
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
#aside-menu .aside-body .aside-menu {
  padding: 0 16px;
}
#aside-menu .aside-body .aside-menu > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
}
#aside-menu .aside-body .aside-menu > li.is-logout {
  border-bottom: 0;
}
#aside-menu .aside-body .aside-menu > li .tit {
  font-family: "SUITE";
  font-size: 16px;
}
#aside-menu .aside-body .aside-menu > li .tit em {
  color: #E6232B;
  font-family: "Pretendard";
}
#aside-menu .aside-body .aside-menu > li .depth2 {
  margin: 6px 0 -8px;
}
#aside-menu .aside-body .aside-menu > li .depth2 a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  color: #636569;
  padding-left: 16px;
  position: relative;
}
#aside-menu .aside-body .aside-menu > li .depth2 a::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(99, 101, 105, 0.4);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#aside-menu .aside-body .aside-menu > li .num-list {
  display: flex;
}
#aside-menu .aside-body .aside-menu > li .num-list a {
  flex: 1;
  text-align: center;
}
#aside-menu .aside-body .aside-menu > li .num-list i {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}
#aside-menu .aside-body .aside-menu > li .num-list i.i-like {
  background-image: url("../images/common/ico/aside_like.svg");
}
#aside-menu .aside-body .aside-menu > li .num-list i.i-recent {
  background-image: url("../images/common/ico/aside_recent.svg");
}
#aside-menu .aside-body .aside-menu > li .num-list i.i-consult {
  background-image: url("../images/common/ico/aside_consult.svg");
}
#aside-menu .aside-body .aside-menu > li .num-list i.i-visit {
  background-image: url("../images/common/ico/aside_visit.svg");
}
#aside-menu .aside-body .aside-menu > li .num-list .txt {
  margin-top: 2px;
  font-family: "SUITE";
  font-size: 14px;
  color: #636569;
}
#aside-menu .aside-body .aside-menu > li .num-list .txt .num {
  color: #E6232B;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  margin-left: 6px;
}

#footer {
  background: #444444;
  border-top: 1px solid #666666;
  padding: 46px 0 60px;
}
#footer.sub .footer-nav {
  display: none;
}
#footer .notice-wrap {
  padding: 20px 0;
  margin-bottom: 46px;
  border-bottom: 1px solid #eee;
}
#footer .notice-wrap .w-set {
  display: flex;
  align-items: center;
}
#footer .notice-wrap .tit {
  flex: 0 0 auto;
  width: 118px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
#footer .notice-wrap .txt-area {
  padding-right: 180px;
  flex: 1;
  font-size: 18px;
  line-height: 1.2;
}
#footer .notice-wrap .txt-area .txt {
  display: inline;
}
#footer .notice-wrap .txt-area .date {
  flex: 0 0 auto;
  margin-left: 23px;
  color: #aaa;
  font-size: 16px;
}
#footer .w-set {
  position: relative;
}
#footer .sns-list {
  position: absolute;
  right: -10px;
  top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
#footer .sns-list .sns {
  font-size: 0;
}
#footer .sns-list .sns i {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
}
#footer .sns-list .sns i.i-kakao {
  background-image: url("../images/common/ico/special/ft-icon-kakaotalk.svg");
  background-size: 25px;
}
#footer .sns-list .sns i.i-youtube {
  background-image: url("../images/common/ico/special/ft-icon-youtube.svg");
  background-size: 25px;
}
#footer .sns-list .sns i.i-facebook {
  background-image: url("../images/common/ico/special/ft-icon-facebook.svg");
  background-size: 25px;
}
#footer .sns-list .sns i.i-naver {
  background-image: url("../images/common/ico/special/ft-icon-naver.svg");
  background-size: 25px;
}
#footer .link-list a {
  color: #AAAAAA;
  font-size: 15px;
  line-height: 18px;
}
#footer .link-list a:nth-child(2) {
  margin-left: 28px;
}
#footer .link-list a b {
  color: #FFFFFF;
  margin-left: 28px;
}
#footer .cs-wrap {
  color: #AAAAAA;
}
#footer .cs-wrap .tit {
  padding-top: 21px;
  font-weight: 500;
  font-size: 18px;
}
#footer .cs-wrap .cs-area {
  color: #FFFFFF;
  text-align: right;
  position: absolute;
  right: 0;
  top: 50px;
}
#footer .cs-wrap .cs-area .cs-tit {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #AAAAAA;
}
#footer .cs-wrap .cs-area .number {
  display: block;
  padding-top: 2px;
  font-size: 24px;
  color: #FFFFFF;
}
#footer .cs-wrap .cs-area .txt {
  padding-top: 12px;
  font-size: 16px;
  color: #AAAAAA;
}
#footer .cs-wrap .cs-area .txt + .txt {
  padding-top: 2px;
}
#footer .cs-wrap .cs-area .btn-list {
  display: flex;
  gap: 8px;
  margin-top: 22px;
}
#footer .cs-wrap .cs-area .btn-list .btn {
  width: 132px;
  height: 40px;
  line-height: 38px;
  background: transparent;
  border-color: #AAAAAA;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  color: #AAAAAA;
}
#footer .cs-wrap .cs-area .btn-list .btn::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 20px;
  background: url("../images/common/ico/special/ft-btn-apple.svg") no-repeat center/cover;
  vertical-align: middle;
  margin: -4px 6px 0 0;
}
#footer .cs-wrap .cs-area .btn-list .is-google .btn::before {
  width: 17px;
  height: 19px;
  background-image: url("../images/common/ico/special/ft-btn-google-play.svg");
}
#footer .address-area {
  padding-top: 36px;
  font-size: 0;
}
#footer .address-area .address2 {
  padding-top: 6px;
}
#footer .address-area span {
  position: relative;
  color: #AAAAAA;
  font-size: 14px;
  line-height: 1.2;
}
#footer .address-area span:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background: #AAAAAA;
  margin: -2px 10px 0;
  vertical-align: middle;
}
#footer .copyright {
  padding-top: 18px;
  color: #AAAAAA;
  font-size: 14px;
  line-height: 1.2;
}
.quick-wrap {
   position: fixed;
   right: 20px;
   bottom: 8%;
   z-index: 100;
   transition: 0.3s;
   opacity: 0;
   display: none;
   width: 160px;
 }
.quick-wrap.show {
  display: block;
}
.quick-wrap.show2 {
  opacity: 1;
  z-index: 100;
}
.quick-wrap .quick-menu {
  background-color:transparent;
  border-radius: 35px;
  padding: 30px 0px 10px 0px;
  width: 100%;
}
.quick-wrap .quick-menu .quick-slide{
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 8px;
}
.quick-wrap .quick-menu .quick-slide .tit {
  text-align: center;
  display: block;
  font-size: 13px;
  color: #222222;
  margin-bottom: 12px;
}
.quick-wrap .quick-menu .quick-slide .info-wrap {
  position: relative;
  margin: 0 7px;
}
.quick-wrap .quick-menu .quick-slide .img {
  z-index: 10;
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 90px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.quick-wrap .quick-menu .quick-slide .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border : solid lightgrey 1px;
}
.quick-wrap .quick-menu .quick-slide .info-list .info-box {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 200px;
  height: 56px;
  padding: 13px 20px;
  background: #fff;
  box-shadow: -2px 1px 8px rgba(0, 0, 0, 0.1098039216);
  border-radius: 28px;
  align-items: center;
  justify-content: space-between;
  padding-right: 66px;
  transition: all 0.2s;
}
.quick-wrap .quick-menu .quick-slide .info-list .info-box.on {
  opacity: 1;
}
.quick-wrap .quick-menu .quick-slide .info-list .info-box .txt {
  font-size: 12px;
  color: #636569;
}
.quick-wrap .quick-menu .quick-slide .info-list .info-box .btn-close {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico/quick_close.svg");
  font-size: 0;
}
.quick-wrap .quick-menu .quick-slide .count {
  color: #B82927;
  margin: 10px auto 12px;
  display: block;
  width: 56px;
  height: 20px;
  line-height: 20px;
  background: #f2e1e1;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}
.quick-wrap .quick-menu .quick-slide .swiper-navi {
  position : absolute;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
}
.quick-wrap .quick-menu .quick-slide .swiper-navi .swiper-button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background: url("../images/common/ico/swiper_prev2.svg") no-repeat center/cover;
}
.quick-wrap .quick-menu .quick-slide .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/swiper_next2.svg");
}
.quick-wrap .quick-menu .quick-slide .swiper-navi .swiper-button.swiper-button-disabled {
  opacity: 0.5;
}
.quick-wrap .quick-menu .quick-slide .swiper-count {
  margin-top: 5px;
  width: auto;
  text-align: center;
  font-size: 13px;
  color: #737a90;
}
.quick-wrap .quick-menu .quick-slide .swiper-count em {
  margin: 0 2px;
}
.quick-wrap .quick-menu .contact {
  position: relative;
  display: block;
  font-size: 13px;
  text-align: center;
  color: #737a90;
  margin-top: 18px;
  padding-top: 18px;
}
.quick-wrap .quick-menu .contact::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto 8px;
  background: url("../images/common/ico/quick_contact.svg");
}
.quick-wrap .quick-menu .contact::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  border-top: 1px dashed #737a90;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.quick-wrap .quick-menu .contact .number {
  display: block;
  font-size: 12px;
  padding-top: 8px;
}
.quick-wrap .quick-menu .quick-apply{
  background: #B82927;
  border-radius: 8px;
  padding: 15px 0px 15px;
  text-align: center;
  height: 237px
}

.quick-wrap .quick-menu .quick-apply div input[type="checkbox"] {
  display: none;
}
.quick-wrap .quick-menu .quick-apply div input[type="checkbox"] + label > span.checkbox-on {
  vertical-align: middle;
}
/* label:before에 체크하기 전 상태 CSS */
.quick-wrap .quick-menu .quick-apply div input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:16px;
  height:16px;
  background: #FFF;
  border:1px solid #DDD;
  border-radius: 2px;
  vertical-align:middle;
  margin-right: 10px;
}
/* label:before에 체크 된 상태 CSS */
.quick-wrap .quick-menu .quick-apply div input[type="checkbox"]:checked + label:before{
  content:"✔";
  font-size: 10px;
  font-weight: bold;
  color:#B82927;
  display:inline-block;
  background-color:#FFF;
  background-repeat: no-repeat;
  background-position: 50%;
}
.quick-wrap .quick-menu .quick-apply .quick-apply-btn {
  border-radius: 10%;
  margin: 10px auto 0px;
  width: 143px;
  background: #222;
  border: 1px solid #222;
  color: #fff;
  height: 35px;
}
#m-quickPopup div input[type="checkbox"] {
  display: none;
}
#m-quickPopup div input[type="checkbox"] + label > span.checkbox-on {
  vertical-align: middle;
}
/* label:before에 체크하기 전 상태 CSS */
#m-quickPopup div input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  background: #FFF;
  border:1px solid #DDD;
  border-radius: 2px;
  vertical-align:middle;
  margin-right: 10px;
}
/* label:before에 체크 된 상태 CSS */
#m-quickPopup div input[type="checkbox"]:checked + label:before{
  content:"✔";
  font-size: 14px;
  font-weight: bold;
  color:#FFF;
  display:inline-block;
  text-align: center;
  background-color:#B82927;
  background-repeat: no-repeat;
  background-position: 50%;
}
#m-quickPopup #m-quick-apply-btn {
  border-radius: 4px;
  background: #DDD;
  border: 1px solid #DDD;
  color: #fff;
}
#quickAskPopup #fin-quick-apply-btn {
  border-radius: 4px;
  background: #DDD;
  border: 1px solid #DDD;
  color: #fff;
}
.quick-wrap .btn-chat {
  margin: 10px auto 0px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #B82927;
  background: url("../images/common/ico/inquiry_chat_80_80.png") no-repeat center;
  transition: 0.3s;
  text-align: center;
  font-size: 13px;
  color: #B82927;
  padding-top: 43px;
}
.quick-wrap .go-top {
  margin: 10px auto 0px;
  font-size: 0;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0 none;
  background: #B82927 url("../images/common/ico/go_top.svg") no-repeat center center;
  transition: 0.35s;
}

@media (min-width: 1461px) {
  .quick-wrap .btn-chat:hover {
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.13);
  }
  .quick-wrap .go-top:hover {
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.13);
    background-position: top 16px center;
  }
  .quick-wrap .quick-menu .contact.contact-mt {
    display: none;
  }
}
@media (max-width: 1460px) {
  .quick-wrap {
    width: 70px;
    right: 16px;
    bottom: 4%;
  }
  .quick-wrap .quick-menu {
    padding: 0;
    width: 44px;
    height: 44px;
    background: #f5f6fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0px auto;
    border: 1px solid #8d8d8d;
  }
  .quick-wrap .quick-menu .quick-slide {
    display: none;
  }
  .quick-wrap .quick-menu .quick-apply{
    display: none;
  }
  .quick-wrap .quick-menu .contact {
    margin-top: 0;
    padding-top: 0;
  }
  .quick-wrap .quick-menu .contact-pc {
    display: none;
  }
  .quick-wrap .quick-menu .contact::before {
    margin: 0 auto;
  }
  .quick-wrap .quick-menu .contact::after {
    content: none;
  }
  .quick-wrap .quick-menu .contact .txt,
  .quick-wrap .quick-menu .contact .number {
    display: none;
  }
  .quick-wrap .btn-chat {
    width: 44px;
    height: 44px;
    font-size: 0;
    background: url("../images/common/ico/inquiry_chat_88_88.png") no-repeat center;
    background-size: cover;
  }
  .quick-wrap .go-top {
    width: 44px;
    height: 44px;
  }
}
@media (min-width: 1241px) {
  #footer .sns-list .sns:hover i.i-kakao {
    background-image: url("../images/common/ico/ft_kakao_on.svg");
  }
  #footer .sns-list .sns:hover i.i-youtube {
    background-image: url("../images/common/ico/ft_youtube_on.svg");
  }
  #footer .sns-list .sns:hover i.i-facebook {
    background-image: url("../images/common/ico/ft_facebook_on.svg");
  }
  #footer .sns-list .sns:hover i.i-naver {
    background-image: url("../images/common/ico/ft_naver_on.svg");
  }
}
@media (max-width: 1240px) {
  #header .inner {
    padding: 0 16px;
  }
  #header .hd-top {
    justify-content: space-between;
  }
  .quick-wrap {
    top: auto;
    bottom: 72px;
    z-index: 101;
  }
  #footer .sns-list {
    right: 16px;
  }
  #footer .cs-wrap .cs-area {
    right: 16px;
  }
}
@media (max-width: 1023px) {
  #header.sub {
    box-shadow: none;
  }
  #header.sub .banner-top {
    display: none;
  }
  #header.sub .hd-top {
    display: none;
  }
  #header .hd-top .gnb-wrap {
    display: none;
  }
  #header .hd-top .hd-utils ul{
    justify-content: end;
  }
  #header .hd-top .hd-utils ul.justify-content-end li{
    margin-right: 3.7535% !important;
  }
  #header.sub .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  #header.sub .header-mobile .btn-back {
    position: absolute;
    z-index: 9999;
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/common/ico/btn_back.svg") no-repeat center;
  }
  #header.sub .header-mobile .hd-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
  #header.sub .header-mobile .hd-center .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  #header.sub .header-mobile .btn-home {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/common/ico/home.svg") no-repeat center/26px;
  }
  #header .banner-top {
    padding: 9px 0;
  }
  #header .banner-top p {
    font-size: 15px;
    line-height: 18px;
  }
  #header .banner-top p strong {
    font-weight: 700;
  }
  #header .banner-top .btn-del {
    right: 10px;
  }
  #aside-menu .aside-header .aside-close {
    width: 40px;
    height: 40px;
    top: 6px;
    right: 3px;
  }
  #footer {
    padding: 15px 0 80px;
  }
  #footer.sub {
    padding-bottom: 15px;
  }
  #footer.member {
    display: none;
  }
  #footer .notice-wrap {
    margin-bottom: 16px;
  }
  #footer .notice-wrap .tit {
    width: 68px;
    font-size: 14px;
  }
  #footer .notice-wrap .txt-area {
    display: flex;
    align-items: center;
    padding-right: 0;
    gap: 10px;
  }
  #footer .notice-wrap .txt-area .txt {
    font-size: 14px;
  }
  #footer .notice-wrap .txt-area .date {
    margin-left: auto;
    font-size: 12px;
  }
  #footer .sns-list {
    position: initial;
    justify-content: center;
    gap: 16px;
  }
  #footer .sns-list .sns i {
    width: 30px;
    height: 30px;
  }
  #footer .link-list {
    margin-top: 14px;
    text-align: center;
  }
  #footer .link-list a {
    font-size: 13px;
    line-height: 15.6px;
    letter-spacing: -0.06em;
  }
  #footer .link-list a + a {
    margin-left: 16px;
  }
  #footer .cs-wrap .tit {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
  #footer .cs-wrap .tit::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/common/ico/view_more.svg");
    vertical-align: middle;
    margin: -2px 0 0 4px;
    transition: all 0.35s;
  }
  #footer .cs-wrap .tit.on::after {
    transform: scaleY(-1);
  }
  #footer .cs-wrap .cs-area {
    display: none;
    position: initial;
    text-align: center;
    padding-top: 16px;
    transition: all 0.35s;
  }
  #footer .cs-wrap .cs-area.on {
    display: block;
  }
  #footer .cs-wrap .cs-area .btn-list {
    justify-content: center;
  }
  #footer .address-area {
    text-align: center;
    padding-top: 30px;
  }
  #footer .address-area span {
    font-size: 13px;
  }
  #footer .address-area .address1 span:last-child {
    display: block;
    padding-top: 6px;
  }
  #footer .address-area .address1 span:last-child::before {
    content: none;
  }
  #footer .address-area .address2 {
    max-width: 320px;
    margin: 0 auto;
  }
  #footer .address-area .address2 span {
    display: block;
  }
  #footer .address-area .address2 span::before {
    content: none;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
  }
  .footer-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.0705882353);
  }
  .footer-nav .inner {
    display: flex;
    align-items: center;
    height: 58px;
  }
  .footer-nav .is-home {
    flex: 0 0 auto;
  }
  .footer-nav .quick-ask-btn {
    background: url("../images/common/ico/applyQuickBtn.png") no-repeat center;;
    padding: 10px;
    position: absolute;
    margin : 0 auto;
    bottom: 70px;
    width: 120px;
    height: 47px;
    border-radius: 35px;
    animation:  move 0.3s
                linear 0.3s
                infinite alternate;
  }
/*  .footer-nav .quick-ask-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 44%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #222222;
    border-bottom: 0;
    margin-left: 0;
    margin-bottom: -10px;
  }*/
  .footer-nav .quick-ask-btn div span {
    font-size : 14px;
    color : #FFF;
  }
  @keyframes move {
    0%    {bottom: 70px;  animation-timing-function: cubic-bezier(1, 0, 0.8, 1)} /* 처음 위치 */
    100%  {bottom: 80px; animation-timing-function: cubic-bezier(1, 0, 0.8, 1)} /* 마지막 위치 */
  }
  .footer-nav .is-home .ico-home {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #B82927 url(../images/common/ico/ft_nav_home.svg) no-repeat center/26px;
  }
  .footer-nav a,
  .footer-nav button {
    flex: 1;
  }
  .footer-nav a i,
  .footer-nav button i {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 26px;
    background: url("../images/common/ico/ft_nav1.svg") no-repeat center;
  }
  .footer-nav a i.ico-nav1,
  .footer-nav button i.ico-nav1 {
    background-image: url("../images/common/ico/ft_nav1.svg");
  }
  .footer-nav a i.ico-nav2,
  .footer-nav button i.ico-nav2 {
    background-image: url("../images/common/ico/ft_nav2.svg");
  }
  .footer-nav a i.ico-nav3,
  .footer-nav button i.ico-nav3 {
    background-image: url("../images/common/ico/ft_nav3.svg");
  }
  .footer-nav a i.ico-nav4,
  .footer-nav button i.ico-nav4 {
    background-image: url("../images/common/ico/ft_nav4.svg");
  }
  .footer-nav a .txt,
  .footer-nav button .txt {
    display: block;
    padding-top: 2px;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }
  .footer-nav a.on i.ico-nav1,
  .footer-nav button.on i.ico-nav1 {
    background-image: url("../images/common/ico/ft_nav1_on.svg");
  }
  .footer-nav a.on i.ico-nav2,
  .footer-nav button.on i.ico-nav2 {
    background-image: url("../images/common/ico/ft_nav2_on.svg");
  }
  .footer-nav a.on i.ico-nav3,
  .footer-nav button.on i.ico-nav3 {
    background-image: url("../images/common/ico/ft_nav3_on.svg");
  }
  .footer-nav a.on i.ico-nav4,
  .footer-nav button.on i.ico-nav4 {
    background-image: url("../images/common/ico/ft_nav4_on.svg");
  }
  .footer-nav a.on .txt,
  .footer-nav button.on .txt {
    color: #B82927;
  }
  .quick-wrap .go-top {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 768px) {
  #header .hd-top {
    align-items: center;
  }
  #header .inner {
    height: 60px;
  }
  #header .hd-top .hd-logo .logo-link{
    width: 80px;
    background: url("../images/common/img/new_logo_80_25.png") no-repeat center;
    background-size: 100% auto;
  }
  #aside-menu {
    right: -100%;
    max-width: 100%;
  }
}