.main-content .main-top {
  position: relative;
  margin-top: 5px;
}
.main-content h2.tit {
  font-family: SUITE;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
.main-content .tit-area:not(.main-search) {
  margin-top : 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-content .tit-area .btn-more {
  font-size: 14px;
}
.main-content .tit-area .btn-more::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../images/common/ico/btn_more.svg");
  vertical-align: middle;
  margin: -2px 0 0 6px;
  transition: all 0.2s;
}
.main-content .tit-area .btn-more:hover::after {
  transform: rotate(90deg);
}
.main-content .main-visual {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;  justify-content: center;
}
.hide-t.main-banner{
  display: none !important;
}
.hide-pc.main-banner{
  display: none !important;
}
.main-content .prd-box .prd-info .price-info{
  padding-top: 12px;
}
.main-content .main-visual .swiper-control {
  position: relative;
  left: 48%;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-size: 0;
}
.main-content .main-visual .swiper-control .swiper-count {
  font-family: "Outfit";
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
.main-content .main-visual .swiper-control .swiper-count span {
  padding: 0 4px;
}
.main-content .main-visual .swiper-control .swiper-count span.all-num {
  color: rgba(0, 0, 0, 0.3);
}
.main-content .main-visual .swiper-control .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #fff;
  margin: 0 5px;
}
.main-content .main-visual .swiper-control .swiper-pagination-bullet-active {
  width: 8px;
  background-color: #B82927;
  border-radius: 5px;
}
.main-content .main-visual .swiper-control .pagination:not(.bullets) {
  position: relative;
  flex: 0 0 auto;
  max-width: 200px;
  height: 1px;
  z-index: 11;
  background: rgba(0, 0, 0, 0.2);
}
.main-content .main-visual .swiper-control .pagination:not(.bullets) .swiper-pagination-progressbar-fill {
  background-color: #000;
}
.main-content .main-visual .swiper-control .pause, .main-content .main-visual .swiper-control .play {
  flex: 0 0 auto;
  margin-left: 24px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.26) url("../images/common/ico/swiper_pause.svg") no-repeat center;
}
.main-content .main-visual .swiper-control .play {
  background-image: url("../images/common/ico/swiper_play.svg");
}
.main-content .main-visual .swiper-navi {
  max-width: 1680px;
  margin: -34px auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}
.main-content .main-visual .swiper-navi .swiper-button {
  font-size: 0;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.14);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 10;
}
.main-content .main-visual .swiper-navi .swiper-button.prev {
  background-image: url("../images/common/ico/swiper_prev_w.svg");
}
.main-content .main-visual .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/swiper_next_w.svg");
  right: 0;
}
.main-content .main-visual .img.main-banner {
  max-height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #e9e9e9;
}
.main-content .main-visual .img:after {
  content: "";
  display: block;
  padding-bottom: 30%;
}
.main-content .main-visual .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s;
}
.main-content .main-cont {
  margin: 60px 0;
}
.main-content .main-cont.type-bg {
  padding: 60px 0;
  background: #f8f8f8;
}
.main-content .main-cont .tab-list {
  margin: 40px 0 44px;
}
.main-content .prd-box .prd-info .prd-name,
.main-content .prd-box .prd-info .price-info .num-sale,
.main-content .prd-box .prd-info .detail-info span {
  font-size: 18px !important;
  overflow: hidden;
  text-overflow:ellipsis;
}
.main-content .prd-box .prd-info .price-info .num-sale {
  padding-right: 10px;
  font-size: 14px;
}
.main-content .swiper-wrap {
  position: relative;
  padding-bottom: 62px;
}
.main-content .swiper-wrap .swiper-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}
.main-content .swiper-wrap .swiper-control .swiper-count {
  font-family: "Outfit";
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
.main-content .swiper-wrap .swiper-control .swiper-count span {
  padding: 0 4px;
}
.main-content .swiper-wrap .swiper-control .swiper-count span.all-num {
  color: rgba(0, 0, 0, 0.3);
}
.main-content .swiper-wrap .swiper-control .swiper-count em {
  color: rgba(0, 0, 0, 0.3);
}
.main-content .swiper-wrap .swiper-control .pagination {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 440px;
  height: 2px;
  background: #e2e2e2;
}
.main-content .swiper-wrap .swiper-control .pagination .swiper-pagination-progressbar-fill {
  background-color: #636569;
}
.main-content .swiper-wrap .swiper-navi {
  max-width: 1560px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: -88px;
  right: -88px;
  z-index: 10;
}
.main-content .swiper-wrap .swiper-navi .swiper-button {
  font-size: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1098039216);
  border-radius: 50%;
}
.main-content .swiper-wrap .swiper-navi .swiper-button.prev {
  background-image: url("../images/common/ico/swiper_prev.svg");
}
.main-content .swiper-wrap .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/swiper_next.svg");
  right: 0;
}
.main-content .swiper-wrap .swiper-navi .swiper-button.swiper-button-disabled {
  opacity: 0.5;
}
.main-content .search-wrap {
  /*
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.0784313725);
  border-radius: 6px;
  padding: 32px;
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-content .search-wrap .tit-area {
  margin-bottom: 20px;
  width: 100%;
  /*margin-bottom: 32px;*/
}
.main-content .search-wrap .tit-area h2.tit {
  font-weight: 700;
  font-size: 32px;
}
.main-content .search-wrap .search-box .total {
  top: 14px;
  font-size: 16px;
}
.main-content .search-wrap .search-box .total strong {
  font-size: 18px;
}
.main-content .search-wrap .search-box input {
  padding-left: 0px;
  padding-right: 60px;
  border : none;
  border-bottom : 2px solid #222222;
}
.main-content .search-wrap .search-area {
  max-width: 600px;
  margin: 0px auto;
  /*max-width: 500px;*/
}
.main-content .search-wrap .search-area .search-box .btn-search {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  width: 36px;
  height: 36px;
  background: url("../images/common/ico/btn_search_p_black_32_32.svg") no-repeat center;
}
.main-content .search-wrap .search-area .search-list {
  display: flex;
  margin: 15px 0px;
  /*max-width: calc(100% - 24px);*/
}
.main-content .search-wrap .search-area .search-list.hide-m {
  display: flex;
  margin: 15px 0px;
  /*max-width: calc(100% - 24px);*/
}
.main-content .search-wrap .search-area .search-list a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #222;
  padding: 12px 10px;
  border: 1px solid #DDDDDD;
  border-radius: 99px;
}
.main-content .search-wrap .search-area .search-list a::before {
  content: "#";
  padding-right: 3px;
}
.main-content .search-wrap .search-area .search-list .swiper {
  /*margin-left: 0;*/
  margin: 0px auto;
}
.main-content .search-wrap .search-area .search-list .swiper .swiper-slide {
  width: auto;
}
.main-content .search-wrap .search-area .search-list .swiper-navi {
  display: flex;
  margin-left: 10px;
}
.main-content .search-wrap .search-area .search-list .swiper-navi .swiper-button {
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url("../images/common/ico/search_prev.svg") no-repeat center/cover;
}
.main-content .search-wrap .search-area .search-list .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/search_next.svg");
}
.main-content .search-wrap .search-area .search-list .swiper-navi .swiper-button.swiper-button-disabled {
  opacity: 0.5;
}
.main-content .search-wrap .select-wrap {
  position: relative;
  display: flex;
  width: calc(100% - 202px);
}
.main-content .search-wrap .select-wrap .select-box {
  flex: 1;
}
.main-content .search-wrap .select-wrap .select-box + .select-box {
  margin-left: 10px;
  width: calc(100% - 52px);
}
.main-content .search-wrap .select-wrap .select-box.disabled {
  cursor: default;
  pointer-events: none;
}
.main-content .search-wrap .select-wrap .select-box.disabled .select {
  background-color: #f5f5f5;
}
.main-content .search-wrap .select-wrap .select-box.selected .select {
  font-weight: 600;
  color: #000;
}
.main-content .search-wrap .select-wrap .select-box.on .select {
  font-weight: 600;
  color: #B82927;
  border-color: #B82927;
}
.main-content .search-wrap .select-wrap .select-box.on .select::after {
  background-image: url("../images/common/ico/select_arrow_on.svg");
  transform: translateY(-50%) scaleY(-1) !important;
}
.main-content .search-wrap .select-wrap .select-box .select {
  height: 62px;
  line-height: 60px;
  border-radius: 6px;
  padding: 0 40px 0 24px;
  color: #636569;
  border-color: #dddddd;
}
.main-content .search-wrap .select-wrap .select-box .select::after {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .search-wrap .select-wrap .select-box .select.on {
  font-weight: 600;
  color: #B82927;
  border-color: #B82927;
}
.main-content .search-wrap .select-wrap .btn {
  margin-left: 12px;
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  font-size: 18px;
}
.main-content .search-wrap .select-wrap .option-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.0784313725);
  border-radius: 6px;
  margin-top: 20px;
  padding: 16px 10px 12px;
  width: calc(100% - 102px);
}
.main-content .search-wrap .select-wrap .option-box .option-list {
  padding: 0;
  height: 234px;
  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.main-content .search-wrap .select-wrap .option-box .option-list::-webkit-scrollbar {
  width: 4px;
  background: none;
}
.main-content .search-wrap .select-wrap .option-box .option-list::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 60px;
  background: rgba(153, 153, 153, 0.3);
}
.main-content .search-wrap .select-wrap .option-box .option-list li {
  width: 20%;
  height: auto;
}
.main-content .search-wrap .select-wrap .option-box .option-list li.type-detail li {
  width: 33.3333333333%;
}
.main-content .search-wrap .select-wrap .option-box .option-list li a {
  display: block;
  padding: 10px;
  font-size: 15px;
  color: #636569;
  transition: all 0.35s;
}
.main-content .search-wrap .select-wrap .option-box .option-list li:hover a, .main-content .search-wrap .select-wrap .option-box .option-list li.on a {
  color: #B82927;
}
.main-content .new-wrap .prd-box, .main-content .review-wrap .prd-box {
  /*box-shadow: 2px 4px 9px rgba(23, 23, 23, 0.0588235294);*/
  border-radius: 8px;
}
.main-content .new-wrap .swiper, .main-content .review-wrap .swiper {
  /*padding-bottom: 10px;*/
  padding: 0 10px 10px;
  margin: 0 -10px;
}
.main-content .new-wrap .prd-box.display-grid .prd-list {
  border-radius: 8px;
}
.main-content .new-wrap .prd-box.display-grid .prd-thumb {
  border-radius: 8px;
  box-shadow: 2px 4px 9px rgba(23, 23, 23, 0.0588235294);
}
.main-content .new-wrap .prd-box .prd-thumb, .main-content .review-wrap .prd-box .prd-thumb {
  border-radius: 8px;
}
.main-content .new-wrap .swiper-wrap .swiper-navi {
  top: 40%;
}
.main-content .recommend-wrap {
  margin-top: 0;
}
.main-content .recommend-wrap .recommend-cont {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-content .recommend-wrap .recommend-cont .cont-area .text-area {
  font-family : "SUITE";
  font-size : 22px;
  line-height : 1.2;
}
.main-content .recommend-wrap .recommend-cont .main-area {
  width: 49.334%;
  border-radius: 12px;
  overflow: hidden;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box:hover .btn-like {
  right: 30px;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb {
  max-height: 432px;
  display: block;
  position: relative;
  overflow: hidden;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb:after {
  content: "";
  display: block;
  padding-bottom: 85.813%;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb > a::after {
  content: "";
  display: block;
  background: transparent linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3137254902) 48%, rgba(0, 0, 0, 0) 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 20;
  color: #fff;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .prd-name {
  color: #fff;
  min-height: auto;
  font-size: 24px;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info{
  padding-top: 4px;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .sale-price {
  font-size: 20px;
  text-decoration: line-through;
  padding-right: 8px;
  color: #bbb;
  font-weight: 700;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .num-price {
  font-size: 24px;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .detail-info {
  padding-top: 0;
}
.main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .detail-info span {
  color: #bbb;
}
.main-content .recommend-wrap .recommend-cont .main-area .btn-like {
  bottom: 30px;
}
.main-content .recommend-wrap .recommend-cont .cont-area {
  flex: 1;
  width: 46.834%;
}
.main-content .recommend-wrap .recommend-cont .cont-area .prd-list{
  max-height: 432px;
}
.main-content .recommend-wrap .recommend-cont .cont-area .prd-row .prd-box .prd-thumb{
  width: 172px;
  max-height: 127px;
}
.main-content .recommend-wrap .recommend-cont .cont-area .prd-list li + li {
  margin-top: 26px;
}
.main-content .recommend-wrap .recommend-cont .cont-area .prd-box .prd-info .detail-info{
  padding-top: 10px;
}
.main-content .recommend-wrap .recommend-cont .cont-area .prd-box .prd-info .price-info .num-sale {
  padding-right: 12px;
}
.main-content .financial-wrap .financial-cont {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-content .financial-wrap .financial-cont .cont-area .text-area {
  font-family : "Pretendard";
  font-size : 20px;
  line-height : 1.2;
  font-weight: 400;
  color: #555555;
}
.main-content .financial-wrap .financial-slide{
  height: 50px;
}
.main-content .financial-wrap .financial-slide .swiper-slide{
  height: 100%;
  margin: auto;
  display: block;
}

.main-content .sub-visual {
  /*border-radius: 12px;*/
  overflow: hidden;
  position: relative;
}
.main-content .sub-visual .swiper{
  /*border-radius: 12px;*/
  overflow: hidden;
  position: relative;
}
.main-content .sub-visual .swiper-count {
  position: absolute;
  left: auto;
  right: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.26);
  text-align: center;
  width: 86px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-family: "SUITE";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  z-index: 10;
  display: inline-block;
}
.main-content .sub-visual .swiper-count em {
  margin: 0 4px;
}
.main-content .sub-visual a {
  display: block;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.main-content .sub-visual a:after {
  content: "";
  display: block;
  padding-bottom: 12%;
}
.main-content .sub-visual a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.35s;
}
.main-content > div > .tit-area > .tit {
  font-size: 32px;
}
.main-content .efficient-wrap .prd-box, .main-content .review-wrap .prd-box {
  /*box-shadow: 2px 4px 9px rgba(23, 23, 23, 0.0588235294);*/
  border-radius: 8px;
}
.main-content .efficient-wrap .prd-box.display-grid .prd-list {
  border-radius: 8px;
}
.main-content .efficient-wrap .prd-box.display-grid .prd-thumb {
  border-radius: 8px;
  box-shadow: 2px 4px 9px rgba(23, 23, 23, 0.0588235294);
}
.main-content .efficient-wrap .prd-box .prd-thumb, .main-content .review-wrap .prd-box .prd-thumb {
  border-radius: 8px;
}
.main-content .efficient-wrap .prd-box .prd-info, .main-content .review-wrap .prd-box .prd-info , .main-content .new-wrap .prd-box .prd-info {
  margin-bottom: 62px;
}
.main-content .prd-box .prd-info .price-info{
  line-height: 22px;
}
.main-content .prd-box .prd-info .price-info .num-price {
  font-size: 24px;
  font-weight: 400;
}
.main-content .recommend-cont .prd-box .prd-info .price-info .num-price {
  font-size: 30px;
  font-weight: 700 !important;
}
.main-content .prd-box .prd-info .price-info .num-price-black {
  font-size: 24px;
  font-weight: 700;
}
.main-content .prd-box .prd-info .price-info .num-month-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 8px;
}
.main-content .prd-box .prd-info .price-info .num-month-price-red {
  color: #B82927;
  font-weight: 700;
  font-size: 18px;
}
.main-content .prd-box .prd-info .detail-info{
  padding-top: 8px;
}
.main-content .event-wrap .event-img {
  border-radius: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.main-content .event-wrap .event-img:after {
  content: "";
  display: block;
  padding-bottom: 65.8%;
}
.main-content .event-wrap .event-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s;
}
.main-content .review-wrap .prd-box:hover .prd-thumb img {
  transform: scale(1.1);
}
.main-content .review-wrap .prd-box .prd-info {
  min-height: 164px;
  padding-top: 48px;
}
.main-content .notice-wrap {
  padding: 21px 0;
  border-top: 1px solid #666666;
  background-color: #444444;
}
.main-content .notice-wrap .w-set {
  display: flex;
  align-items: center;
}
.main-content .notice-wrap .tit {
  flex: 0 0 auto;
  width: 118px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color:#ffffff;
}
.main-content .notice-wrap .txt-area {
  padding-right: 180px;
  flex: 1;
  font-size: 18px;
  line-height: 1.2;
  color:#ffffff;
}
.main-content .notice-wrap .txt-area .txt {
  display: inline;
}
.main-content .notice-wrap .txt-area .date {
  position: absolute;
  float: right;
  right: 16px;
  color: #aaa;
  font-size: 20px;
}

#mainPopupBg {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.4;
}

#mainPopup {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}
#mainPopup .swiper-navi {
  margin: -30px auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button {
  width: 60px;
  height: 60px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button.prev {
  background-image: url("../images/common/ico/swiper_prev_w.svg");
  left: -81px;
}
#mainPopup .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/swiper_next_w.svg");
  right: -81px;
}
#mainPopup .swiper-count {
  text-align: center;
  color: #fff;
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 65px;
  transform: translateX(-50%);
  width: 70px;
  height: 30px;
  line-height: 28px;
  font-size: 15px;
  background: rgba(51, 51, 51, 0.65);
  border-radius: 15px;
}
#mainPopup .swiper-count span {
  font-family: "SUITE";
}
#mainPopup .swiper-count span.swiper-pagination-current {
  font-weight: 500;
}
#mainPopup .swiper-count em {
  margin: 0 4px;
}
#mainPopup .swiper {
  position: relative;
  overflow: hidden;
}
#mainPopup .swiper a {
  width: 500px;
  display: block;
  position: relative;
}
#mainPopup .swiper a::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#mainPopup .swiper a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#mainPopup .mainpop-menu {
  display: flex;
}
#mainPopup .mainpop-menu button {
  color: #000;
  flex: 1;
  background: #fff;
  font-size: 16px;
  height: 56px;
  line-height: 54px;
}
#mainPopup .mainpop-menu button + button {
  position: relative;
}
#mainPopup .mainpop-menu button + button::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #a7a7a7;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .main-cont:not(.type-bg):not(.main-search) {
  margin: 100px 0px;
}
@media (max-width: 1872px) {
  .main-content .main-visual {
    max-width: calc(100% - 32px);
  }
}
@media (max-width: 1760px) {
  .main-content .main-visual {
    max-width: 1200px; !important;
    width: calc(100% - 32px);
  }
  .main-content .main-visual .swiper-navi {
    margin-top: -20px;
  }
  .main-content .main-visual .swiper-navi .swiper-button {
    margin: 0 16px;
    width: 40px;
    height: 40px;
    background-size: 20px;
  }
}
@media (max-width: 1460px) {
  .main-content .main-cont:not(.type-bg) {
    margin: 70px 30px;
  }
  .main-content .main-cont:not(.type-bg):not(.main-search) {
    margin: 70px 0px;
  }
  .main-content .swiper-wrap .swiper-navi {
    margin-top: -60px;
    left: -40px;
    right: -40px;
  }
  .main-content .swiper-wrap .swiper-navi .swiper-button {
    width: 28px;
    height: 28px;
  }
  .main-content .event-wrap .swiper-wrap .swiper-navi {
    margin-top: -40px;
  }
}
@media (max-width: 1240px) {
  .main-content .recommend-wrap .recommend-cont {
    gap: 30px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box:hover .btn-like {
    right: 16px;
  }
  /*.main-content .recommend-wrap .recommend-cont .cont-area .prd-box {
    max-width: calc(100% - 30px);
  }*/
  .main-content .recommend-wrap .recommend-cont .cont-area .prd-box .prd-thumb {
    width: 22%;
  }
  .main-content .sub-visual a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .main-content .sub-visual a:after {
    content: "";
    display: block;
    padding-bottom: 25%;
  }
  .main-content .sub-visual a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s;
  }
  .main-content .efficient-wrap .prd-box .prd-info, .main-content .review-wrap .prd-box .prd-info , .main-content .new-wrap .prd-box .prd-info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-content .review-wrap .prd-box .prd-info .review-tit {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .main-content .review-wrap .prd-box .prd-info .review-txt {
    font-size: 13px;
  }
}
@media (max-width: 1023px) {
  .main-content .main-visual {
    max-width: 1200px; !important;
    width: calc(100% - 32px);
  }
  .hide-pc.main-banner{
    display: none !important;
  }
  .hide-m.main-banner{
    display: none !important;
  }
  .hide-t.main-banner{
    display: block !important;
  }
  .main-content h2.tit {
    font-size: 22px;
  }
  .main-content .tit-area:not(.main-search){
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .main-content .prd-box .prd-info .prd-name{
    font-size: 14px;
    min-height: 36px;
  }
  .main-content .prd-box .prd-info .prd-info .num-price, .main-content .prd-box .prd-info .prd-info .num-price .num-price-black {
    font-size: 18px;
  }
  .main-content .prd-box .prd-info .prd-info .num-month-price, .main-content .prd-box .prd-info .prd-info .num-month-price .num-month-price-red{
    font-size: 14px;
  }



  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .prd-name {
    color: #fff;
    min-height: auto;
    font-size: 16px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info{
    padding-top: 6px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .sale-price {
    font-size: 16px;
    text-decoration: line-through;
    color: #bbb;
    font-weight: 700;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .num-price {
    font-size: 22px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .detail-info {
    font-size: 14px;
  }



  .main-content .main-cont:not(.type-bg):not(.main-search){
    margin: 35px 0;
  }
  .main-content .tit-area {
    margin-bottom: 20px;
  }
  .main-content .main-visual .img {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 220px;
  }
  .main-content .main-visual .img:after {
    content: "";
    display: block;
    padding-bottom: 79.27%;
  }
  .main-content .main-visual .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all 0.35s;
  }
  .main-content .main-visual .swiper-control {
    max-width: 150px;
    bottom: 10px;
    text-align: center;
    transform: initial;
    left: 40%;
  }
  .main-content .main-visual .swiper-control:not(.bullets) .swiper-count {
    font-size: 13px;
    font-weight: 700;
  }
  .main-content .main-visual .swiper-control:not(.bullets) .swiper-count span.active-num {
    padding: 0 8px 0 0;
  }
  .main-content .main-visual .swiper-control:not(.bullets) .swiper-count span.all-num {
    padding: 0 0 0 8px;
  }
  .main-content .main-visual .swiper-control:not(.bullets) .pagination {
    max-width: 50px;
  }
  .main-content .main-visual .swiper-control:not(.bullets) .pause, .main-content .main-visual .swiper-control:not(.bullets) .play {
    margin-left: 12px;
    width: 18px;
    height: 18px;
    background-size: 5px;
  }
  .main-content .main-visual .swiper-control .play {
    margin-left: 12px;
  }
  .main-content .main-visual .swiper-navi {
    display: none;
  }
  .main-content .main-cont:not(.type-bg) {
    margin: 52px 0;
  }
  .main-content .main-cont.type-bg {
    margin: 35px 0;
    padding: 0 0 35px 0;
  }
  .main-content .main-cont.type-bg .w-set {
    padding : 16px;
    max-width: 100%;
  }
  .main-content .swiper-wrap {
    padding-bottom: 32px;
  }
  .main-content .swiper-wrap .swiper-control .pagination {
    max-width: 200px;
  }
  .main-content .swiper-wrap .swiper-navi {
    display: none;
  }
  .main-content .main-top {
    padding-top: 64px;
    margin-top: 10px;
  }
  .main-content .main-top .main-cont {
    margin: 0;
  }
  .main-content .search-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 16px;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
  .main-content .search-wrap .search-box .total {
    top: 10px;
  }
  .main-content .search-wrap .search-box input {
    padding-left: 20px;
    padding-right: 40px;
    font-size: 14px;
    border : 1px solid #DDDDDD;
  }
  .main-content .search-wrap .search-area {
    max-width: 100%;
    width: 100%;
  }
  .main-content .link-wrap {
    margin: 46px auto 34px;
    display: flex !important;
    justify-content: space-between;
    gap: 24px;
    max-width: 560px;
  }
  .main-content .link-wrap .link {
    flex: 1;
    text-align: center;
  }
  .main-content .link-wrap .link i {
    display: block;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1019607843);
    border-radius: 12px;
    width: 100%;
    max-width: 58px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
  }
  .main-content .link-wrap .link i::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .main-content .link-wrap .link i.i-link1 {
    background-image: url("../images/common/ico/main_link1.png");
  }
  .main-content .link-wrap .link i.i-link2 {
    background-image: url("../images/common/ico/main_link2.png");
  }
  .main-content .link-wrap .link i.i-link3 {
    background-image: url("../images/common/ico/main_link3.png");
  }
  .main-content .link-wrap .link i.i-link4 {
    background-image: url("../images/common/ico/main_link4.png");
  }
  .main-content .link-wrap .link .txt {
    display: block;
    margin-top: 10px;
    font-family: "SUITE";
    font-weight: 500;
    font-size: 13px;
  }
  .main-content .prd-box .prd-info .prd-name,
  .main-content .prd-box .prd-info .price-info .num-sale{
    font-size: 14px !important;
  }
  .main-content .prd-box .prd-info .detail-info span {
    font-size: 12px !important;
  }
  .main-content .prd-box .prd-info .price-info .num-price {
    font-size: 18px !important;
    font-weight: 400;
  }
  .main-content .prd-box .prd-info .price-info .num-price-black {
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  .main-content .efficient-wrap .prd-box .prd-info .price-info {
    line-height: 16px;
  }
  .main-content .recommend-wrap .recommend-cont {
    flex-direction: column;
  }
  .main-content .recommend-wrap .recommend-cont .main-area {
    width: 100%;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb:after {
    content: "";
    display: block;
    padding-bottom: 84.15%;
  }
  .recommend-cont .main-area .prd-box.badge .prd-thumb:not(.popular-thumb) > a::before{
    left: 0 !important;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info {
    bottom: 16px;
    left: 16px;
    right: 16px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .prd-name {
    font-size: 16px !important;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info {
    padding-top: 6px !important;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .sale-price {
    font-size: 14px !important;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .price-info .num-price {
    font-size: 16px !important;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .prd-box .prd-info .detail-info {
    padding-top: 12px;
  }
  .main-content .recommend-wrap .recommend-cont .main-area .btn-like {
    bottom: 16px;
    right: 16px;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area {
    width: 100%;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .text-area {
    font-family : "SUITE";
    font-size : 18px;
    line-height : 1.2;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .prd-list li + li {
    margin-top: 10px;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .btn-like {
    right: auto;
    left: 17%;
    bottom: 6px;
    top: auto;
    transform: initial;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .prd-box {
    max-width: 100%;
    padding-right: 0;
    gap: 12px;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .prd-box .prd-thumb {
    width: 22%;
  }
  .main-content .sub-visual {
    border-radius: 0;
  }
  .main-content .sub-visual .swiper-count {
    right: 8px;
    bottom: 8px;
    width: 46px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
  }
  .main-content .efficient-wrap .swiper, .main-content .review-wrap .swiper {
    padding: 0 0 10px;
    margin: 0;
  }
  .main-content .efficient-wrap .tit-area {
    margin-top: 35px;
  }
  .main-content .review-wrap .prd-box .prd-thumb {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .main-content .review-wrap .prd-box .prd-thumb:after {
    content: "";
    display: block;
    padding-bottom: 70.64%;
  }
  .main-content .review-wrap .prd-box .prd-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s;
  }
  .main-content .review-wrap .prd-box .prd-info {
    min-height: 127px;
    padding: 34px 10px 20px;
  }
  .main-content .review-wrap .prd-box .prd-info .profile {
    width: 48px;
    height: 48px;
    left: 10px;
    top: -24px;
  }
  .main-content .notice-wrap .tit {
    width: 68px;
    font-size: 14px;
  }
  .main-content .notice-wrap .txt-area {
    display: flex;
    align-items: center;
    padding-right: 0;
    gap: 10px;
  }
  .main-content .notice-wrap .txt-area .txt {
    font-size: 14px;
  }
  .main-content .notice-wrap .txt-area .date {
    margin-left: auto;
    font-size: 12px;
  }
  .main-content .financial-wrap .financial-cont .cont-area .text-area {
    font-size : 14px;
  }
}
@media (max-width: 768px) {
  .main-content .main-top {
    margin-top: 5px;
  }
  .main-content .search-wrap .search-area .search-box .btn-search {
    right: 14px;
    width: 22px;
    height: 22px;
    background-image: url("../images/common/ico/btn_search_s_black_24_24.svg");
  }
  .main-content h2.tit {
    font-size: 18px;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .btn-like {
    left: 22.5%;
  }
  .hide-t.main-banner{
    display: none !important;
  }
  .hide-m.main-banner{
    display: none !important;
  }
  .hide-pc.main-banner{
    display: block !important;
  }
  .main-content .prd-box .prd-info .price-info .num-month-price {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .main-content .prd-box .prd-info .price-info .num-month-price-red {
    color: #B82927;
    font-weight: 700 !important;
    font-size: 14px !important;
  }
  .main-content .main-visual .img{
    /*max-width: 335px;*/
    height: 160px;
    border-radius: 12px;
  }
  .main-content .main-visual .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s;
  }
  .main-content .main-visual .swiper-control {
    left: 0%;
    bottom : 40px;
  }
  .main-content .main-cont.type-bg{
    margin: 0;
    padding: 0 0 15px 0;
  }
  .main-content .efficient-wrap .tit-area {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .main-content .main-cont:not(.type-bg):not(.main-search){
    margin: 20px 0;
  }
  .main-content .tit-area:not(.main-search){
    margin: 20px 0;
    font-size: 12px;
  }
  .main-content .new-wrap .new-slide {
    margin-right: -16px;
  }
  .recommend-cont .main-area .prd-box.badge .prd-thumb:not(.popular-thumb) > a::before{
    left: 3.5% !important;
  }
  .main-content .recommend-wrap .recommend-cont .cont-area .prd-box .prd-thumb {
    width: 31.5%;
  }
  .main-content .recommend-wrap .recommend-cont .prd-box .prd-info .price-info .num-price{
    font-size: 18px;
    font-weight: 700 !important;
  }
  .main-content .efficient-wrap .efficient-slide, .main-content .review-wrap .efficient-slide {
    margin-right: -16px;
  }
  .main-content .review-wrap .review-slide {
    margin-right: -16px;
  }
  .main-content .sub-visual a {
    height: 100px;
    margin : 0 auto;
    /*border-radius: 8px;*/
  }
  .main-content .sub-visual a img {
    object-fit: fill;
  }
  #mainPopup {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: initial;
    width: 100%;
    max-width: 100%;
  }
  #mainPopup .swiper-navi {
    top: -18px;
  }
  #mainPopup .swiper-navi .swiper-button {
    background-size: 18px auto;
  }
  #mainPopup .swiper-navi .swiper-button.prev {
    background-image: url("../images/common/ico/swiper_prev_m.svg");
    left: 50%;
    transform: translateX(-50%);
    margin-left: -42px;
  }
  #mainPopup .swiper-navi .swiper-button.next {
    background-image: url("../images/common/ico/swiper_next_m.svg");
    right: 50%;
    transform: translateX(50%);
    margin-right: -42px;
  }
  #mainPopup .swiper-count {
    bottom: auto;
    top: -32px;
    z-index: 1000;
    background: transparent;
  }
  #mainPopup .swiper {
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
  }
  #mainPopup .swiper a {
    width: 100%;
  }
  #mainPopup .mainpop-menu button {
    font-size: 14px;
    height: 40px;
    line-height: 38px;
  }
  #mainPopup .mainpop-menu button + button::before {
    height: 10px;
  }
}