<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout_mobile}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="search-wrap">
            <div class="search-box">
                <form action="/search/product">
                    <input type="text" name="keyword" id="searchBox" th:value="${param.keyword}" placeholder="모델, 차량번호 검색">
                    <label for="searchBox" class="is-blind">검색어 입력</label>
                    <button type="submit" class="btn-search" id="searchMobileKeyword" onclick="searchMobileKeywordApi()">검색</button>
                    <input type="hidden" name="page" value="1"/>
                </form>
            </div>
            <div class="cont is-recent">
                <div class="tit-area">
                    <span class="tit">최근 본 차량</span>
                    <button type="button" class="btn-more">더보기</button>
                </div>
                <ul class="recent-list">
                    <li th:each="recent : ${recentList}">
                        <th:block sec:authorize="!isAnonymous()">
                         <a href="javascript:;" onclick="deleteRecentCar(this , 'Y')" th:attr="data-id=${recent.id}" th:text="${(recent.makerName + ' ' + recent.modelName + ' ' + recent.detailGradeName) ?: ''}">
                         </a>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                        <a href="javascript:;" onclick="deleteRecentCar(this , 'N')" th:attr="data-id=${recent.id}" th:text="${(recent.makerName + ' ' + recent.modelName + ' ' + recent.detailGradeName) ?: ''}">
                            디젤 2.0 4WD 익스클루시브 스페셜디젤 2.0 4WD 익스클루시브 스페셜디젤 2.0 4WD 익스클루시브 스페셜

                        </a>
                        </th:block>
                    </li>
                </ul>

            </div>
            <div class="cont">
                <div class="tit-area">
                    <span class="tit">인기 검색어</span>
<!--                    <span class="date" th:if="${popularKeywordLists[0].createdAt != null}"-->
<!--                          th:text="${#dates.format(popularKeywordLists[0].createdAt, 'yyyy-MM-dd')}">2024.05.05 기준</span>-->
<!--                    <span class="date" th:if="${popularKeywordLists[0].createdAt == null}"></span>-->

                </div>
                <ul class="popular-list">
                    <li th:each="popular, i : ${popularKeywordLists}">
                        <a href="javascript:;" onclick="searchPopularCar(this)" th:attr="data-makerId=${popular.makerCodeId}, data-modelId=${popular.modelCodeId}">
                            <span class="rank">[[${i.index + 1}]]</span>
                            [[${#strings.isEmpty(popular.makerName) ? '' : popular.makerName + ' '}]]
                            [[${#strings.isEmpty(popular.modelName) ? '' : popular.modelName}]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="loading-wrap" style="display:none">
        <div class="progress-wrap">
            <div class="pw-bar">
                <div class="pw-bar-inner" id="loadingStyle" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    //서브 페이지 제목
	var hdNm = "검색";

    function fnBack() {
        location.href = "/";
    }

    document.addEventListener("DOMContentLoaded", () => {
        let searchKeyword = sessionStorage.getItem("searchKeyword");

        if(searchKeyword) {
            sessionStorage.removeItem("searchKeyword");
        }
    })
    let isLoading = false;
    function searchPopularCar(_this) {
        let makerId = _this.getAttribute("data-makerId");
        let model = _this.getAttribute("data-modelId");

        // fetch("/api/search/product", {
        //     method: "POST",
        //     headers: {
        //         "Content-Type": "application/json",
        //     },
        //     body: JSON.stringify({
        //         category1: makerId,
        //         category2: model,
        //     }),
        // })
        //     .then((response) => response.json())
        //     .then((data) => {
        //         sessionStorage.setItem("searchResults", JSON.stringify(data))
        //         location.href = "/search/product"
        //     })
        //     .catch((error) => {
        //         console.error("Error:", error);
        // })
        let loadingWrap = document.querySelector(".loading-wrap");
        loadingWrap.style.display = 'block'; // 로딩 바 DOM 요소를 표시

        // 검색 파라미터 설정
        searchParams.set('page', 1); // 예시로 'page' 파라미터를 설정
        searchParams.set('category1', makerId)
        searchParams.set('category2',model);

        // 페이지를 이동할 경로를 설정
        window.location.href = '/search/product?' + searchParams.toString();

        // 로딩 바 숨기기
        loadingWrap.style.display = 'none';
        isLoading = false;

    }

	// 최근 본 차량 더보기
	document.addEventListener("DOMContentLoaded", function() {
		var btnMore = document.querySelector('.is-recent .btn-more');
		var hiddenItems = document.querySelectorAll('.recent-list li:not(:first-child)');

		btnMore.addEventListener('click', function() {
			hiddenItems.forEach(function(item) {
				item.style.display = (btnMore.classList.contains('on')) ? 'none' : 'block';
			});
			btnMore.classList.toggle('on');
		});
	});

    // 최근 본 차량 삭제
    function deleteRecentCar(_this , loginYn) {
        var btnMore = document.querySelector('.is-recent .btn-more');
        console.log(_this.getAttribute("data-id"))

        let id = _this.getAttribute("data-id");

        console.log(loginYn);

        fetch("/api/search/mobile/delete", {
            method : "POST",
            headers : {"Content-Type" : "application/json"},
            body : JSON.stringify({
                id : id,
                loginYn : loginYn
            })
        })
            .then(res => res.json())
            .then(result => {
                if(result.code === 200) {
                    _this.parentNode.removeChild(_this);
                }
            })
    }

    const searchParams = new URLSearchParams();
    function searchMobileKeywordApi(_this) {
        if (isLoading) return;
        isLoading = true;

        // 로딩 바를 화면에 표시
        let loadingWrap = document.querySelector(".loading-wrap");
        loadingWrap.style.display = 'block'; // 로딩 바 DOM 요소를 표시

        // 검색 파라미터 설정
        searchParams.set('page', 1); // 예시로 'page' 파라미터를 설정

        let searchBox = document.getElementById("searchBox").value;

        // fetch("/api/search/product", {
        //     method: "POST",
        //     headers: {
        //         "Content-Type": "application/json",
        //     },
        //     body: JSON.stringify({
        //         keyword: searchBox,
        //     }),
        // })
        //     .then((response) => response.json())
        //     .then((data) => {
        //
        //         sessionStorage.setItem("searchResults", JSON.stringify(data))
        //         sessionStorage.setItem("searchKeyword", JSON.stringify(searchBox));
        //         location.href = "/search/product"
        //     })
        //     .catch((error) => {
        //         console.error("Error:", error);
        // })
        searchParams.set('keyword', searchBox);
        window.location.href = '/search/product?' + searchParams.toString();
    }
</script>

</html>
