<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_without_lnb}">

<head>
    <title>내 차 팔기 &gt; 연락 가능 문의 &gt; 목록 </title>
</head>

<div class="content_body" layout:fragment="content">
    <div class="mycar">
        <form>
            <div class="search_wrap">
                <table>
                    <caption>검색</caption>
                    <colgroup>
                        <col style="width:10%;">
                        <col style="width:auto;">
                        <col style="width:10%;;">
                        <col style="width:auto;">
                        <col style="width:10%;;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">상태</th>
                        <td colspan="5">
                            <div class="checkbox">
                                <th:block
                                    th:each="list : ${T(com.cuv.admin.domain.purchaseinquiry.enumset.ConsultationStatus).values()}"
                                    th:if="${(list.value ne 0 and list.value ne 5 and list.value ne 6)}">
                                    <input type="checkbox" th:id="|status_${list.value}|" name="status"
                                           th:value="${list.code}" th:checked="${condition.status ne null and condition.status.contains(list.code)}">
                                    <label th:for="|status_${list.value}|" th:text="${list.detail}">상담접수완료</label>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">키워드</th>
                        <td>
                            <select name="field" id="field" style="width: 150px;">
                                <option value="all">전체</option>
                                <option value="email" th:selected="${condition.field eq 'email'}">이메일</option>
                                <option value="name" th:selected="${condition.field eq 'name'}">회원 명</option>
                                <option value="inquiryNumber" th:selected="${condition.field eq 'inquiryNumber'}">문의번호</option>
                            </select>
                            <input type="text" name="s" th:value="${condition.s}" title="키워드" style="width: 60%;">
                        </td>
                        <th scope="row">딜러</th>
                        <td>
                            <select name="dealer" style="width: 300px;">
                                <option value="">전체</option>
                                <th:block th:each="list : ${memberDealerLists}">
                                    <option th:value="${list.id}" th:text="${list.realName}"
                                            th:selected="${condition.dealer eq list.id}">등록된 딜러 명</option>
                                </th:block>
                            </select>
                        </td>
                        <th scope="row">차량번호</th>
                        <td>
                            <input type="text" id="carNumber" name="carNumber" th:value="${condition.carNumber}" placeholder="00가0000">
                            <label for="carNumber" class="blind">차량번호 입력</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn_area align_c mt20">
                    <button type="submit" class="btn">검색</button>
                </div>
            </div>
        </form>

        <div class="list_wrap">
            <div class="list_top">
                <div class="txt_area">
                    <p>총
                        <em th:text="${#numbers.formatInteger(saleInquiryLists.totalElements, 1, 'COMMA')}">0,000</em>건
                    </p>
                </div>
                <div class="util_area">
                    <button type="button" id="delBtn" class="btn btn_form5">삭제</button>
                    <button type="button" id="btnExcelDownload" class="btn btn_form1">엑셀 다운로드</button>
                </div>
            </div>
            <div class="list_table">
                <table>
                    <caption>검색 결과</caption>
                    <colgroup>
                        <col style="width:2%;">
                        <col style="width:3%;">
                        <col style="width:8%;">
                        <col style="width:6%;">
                        <col style="width:6%;">
                        <col style="width:6%;">
                        <col style="width:6%;">
                        <col style="width:8%;">
                        <col style="width:8%;">
                        <col style="width:8%;">
                        <col style="width:8%;">
                        <col style="width:8%;">
                        <col style="width:6%;">
                        <col style="width:auto;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="allChk">
                            <label for="allChk" class="blind">전체선택</label>
                        </th>
                        <th scope="col">번호</th>
                        <th scope="col">문의번호</th>
                        <th scope="col">차량 사진</th>
                        <th scope="col">판매 희망 차량</th>
                        <th scope="col">상태</th>
                        <th scope="col">회원 명</th>
                        <th scope="col">이메일</th>
                        <th scope="col">휴대폰번호</th>
                        <th scope="col">판매 여부</th>
                        <th scope="col">
                            <div class="sort">
                                <span>방문 예약일시</span>
                                <div class="sort_wrap">
                                    <button type="button" onclick="sorting('visitReservationAt', 'asc');">역순정렬</button>
                                    <button type="button" onclick="sorting('visitReservationAt', 'desc');">순차정렬</button>
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="sort">
                                <span>등록일시</span>
                                <div class="sort_wrap">
                                    <button type="button" onclick="sorting('createdAt', 'asc');">역순정렬</button>
                                    <button type="button" onclick="sorting('createdAt', 'desc');">순차정렬</button>
                                </div>
                            </div>
                        </th>
                        <th scope="col">배정 딜러</th>
                        <th scope="col">최근 상담 기록</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${saleInquiryLists.isEmpty()}">
                        <td colspan="14">등록된 문의가 없습니다.</td>
                    </tr>
                    <tr th:each="sale : ${saleInquiryLists}">
                        <td>
                            <input type="checkbox" th:id="|sale_${sale.id}|" name="id" th:value="${sale.id}">
                            <label th:for="|sale_${sale.id}|" class="blind">선택</label>
                        </td>
                        <td th:text="${#numbers.formatInteger(saleInquiryLists.totalElements - saleInquiryLists.number * saleInquiryLists.size - saleStat.index, 1, 'COMMA')}">
                            50
                        </td>
                        <td>
                            <a th:href="@{/admin/sale/inquiry/__${sale.id}__}" class="btn_link"
                                th:text="${sale.inquiryNumber}">240501-001</a>
                        </td>
                        <td>
                            <a th:href="|javascript: window.open('/admin/sale/vehicle/' + ${sale.id}, '팝업창', 'width=1000, height=900');|"
                                class="imgbox">
                                <img th:src="@{/api/file/view/__${sale.attachments.get(0).uuid}__?size=200}" alt="이미지">
                            </a>
                        </td>
                        <td>
                            <a th:href="|javascript: window.open('/admin/sale/vehicle/' + ${sale.id}, '팝업창', 'width=1000, height=900');|"
                                class="btn_link" th:text="${sale.carPlateNumber}">00가0000</a>
                        </td>
                        <td class="state" th:text="${sale.consultationStatus.code eq null ? '-' :
                            sale.consultationStatus.detail}">상담접수완료</td>
                        <td>
                            <a th:href="@{/admin/member/member/__${sale.memberId}__}" class="btn_link"
                               th:text="${sale.realName}">홍길동</a>
                        </td>
                        <td>
                            <a th:href="@{/admin/member/member/__${sale.memberId}__}" class="btn_link"
                               th:text="${sale.email}">000@naver.com</a>
                        </td>
                        <td><a th:href="@{/admin/member/member/__${sale.memberId}__}" class="btn_link"
                               th:text="${sale.mobileNumber}">010-0000-0000</a>
                        </td>
                        <td th:text="${sale.paymentYn.yn eq 'Y' ? '판매 완료' : '-'}">010-0000-0000</td>
                        <td>
                            <span th:if="${sale.visitReservationAt eq null}">-</span>
                            <span th:unless="${sale.visitReservationAt eq null}"
                                  th:utext="${#temporals.format(sale.visitReservationAt, 'yyyy-MM-dd')} + '&lt;br&gt;'
                                  + ${#temporals.format(sale.visitReservationAt, 'HH:mm')}">-</span>
                        </td>
                        <td th:utext="${#temporals.format(sale.createdAt, 'yyyy-MM-dd')} + '&lt;br&gt;'
                            + ${#temporals.format(sale.createdAt, 'HH:mm:ss')}">2024-01-03 <br>14:00:57</td>
                        <td th:text="${(sale.dealer eq null ? '-' : sale.dealer)}">홍길동</td>
                        <td>
                            <th:block th:if="${sale.inquiryDetailWriter eq null}">-</th:block>
                            <th:block th:unless="${sale.inquiryDetailWriter eq null}">
                                <div class="align_l txt_over">
                                    <strong>[<th:block th:text="${sale.inquiryDetailWriter}"></th:block>]</strong>
                                    <th:block th:text="${sale.inquiryDetailContent}">입력한 상담 기록 길면 한줄로 표시됩니다.</th:block>
                                </div>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/pagination :: pagination (${saleInquiryLists})}"></div>
            </div>
        </div>
    </div>

<script layout:fragment="script" th:inline="javascript">
    let allCheckbox = document.getElementById('allChk');
    let checkboxes = document.querySelectorAll('input[name="id"]');

    // 체크박스 조작
    allCheckbox.addEventListener('click', () => {
        checkboxes.forEach(chk => chk.checked = allCheckbox.checked);
    });

    checkboxes.forEach(chk => {
        chk.addEventListener('click', () => {
            if (!chk.checked) {
                allCheckbox.checked = false;
            } else {
                allCheckbox.checked = Array.from(checkboxes).every(checkbox => checkbox.checked);
            }
        });
    });

    // 삭제
    document.getElementById('delBtn').addEventListener('click', () => {
        const deletingInquiries = document.querySelectorAll('input[name="id"]:checked');

        if (deletingInquiries.length < 1) {
            alert("삭제할 문의를 선택해주세요.");
            return;
        }

        if (!confirm('삭제하시겠습니까?')) return;

        let inquiryIds = [];

        deletingInquiries.forEach(inquiry => {
            inquiryIds.push(inquiry.value);
        });

        const formData = new FormData();
        inquiryIds.forEach(value => {
            formData.append('id[]', value);
        });

        fetch(`/admin/sale/inquiry/delete`, {
            method: 'DELETE',
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                if (result.code !== 200)
                    throw new Error(result.message);

                alert('삭제되었습니다.');
                location.reload();
            })
            .catch(error => {
                console.error(error);
                alert(error);
            });
    });

    // 정렬
    function sorting(sort, order) {
        location.href = '/admin/sale/inquiry?sort=' + sort + '&order=' + order;
    }

    // 엑셀 다운로드
    document.getElementById('btnExcelDownload').addEventListener('click', () => {
        const form = document.forms[0];
        form.append();
        form.action = '/admin/sale/all/excel';
        form.submit();
        form.action = '';
    });
</script>
</html>
