<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_member}">
<th:block layout:fragment="content">
    <div class="member-wrap">
        <div class="join-wrap">
            <div class="w-set">
                <div class="tit-area">
                    <h2 class="tit hide-m">비밀번호 찾기</h2>
                    <p class="txt">이메일 회원가입 회원에 해당됩니다.<br>가입하실 때 입력했던 정보를 입력해주세요</p>
                </div>
                <form action="">
                    <div class="input-wrap">
                        <div class="input-item">
                            <p class="input-tit required">성명</p>
                            <input type="text" name="id" id="userName" placeholder="">
                            <label for="userName" class="is-blind">성명</label>
                        </div>
                        <div class="input-item">
                            <p class="input-tit required">이메일</p>
                            <div class="email-ui">
                                <input type="text" name="" id="emailId" placeholder="">
                                <label for="emailId" class="is-blind">이메일</label>
                                <span class="at">@</span>
                                <select name="" id="emailDomain">
                                    <option value="">직접입력</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <!-- 추가 도메인 옵션들 -->
                                </select>
                                <input type="text" id="domainInput" class="input-direct" style="display: block;" placeholder="도메인 직접 입력" />
                            </div>
                            <p class="error-txt" style="display: none">정보가 올바르지 않습니다.</p>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <!-- 활성화시 is-disabled 클래스 삭제 -->
                        <button type="button" id="confirmButton" class="btn is-disabled">확인</button>
                    </div>
                </form>

<!--                <div class="load-wrap" id="loadingBar" style="display: none">-->
<!--                    <div class="spinner-svg"></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="loading-wrap" style="display:none">
        <div class="progress-wrap">
            <div class="pw-bar">
                <div class="pw-bar-inner" id="loadingStyle" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    var hdNm = "비밀번호 찾기";

    // 요소 선택
    let userNameInput = document.getElementById('userName');
    let emailIdInput = document.getElementById('emailId');
    let emailDomainSelect = document.getElementById('emailDomain');
    let confirmButton = document.getElementById('confirmButton');
    let customEmailDomainInput = document.getElementById('domainInput');

    // 입력 필드의 변경 이벤트 리스너 추가
    function validateInputs() {
        let userName = userNameInput.value.trim();
        let emailId = emailIdInput.value.trim();
        let emailDomain = emailDomainSelect.value.trim();
        let domainInput = customEmailDomainInput.value.trim();

        let isEmailValid;

        if (emailDomain === "" && domainInput === "") {
            isEmailValid = false;
        } else {
            isEmailValid = true;
        }

        if (userName !== "" && emailId !== "" && isEmailValid) {
            confirmButton.classList.remove('is-disabled');
        } else {
            confirmButton.classList.add('is-disabled');
        }
    }

    document.getElementById('emailDomain').addEventListener('change', function () {
        const domainInput = document.getElementById('domainInput');
        if (this.value === '') {
            domainInput.style.display = '';
            domainInput.value = '';
        } else {
            domainInput.style.display = 'none';
            domainInput.value = this.value;
        }
        validateInputs();
    });

    // 이메일 도메인 선택 변경 이벤트 리스너 추가
    emailDomainSelect.addEventListener('change', () => {
        if (emailDomainSelect.value === "직접 입력") {
            // selectbox를 input 요소로 변경
            customEmailDomainInput = document.createElement('input');
            customEmailDomainInput.type = 'text';
            customEmailDomainInput.id = 'customEmailDomain';
            customEmailDomainInput.placeholder = '직접 입력';
            emailDomainSelect.parentNode.replaceChild(customEmailDomainInput, emailDomainSelect);
            customEmailDomainInput.addEventListener('input', validateInputs);
        }
        validateInputs();
    });

    userNameInput.addEventListener('input', validateInputs);
    emailIdInput.addEventListener('input', validateInputs);
    customEmailDomainInput.addEventListener('input', validateInputs);

    document.getElementById("confirmButton").onclick = () => {
        let memberName = document.getElementById("userName").value;

        if(memberName.trim() == "") {
            alert("성명을 입력해주세요.");
            return;
        }

        let emailId = document.getElementById("emailId").value;
        let emailDomain = customEmailDomainInput.value || emailDomainSelect.value;
        let emailString = emailId + '@' + emailDomain;


        let loadingProgress = 0;
        const loadingInterval = setInterval(() => {
            loadingProgress += 10; // 게이지를 10%씩 증가
            document.getElementById("loadingStyle").style.width = loadingProgress + "%";

            // 만약 게이지가 90%에 도달하면 더 이상 증가하지 않음
            if (loadingProgress >= 90) {
                clearInterval(loadingInterval);
            }
        }, 100); // 100ms마다 진행 상태 업데이트

        document.querySelector(".loading-wrap").style.display = "block";

        fetch("/find/password/email", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                memberName: memberName,
                email: emailString
            })
        })
            .then(res => res.json())
            .then(result => {
                if(result.code !== 200) {
                    document.querySelector(".loading-wrap").style.display = "none";
                    $popup.alert(result.message);
                } else {
                    // 로딩바가 100%로 채워지도록 함
                    document.querySelector(".loading-wrap").style.display = "block";

                    clearInterval(loadingInterval); // 로딩 상태 업데이트 중지

                    document.getElementById("loadingStyle").style.width = "100%";
                    setTimeout(() => {
                        location.href = '/find/password/complete'; // 페이지 이동
                    }, 500); // 0.5초 후에 페이지 이동
                }
            })
            .catch(error => {
                document.getElementById("loadingStyle").style.width = "100%"; // 로딩바를 바로 100%로
                alert("오류가 발생했습니다. 다시 시도해주세요.");
            });
    };

    const inputField = document.getElementById('domainInput');

    inputField.addEventListener('input', function(e) {
        const value = e.target.value;

        // 한글을 입력하지 못하게 하도록 한글만을 제거하는 정규식 적용
        e.target.value = value.replace(/[\u3131-\u318E\uAC00-\uD7A3]/g, '');
    });

</script>
</html>
