<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_member}">

<th:block layout:fragment="content">
    <div class="member-wrap">
        <div class="login-wrap">
            <div class="w-set">
                <div class="tit-area">
                    <div class="logo">
                        <span class="is-blind">카통령</span>
                    </div>
                </div>
                <ul class="sns-list">
                    <li>
                        <a href="/oauth2/authorization/kakao" class="sns">
                            <i class="i-kakao"></i>
                            <span class="txt">카카오</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oauth2/authorization/naver" class="sns">
                            <i class="i-naver"></i>
                            <span class="txt">네이버</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oauth2/authorization/google" class="sns">
                            <i class="i-google"></i>
                            <span class="txt">Google</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oauth2/authorization/apple" class="sns">
                            <i class="i-apple"></i>
                            <span class="txt">Apple</span>
                        </a>
                    </li>
                </ul>
                <p class="login-email">
                    <a href="/login/email">이메일로 시작하기</a>
                </p>
                <th:block th:if="${!loginBanner.isEmpty()}">
                    <div class="banner-wrap" th:each="login : ${loginBanner}" id="loginBanner">
                        <a th:href="${login.linkUrl}" th:target="${login.linkType.target}">
                            <img th:src="@{/api/file/view/{uuid}(uuid = ${login.pcAttachment.uuid})}"
                                 alt="로그인 배너" class="hide-m">
                            <img th:src="@{/api/file/view/{uuid}(uuid = ${login.mobileAttachment.uuid})}"
                                 alt="로그인 배너" class="hide-pc">
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="wbz-popup-cont is-template" id="loginPopup">
        <div class="popup-header">
            <button type="button" class="popup-close" onclick="$popup.close();">✕</button>
        </div>
        <div class="popup-cont">
            <div class="login-wrap">
                <p class="txt">이미 가입한 계정이 있어요</p>
                <div class="member-box"><span id="regTypeTag">(카카오)</span>로 가입한 회원입니다.</div>
                <div class="popup-button">
                    <a href="/login" type="button" class="cr_1 popup-confirm-event">기존 계정으로 로그인하기</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">

    function fnBack() {
        location.href = "/";
    }

    document.addEventListener("DOMContentLoaded", () => {
        let errorMessage = /*[[${errorMessage}]]*/ '';
        let errorType = /*[[${errorType}]]*/ '';

        if (errorMessage && errorType) { // 탈퇴 및 정지
            $popup.alert(errorMessage);
        } else if(errorMessage) { // sns 중복 회원
            document.getElementById("regTypeTag").innerText = '(' + errorMessage + ')';
            $popup.template("#loginPopup");
        }
    });

    // 모바일 구글로그인 결과 값 받는 함수
    function handleGoogleLogin(googleUserInfo) {
        fetch('/login/app/google', {
            method: 'POST',  // POST 요청
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(googleUserInfo)
        })
        .then(response => response.json())
        .then(result => {
            if(result.code !== 200)
                throw new Error(result.message);

            location.href = "/";
        })
        .catch((error) => {
            console.error('Error:', error);
        });

    }
</script>
</html>
