<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_member}">

<th:block layout:fragment="content">
    <div class="member-wrap">
        <div class="join-wrap">
            <div class="w-set">
                <div class="tit-area hide-m">
                    <h2 class="tit">비밀번호 재설정</h2>
                </div>
                <form action="">
                    <div class="input-wrap">
                        <div class="input-item">
                            <p class="input-tit">새 비밀번호</p>
                            <div class="item">
                                <input type="hidden" name="jwtToken" th:value="${jwtToken}">
                                <input type="password" id="newPassword" placeholder="새 비밀번호를 입력해주세요.">
                                <label for="newPassword" class="is-blind">새 비밀번호</label>
                            </div>
                            <div class="item">
                                <input type="password" id="confirmPassword" placeholder="새 비밀번호를 확인해주세요.">
                                <label for="confirmPassword" class="is-blind">새 비밀번호 확인</label>
                            </div>
                            <p class="info-txt">8-12자로 구성 (대, 소문자, 숫자, 특수문자 포함)</p>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <!-- 활성화시 is-disabled 클래스 삭제 -->
                        <button type="button" class="btn is-disabled" id="changeBtn">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    // 서브 페이지 제목
    var hdNm = "비밀번호 재설정";

    // 비밀번호와 확인 비밀번호 입력 필드
    let newPassword = document.getElementById('newPassword');
    let confirmPassword = document.getElementById('confirmPassword');
    let changeBtn = document.getElementById('changeBtn');

    // 입력 필드의 값이 변경될 때마다 호출되는 함수
    function validatePasswords() {
        if (newPassword.value && confirmPassword.value) {
            changeBtn.classList.remove('is-disabled');
        } else {
            changeBtn.classList.add('is-disabled');
        }
    }

    // 입력 필드에 이벤트 리스너 추가
    newPassword.addEventListener('input', validatePasswords);
    confirmPassword.addEventListener('input', validatePasswords);

    document.getElementById("changeBtn").onclick = () => {
        // 버튼이 비활성화 상태일 때는 함수 종료
        if (changeBtn.classList.contains('is-disabled')) {
            return;
        }

        let jwtToken = document.querySelector("input[name='jwtToken']").value;
        fetch("/find/password/reset", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                newPassword: newPassword.value,
                confirmPassword: confirmPassword.value,
                jwtToken: jwtToken
            })
        })
            .then(res => res.json())
            .then(result => {
                if (result.code === 200) {
                    console.log(result);

                    // return false;
                    $popup.alert(result.message, {
                        modal: true,
                        confirm: () => {
                            location.href = "/login/email";
                        },
                        close: () => {
                            location.href = "/login/email";
                        }
                    });
                } else {
                    $popup.alert(result.message);
                }
            });
    }

</script>
</html>
