<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="w-set">
        <div class="tit-area">
            <h2 class="tit hide-m">고객후기</h2>
        </div>
        <div class="review-wrap">
            <ul class="review-list">
                <!-- 리뷰 리스트 반복 -->
                <li th:each="review : ${reviewList}">
                    <a th:href="@{/review/__${review.id}__}">
                        <div class="review-top">
                            <div class="img">
                                <img th:src="${review.attachment != null ? review.attachment.realUrl : '/path/to/default/image.jpg'}" alt="Review Image">
                            </div>
                            <div class="txt-area">
                                <p class="tit" th:text="${review.title}">제목 1줄 출력 너무 길면 말 줄임 …</p>
                                <p class="txt" th:utext="${review.content}">상담부터 구매까지 엄청 친절하시고 </p>
                            </div>
                        </div>
                        <span class="date" th:text="${review.formattedCreatedAt}">2024.05.10 14:09:1</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="~{fragments/pagination :: pagination(${reviewList})}"></div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    var hdNm = "고객후기";
</script>
</html>
